[2018-01-31 03:37] #470 closed, assigned to drnikolaev

[2018-01-31 04:19] leon-liangwu opened #474 "gpu memory consumption increases when there is no softmax loss."
I notice that version 0.16.5 consume more gpu memory without softmax loss.
Does anyone find this too?

[2018-01-31 08:30] drnikolaev commented on #474
This would be helpful to see some logs confirming the statement.

[2018-02-01 13:09] leon-liangwu commented on #474
@drnikolaev
This is the gpu memory consumption when I train the classification target.
![mb-reg-0 75-loss](https://user-images.githubusercontent.com/7507360/35679690-fbeb3a14-0792-11e8-9684-947037fa1481.png)
The prototxt is here.
[MobileNet_deploy_0.75.prototxt.txt](https://github.com/NVIDIA/caffe/files/1685600/MobileNet_deploy_0.75.prototxt.txt)

If I delete the loss leaving the conv to be the la

[2018-02-01 22:07] drnikolaev commented on #474
@DreamHorse0301 this is correct behavior. Have you noticed that instead of having single output like this:
[code]
you get 64064 ones like this:
[code]
You removed aggregating layer and now NVCaffe has to maintain them all. It takes GPU memory. See also this code:
[code]

[2018-02-01 22:07] #474 closed, assigned to nobody

[2018-02-02 05:01] leon-liangwu opened #476 "gpu memory consume more on 0.16.5 than that on 0.16.4"
@drnikolaev

Gpu consumption on 0.16.5 and 0.16.4. I find that it needs much more gpu memory on 0.16.5.
![mb-0 75-zero_loss-0 16 4](https://user-images.githubusercontent.com/7507360/35717252-fc71e2ea-0818-11e8-8604-db1d6024359a.png)
![mb-0 75-zero_loss_0 16 5](https://user-images.githubusercontent.com/7507360/35717259-01edbb72-0819-11e8-8123-2304b51e5b9c.png)

Try this zero_loss:
[zero_loss_layer.

[2018-02-05 03:15] drnikolaev commented on #398
@RSly @drozdvadym we got green light: https://github.com/NVIDIA/caffe/tree/models
Please give it a try

[2018-02-05 03:15] #398 closed, assigned to nobody

[2018-02-07 01:59] dashesy opened #477 "Multi-GPU difference with BVLC/Caffe"
What is the benefit of using Nvidia/caffe over BVLC/caffe when it comes to multi-gpu training/testing? Can I use NVIDIA/caffe with mpirun on multiple nodes for distributed learning?

[2018-02-07 08:31] drnikolaev commented on #477
Hi @dashesy in multi-gpu department you may find it a little bit faster and more accurate. Here
https://github.com/NVIDIA/caffe/tree/models
you can find an example of RN-50 trained in 5h 51m to 76.77% top-1 and 93.33% top-5 accuracy.
No multi-node support though.

[2018-02-07 10:05] leon-liangwu commented on #476
Dear @drnikolaev, could please help me to solve this problem?
This is needed because if too much memory used on gpu 0, no other training can be run on other gpus.
Please.

[2018-02-07 17:28] #477 closed, assigned to nobody

[2018-02-07 19:07] drnikolaev commented on #476
hi @DreamHorse0301 what CUDA/CuDNN/NCCL versions do you use?

[2018-02-08 01:53] leon-liangwu commented on #476
@drnikolaev
I am using
cuda 8.0,
cudnn 7.0 ,
nccl 2.1.

[2018-02-08 02:54] drnikolaev commented on #476
@DreamHorse0301 could you paste `nvidia-smi` output (while you train) here?

[2018-02-08 02:58] DreamHorse0301 commented on #476
@drnikolaev
![11](https://user-images.githubusercontent.com/7507360/35953310-efafafba-0cbe-11e8-9791-9ac69e3fbfd3.png)

[2018-02-08 03:22] leon-liangwu commented on #476
@drnikolaev
Can you reproduce that with the attachments?

[2018-02-08 04:04] leon-liangwu commented on #476
@drnikolaev
![22](https://user-images.githubusercontent.com/7507360/35955065-28c296d8-0cc8-11e8-9632-ebb8eccd1811.png)

[2018-02-08 04:39] drnikolaev commented on #476
@DreamHorse0301 well, I see even distribution among 6 out of 8, but 4th and 5th are down. Are you running with `-gpu=all`? Could you paste `nvidia-smi topo -m` here?
Also, this snapshot is missing bottom part with caffe process details.

[2018-02-08 06:05] leon-liangwu commented on #476
@drnikolaev  Im running on 6 and 7.

[2018-02-08 06:16] leon-liangwu commented on #476
@drnikolaev
![333](https://user-images.githubusercontent.com/7507360/35958238-a3d4b056-0cda-11e8-99ab-7d863a8bd6d8.png)

[2018-02-09 00:28] drnikolaev commented on #476
Hi @DreamHorse0301 while running your model with v0.16.6 and CUDA 9.0 I get this:
[code]

[2018-02-09 07:37] leon-liangwu commented on #476
@drnikolaev
Maybe the problem I proposed before was not exact.
I have tested several times on v0.16.5. Finally, I found the problem.
With same base model, when the feature map is 7x7, the gpu memory is ok. But, if I cut all the layers whose outputs are 7x7  feature maps leaving 14x14 to be the top feature map, and send it to zero loss. The memory doubles.
As the net is getting smaller, the gpu mem

[2018-02-10 07:12] 331744738 opened #478 "NVcaffe install error"
System:CentOS 7.4 x86_64
GPU:Tesla V100
cuda9.0 cudnnV7 nccl2    NVIDIA-SMI 384.111
Rely on:#yum install  -y protobuf-devel   leveldb-devel   snappy-devel   opencv-devel   boost-devel
                                      hdf5-devel  gflags-devel   glog-devel   lmdb-devel   openblas-devel

version :  NVcaffe 0.16.6
#make all -j 4
CXX/LD -o .build_release/tools/upgrade_solver_proto_text.bin
CXX/LD

[2018-02-10 08:15] drnikolaev commented on #478
Hi @331744738 seems like you've got old OpenCV version. Please try to upgrade to 3.4.

[2018-02-10 08:22] 331744738 commented on #478
Thank you for your guidance I upgrade try

[2018-02-10 09:45] 331744738 commented on #478
opencv  upgrade to 3.4 after , Suggest a variety of incompatible
![6nc w 7 00m 8zifoshsm5](https://user-images.githubusercontent.com/36323810/36060724-1882da80-0e8a-11e8-8382-c162f3d8742c.png)

[2018-02-10 14:04] 331744738 commented on #478
@drnikolaev
opencv3.4
make all -j4
/usr/bin/ld: skipping incompatible /usr/lib/libnvidia-ml.so when searching for -lnvidia-ml
/usr/bin/ld: skipping incompatible /usr/lib/libnvidia-ml.so when searching for -lnvidia-ml
/usr/bin/ld: skipping incompatible /usr/lib/libnvidia-ml.so when searching for -lnvidia-ml
/usr/bin/ld: skipping incompatible /usr/lib/libnvidia-ml.so when searching for -lnvidia-ml
/

[2018-02-10 21:09] drnikolaev commented on #478
@331744738 This library comes with the driver. Try to update it. The best way is to install CUDA 9

[2018-02-11 00:24] 331744738 commented on #478
@drnikolaev
By using CUDA version is 9 now

[2018-02-11 00:39] 331744738 commented on #478
@drnikolaev
make all -j16  caffe1是没有问题的可以正常运行
make all -j16  NVcaffe下就会出现这个问题，很头痛，NVcaffe 是否有特别的设置

[2018-02-11 00:39] 331744738 commented on #478
@drnikolaev
There is no question of the make caffe1 can run normally
Make NVcaffe will appear this problem, very headache, NVcaffe whether there is a special setting

[2018-02-11 01:05] cliffwoolley commented on #478
The message about skipping an incompatible library is caused by 32-bit vs. 64-bit mismatches.  Can you verify your compilation settings in this regard, please?

[2018-02-11 01:41] 331744738 commented on #478
@cliffwoolley
Compile settings refers to?

[2018-02-11 05:37] leon-liangwu commented on #476
Dear @drnikolaev ,
Can you reproduce what I came across ? I am very confused about this. The memory should decrease if I remove all the top 7x7 output layers leaving 14x14 to be the top feature map.
If you see the same phenomenon, could you please help me to solve this?
Help ~ ~

[2018-02-12 09:18] 331744738 commented on #478
@drnikolaev
HI:
Opencv has been upgraded to 3.4, but the problem persists, ask ~ Is there any other problems
[root@master ~]#make all -j4
...
...
/usr/bin/ld: skipping incompatible /usr/lib/libnvidia-ml.so when searching for -lnvidia-ml
/usr/bin/ld: skipping incompatible /usr/lib/libnvidia-ml.so when searching for -lnvidia-ml
/usr/bin/ld: skipping incompatible /usr/lib/libnvidia-ml.so when searchi

[2018-02-12 18:46] drnikolaev commented on #478
Hi @331744738
To resolve this, please do the following:

1. Delete (or move to some temporary directory) this file: `/usr/lib/libnvidia-ml.so`. This is wrong version which has nothing to do with NVCaffe.
2. Check the driver version by running
[code]
3. Verify that the right version exists here: `/usr/lib/nvidia-XYZ/libnvidia-ml.so` where `XYZ` stands for driver version. For example, on my machine

[2018-02-12 19:27] drnikolaev commented on #476
Hi @DreamHorse0301 I tried and got this for 7x7:
[code]
and this for 14x14:
[code]
I suspect that in your case Algorithm Finder chooses other one requiring more memory. Please hard set all algorithms to the defaults like this:
[code]
and compare.

[2018-02-13 02:56] leon-liangwu commented on #476
@drnikolaev
Yes, it really helps. Thanks a lot.
But I did not figure out what this parameter mean. Could you please give me some thing to understand this?

[2018-02-13 03:20] drnikolaev commented on #476
@DreamHorse0301 here we go:
https://github.com/NVIDIA/caffe/blob/caffe-0.16/src/caffe/proto/caffe.proto#L189-L190
https://github.com/NVIDIA/caffe/blob/caffe-0.16/src/caffe/proto/caffe.proto#L926-L933

[2018-02-13 04:02] leon-liangwu commented on #476
@drnikolaev ，
But I tested and find the speed is more slower.

[2018-02-13 06:11] drnikolaev commented on #476
@DreamHorse0301 Yes. This is the deal: more memory -> faster algorithm.

[2018-02-14 02:35] settle commented on #439
Is there a way to modify an already trained caffemodel from NVIDIA/caffe so it can be used in BVLC/caffe, that is without retraining?

[2018-02-14 18:31] drnikolaev commented on #439
Unfortunately, no. You can write simple converter though...

[2018-02-16 00:18] #478 closed, assigned to nobody

[2018-02-16 00:19] #476 closed, assigned to drnikolaev

[2018-02-20 17:13] TimoSaemann opened #479 "TensorRT vs NVIDIA/caffe"
Hi @drnikolaev

I would like to run a model for semantic segmentation on my TX2 board (with FP 16) and wonder whether TensorRT or NVIDIA/caffe is more suitable in terms of inference time.
Which one provides a better performance on the TX2 board or does it make no difference?
Is there a performance comparison?

Second question:
As far as I understand, I can use TensorRT to convert an existing caffe

[2018-02-20 18:45] drnikolaev commented on #479
Hi @TimoSaemann , NVCaffe doesn't support it yet. The only choice so far is TRT.

[2018-02-20 20:08] TimoSaemann commented on #479
I don't understand exactly what do you mean by "doesn't support it".
It's no problem to use NVcaffe on the TX2 board, isn't it?
I can also use the BVLC/Caffe. Only it does not support FP 16.

[2018-02-20 22:13] drnikolaev commented on #479
@TimoSaemann sorry, wrong chat :)
Yes, NVcaffe does work on TX2. And it can read any model (as well as TRT 3.0), be it 16 or 32 bit. It reads it once in the beginning and converts if needed. So, performance impact shouldn't be that big. But 16->16 way is definitely better

[2018-02-21 11:25] TimoSaemann commented on #479
By 16->16 way, you mean to train the model with FP 16 instead of FP 32, don't you? Why is this better?
And is it only better for NVcaffe or is the same for TRT?

[2018-02-21 15:58] mislulu opened #480 "make error: ld returned 1 exit status"
Hello, I have installed the  nvcaffe.0.16.5 on my computer. It has appeared this error.  I added LIBRARIES += boost_thread stdc++ boost_regex at the bottom of Makefile.config (https://github.com/NVIDIA/caffe/issues/471),  but it still didn't work. Can any one help me solve this problem.

CXX tools/device_query.cpp
CXX tools/extract_features.cpp
CXX tools/finetune_net.cpp
CXX tools/caffe.cpp
CXX to

[2018-02-21 18:19] drnikolaev commented on #479
It's faster to train. As of term "better" - if we measure accuracy, then it's pretty much the same. If we measure space taken, FP16 model is 2X smaller.

[2018-02-21 18:56] drnikolaev commented on #480
Hi @mislulu
https://github.com/NVIDIA/caffe#useful-notes

[2018-02-21 19:10] TimoSaemann commented on #479
Thanks @drnikolaev !

[2018-02-21 19:10] #479 closed, assigned to nobody

[2018-02-22 02:17] leon-liangwu commented on #476
@drnikolaev  However, By using this parameter, 0.16.5 is 15% slower than 0.16.4 which does need to set this parameter.

[2018-02-22 10:36] mislulu commented on #480
Thanks for your help. I have solved the problem mentioned above.
But now I have faced a new issue.
As I want caffe work with python. So I
umcomment the WITH_PYTHON_LAYER := 1
change the python path PYTHON_INCLUDE := /usr/include/python2.7 \
                                                    /home/ga47kes/.local/lib/python2.7/site-packages/numpy/core/include
pip install all the packages in the pyt

[2018-02-22 16:44] drnikolaev commented on #480
hi @mislulu please install all of these: https://github.com/NVIDIA/caffe/blob/caffe-0.16/python/requirements.txt

[2018-02-22 17:30] thomas-riccardi commented on #435
We got hit by that too, using nv caffe 0.16.4, cuda 8.0, cudnn 7.
This issue should be re-open: the workaround is effectively to disable cudnn, which is not satisafying at all...

[2018-02-22 17:48] drnikolaev commented on #476
@DreamHorse0301 could you try 0.16.6 please?

[2018-02-22 18:03] mislulu commented on #480
Thanks a lot. I used this requirement.txt, but something weird happened. I have got a such error:

======================================================================
ERROR: test_solver (unittest.loader.ModuleImportFailure)
----------------------------------------------------------------------
ImportError: Failed to import test module: test_solver
Traceback (most recent call last):
  File "/usr

[2018-02-22 20:31] drnikolaev commented on #480
@mislulu your python environment seems to be broken. Try to reinstall scipy and use plain Ubuntu Python, not anaconda2.

[2018-02-23 02:42] leon-liangwu commented on #476
@drnikolaev  It is the same as 0.16.5. But it is ok. I am just confused why 0.16.4 uses much less memory and can be fast.

[2018-02-23 09:12] mislulu commented on #480
Thanks for your help !
I have reinstall the scipy and make pytest run correctly.
But there was something weird happened again. Great sorry for bothering you again.
When I use python, I couldn't import caffe. But if I changed to sudo python , it worked.  Now I couldn't import caffe module to python normally. How could I solve this issue?

ga47kes@tueimmk-dan11:~/install/caffe-0.16.5/python$ python

[2018-02-24 06:51] drnikolaev commented on #476
hi @DreamHorse0301 we reproduced this problem and we plan to fix it in next release. Thank you.

[2018-02-24 06:53] leon-liangwu commented on #476
@drnikolaev  Thanks very much.

[2018-02-25 05:42] drnikolaev commented on #476
@DreamHorse0301 please check this pre-release: https://github.com/drnikolaev/caffe/tree/caffe-0.17

[2018-02-27 02:37] 331744738 opened #481 "Running script error"
1.make runtest
![y0a _owh_u6ldw 9gb7ag6](https://user-images.githubusercontent.com/36323810/36707453-5884ce82-1ba9-11e8-926a-d8482a2089c0.png)
2.Operation operation
![5 vc3t a 2 3 3ea xc m0](https://user-images.githubusercontent.com/36323810/36707547-bcfe3dbc-1ba9-11e8-8a36-0d37784b9f27.png)

problem
1.make runtest Does the results prove that the nvcaffe installation is correct?
2.Whether the erro

[2018-02-27 02:56] drnikolaev commented on #481
hi @331744738 installation seems to be correct (runtest is good indicator) but it's hard to make sure without complete log and your prototxt files

[2018-02-27 03:55] drnikolaev commented on #480
Sorry, I can't help here because it's not NVCaffe issue.

[2018-02-27 03:55] #480 closed, assigned to nobody

[2018-02-27 04:17] 331744738 commented on #481
@drnikolaev
![0 s2s_l 7 kuax kv8sj](https://user-images.githubusercontent.com/36323810/36710321-31c6b6de-1bb8-11e8-9776-ac15218cfbcf.png)

[2018-02-28 02:23] 331744738 commented on #481
@drnikolaev

是否要打印一次安装过程

是否要打印一次安装过程

Do you want to print an installation process

[2018-02-28 02:24] 331744738 commented on #481
@drnikolaev

Do you want to print an installation process

[2018-02-28 02:42] 331744738 commented on #481
@drnikolaev
Want to ask! Does NVcaffe have a specific installation tutorial under Linux Centos7.*

[2018-02-28 06:11] drnikolaev commented on #481
@331744738 I mean the log with Seg Fault. As of CentOS - not yet, sorry

[2018-02-28 07:33] 331744738 commented on #481
@drnikolaev
 How should I get such a log

[2018-02-28 08:01] drnikolaev commented on #481
[code]

[2018-02-28 15:46] 331744738 commented on #481
@drnikolaev
$caffe train --solver=mysolver --gpu=all 2>&1 | tee caffe_segfault.log
I0301 07:43:19.161887 12018 caffe.cpp:454] This is NVCaffe 0.16.6 started at Thu Mar  1 07:43:17 2018
I0301 07:43:19.162240 12018 caffe.cpp:456] CuDNN version: 7005
I0301 07:43:19.162250 12018 caffe.cpp:457] CuBLAS version: 9010
I0301 07:43:19.162253 12018 caffe.cpp:458] CUDA version: 9010
I0301 07:43:19.162256 1201

[2018-02-28 19:35] drnikolaev commented on #481
By 'mysolver' I meant the solver prototxt file you use

[2018-03-01 01:29] 331744738 commented on #481
@drnikolaev
What do you mean by the prototype of the solver?Please make it clear.

[2018-03-01 01:55] drnikolaev commented on #481
This article might help actually: http://caffe.berkeleyvision.org/gathered/examples/imagenet.html

[2018-03-01 02:39] 331744738 commented on #481
@drnikolaev
Ok, I'll look at this later.

[2018-03-01 04:38] 331744738 commented on #481
@drnikolaev

net: "netConfig/net_train.prototxt"
test_iter: 10
test_interval: 500
base_lr: 0.01
lr_policy: "step"
gamma: 0.9
stepsize: 100000
display: 100
max_iter: 1000000
momentum: 0.9
weight_decay: 0.0005
snapshot: 10000
snapshot_prefix: "models/model"
solver_mode: GPU

[2018-03-01 04:41] 331744738 commented on #481
@drnikolaev
That's mine solver.prototxt
net: "netConfig/net_train.prototxt"
test_iter: 10
test_interval: 500
base_lr: 0.01
lr_policy: "step"
gamma: 0.9
stepsize: 100000
display: 100
max_iter: 1000000
momentum: 0.9
weight_decay: 0.0005
snapshot: 10000
snapshot_prefix: "models/model"
solver_mode: GPU

[2018-03-01 15:24] thomas-riccardi commented on #435
Disabling cudnn for convolutions created high and highly volatile gpu memory usage.

We found a better workaround:
disable the default `cudnn_convolution_algo_seeker: FINDEX` and replace it by the simpler implementation: heuristic engine: `cudnn_convolution_algo_seeker: GET`.
See http://docs.nvidia.com/deeplearning/dgx/caffe-user-guide/index.html#cudnn_convolution_algo_seeker

[2018-03-01 21:22] drnikolaev commented on #481
ok, looks good. could you paste `netConfig/net_train.prototxt` file as well?

[2018-03-02 01:29] 331744738 commented on #481
@drnikolaev
[net_train.prototxt.docx](https://github.com/NVIDIA/caffe/files/1773364/net_train.prototxt.docx)

[2018-03-02 01:31] 331744738 commented on #481
@drnikolaev
[net_train.prototxt.docx](https://github.com/NVIDIA/caffe/files/1773369/net_train.prototxt.docx)

[2018-03-06 07:00] flyingTan opened #482 "Nice work, but It can not work well in my work. During training, the loss can converge at the beigining, and can not converge after a while in NVCaffe. The same model can converge and the loss is stable when applied Caffe. Could u explain why this is the case?"

[2018-03-06 07:47] drnikolaev commented on #482
@flyingTan may I see the model and the log please?

[2018-03-06 07:52] flyingTan commented on #482
hi,
   I'am glad to receive your reply. This is tha=e training log.

At 2018-03-06 15:48:01, "Sergei Nikolaev" <notifications@github.com> wrote:

@flyingTan may I see the model and the log please?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.
I0306 10:20:26.692078 13244 caffe.cpp:639] This is NVCaffe 0.17.0 started at Tue

[2018-03-06 08:33] drnikolaev commented on #482
This is incomplete log, it's missing training payload with loss values.

[2018-03-06 08:57] flyingTan commented on #482
NVCaffe log: batchsize 32
I0306 10:27:32.942297 13326 solver.cpp:353] Iteration 2 (3.8928 s), loss = 5.08295
I0306 10:27:32.942342 13326 solver.cpp:371]     Train net output #0: mbox_loss = 5.46751 (* 1 = 5.46751 loss)
I0306 10:27:54.235067 13326 solver.cpp:347] Iteration 50 (2.25436 iter/s, 21.292s/48 iter), loss = 3.2223
I0306 10:27:54.235158 13326 solver.cpp:371]     Train net output #0: mbox_l

[2018-03-06 09:16] drnikolaev commented on #482
Thanks. What losses do you get from BVLC Caffe for batches 32 and 8?

[2018-03-06 09:27] flyingTan commented on #482
Yeah, NVCaffe batch size is 32 (8, 64 also have been tested), and it can not convgence as u can see above. while, BLVC/caffe batch size is 8.

At 2018-03-06 17:16:55, "Sergei Nikolaev" <notifications@github.com> wrote:

Thanks. What losses do you get from BVLC Caffe for batches 32 and 8?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute

[2018-03-11 18:08] TimoSaemann opened #483 "NVCaffe User Guide - shuffle parameter"
Hi @drnikolaev

In the NVCaffe User Guide it says that the _shuffle_ parameter (of the DataParamter) is ignored if the _cache_ parameter is set to false. I wonder why the parameter _shuffle_ should depend on the parameter _cache_? Furthermore, I don't find any condition in the image_data_layer.cpp where _cache_ could affect the parameter _shuffle_. I think _cache_ affects _threads_, but not _shuff

[2018-03-13 06:19] drnikolaev commented on #483
Hi @TimoSaemann
ImageDataLayer does support shuffle without caching. Because it reads images in any order from disk. However, DataLayer reads sequential databases like LMDB. It's like tape recorder. DataLayer has to read the whole dataset to RAM (i.e. to cache it) in order to shuffle it effectively. One might argue that LMDB supports random access. But performance is not acceptable (I tried it).

[2018-03-13 06:19] #483 closed, assigned to nobody

[2018-03-13 09:21] TimoSaemann commented on #483
Ok, thanks for your response!

[2018-03-14 03:45] drnikolaev commented on #482
Hi @flyingTan could you try https://github.com/drnikolaev/caffe/tree/caffe-0.17 again?

[2018-03-16 02:10] lilacbeauty opened #484 "How can I recompile libturbojpeg_la-turbojpeg.o with -fPIC"
Error occured when I compiled NVCaffe 0.16.6:
LD -o .build_release/lib/libcaffe-nv.so.0.16.6
/usr/bin/ld: /usr/lib/gcc/aarch64-linux-gnu/5/../../../aarch64-linux-gnu/libturbojpeg.a(libturbojpeg_la-turbojpeg.o): relocation R_AARCH64_ADR_PREL_PG_HI21 against external symbol `__stack_chk_guard@@GLIBC_2.17' can not be used when making a shared object; recompile with -fPIC
/usr/bin/ld: /usr/lib/gcc/aar

[2018-03-16 06:19] drnikolaev commented on #484
Hi @lilacbeauty please do
[code]

[2018-03-16 12:42] lilacbeauty commented on #484
problem solved! thanks a lot!

[2018-03-18 05:52] #481 closed, assigned to nobody

[2018-03-21 00:57] huan-fu opened #485 "Cache and shuffling are now disabled."
Hi anyone,

When I trained my deep model for some iterations, I got some warning about the data cache because of memory limitation. See the sentence below for the warning.

****************************************************************
W0321 10:26:16.957023 93510 data_reader.cpp:197] Data Reader cached 1148000 records so far but it can't continue because it used more than half of swap buffer. Fr

[2018-03-21 00:59] huanfu1029 commented on #485
The used caffe version is caffe-0.16.6.

[2018-03-21 06:09] huan-fu opened #486 "Task abnormally terminated"
When I trained my classification model (inception-resnet-v2), the program was abnormally killed after some iterations.
I will share the error log here (Please ignore the data_reader output).
Could any one give me some advices?

Cuda: v9.1.85
GPU card: V100
GCC: 5.4.0
caffe version: caffe-0.17.0 and caffe-0.16.6
Data type: LMDB

![611521612312_ pic_hd](https://user-images.githubusercontent.com/1794

[2018-03-21 18:34] WUhailing commented on #471
@drnikolaev ubuntu17.10, cuda8, opencv3.3, g++-5, boost1.6.2(sudo apt-get install), neither cmake nor make can work.  Adding boost_regex to LIBRARIES makes no difference. Any suggestions?

[2018-03-21 21:32] drnikolaev commented on #471
@WUhailing could you paste the payload please?

[2018-03-21 21:36] drnikolaev commented on #486
@huanfu1029 you try to use cache&shuffle but your LMDB is bigger than RAM, so Linux kills it. Please try to turn off cache or install more RAM.

[2018-03-21 21:37] drnikolaev commented on #485
@huanfu1029 see my reply to #486

[2018-03-22 01:31] WUhailing commented on #471
Hi @drnikolaev this is the error output file using cmake,
[ 84%] Linking CXX executable caffe
/usr/bin/cmake: /home/hailing/anaconda3/lib/libcurl.so.4: no version information available (required by /usr/bin/cmake)
../lib/libcaffe.so.1.0.0-rc3: undefined reference to `boost::re_detail_106200::cpp_regex_traits_implementation<char>::transform(char const*, char const*) const'
../lib/libcaffe.so.1.0.0-

[2018-03-22 02:45] huan-fu commented on #486
@drnikolaev Thanks for your reply.
From your answer, I get that the cache progress will load the whole LMDB data into RAM. The main reason that I use cache is that I want to do the shuffle augmentation for my training. It seems that I should use ImageDataLayer as an alternative, since its shuffle progress does not rely on the cache progress.

[2018-03-22 02:47] #485 closed, assigned to nobody

[2018-03-22 02:48] #486 closed, assigned to nobody

[2018-03-23 23:57] #484 closed, assigned to nobody

[2018-03-23 23:58] #482 closed, assigned to nobody

[2018-03-23 23:58] drnikolaev commented on #118
Done in v0.17.0

[2018-03-23 23:58] #118 closed

[2018-03-24 00:11] drnikolaev commented on #386
v0.17.0

[2018-03-24 00:11] #386 closed, assigned to nobody

[2018-03-24 00:12] drnikolaev commented on #406
Done in v.0.17.0

[2018-03-24 00:12] #406 closed, assigned to nobody

[2018-03-29 07:15] twmht opened #489 "error: identifier "__hdiv" is undefined"
OS: Ubuntu 16.04
CUDA: 8.0
cudnn: 7.0

[code]

outputs

[code]

Any advise?

Thank you

[2018-03-29 09:17] zhoujustin commented on #489
I also meet it last weekend.
I removed the cmake/Cuda.cmake Caffe_known_gpu_archs which defined greater then 53 such as 60 61 70.
I compiler the caffe completely but when I trainning with GPU，I got some errors 8 seems like caused by GPU_ARCH. Any IDEA?

[2018-03-29 09:45] twmht commented on #489
@zhoujustin

How did you know you have to remove the arch to make the compilation pass?

[2018-03-29 10:02] zhoujustin commented on #489
@twmht There was a MICRO which defined GPU_ARCH >=530 use __hdiv().  Means not use 60&61 to avoid using _hdiv().

[2018-03-29 11:42] ghimiredhikura commented on #489
I also got the same error, any idea?

NVCC src/caffe/solvers/nesterov_solver.cu
./include/caffe/util/gpu_math_functions.cuh(32): error: identifier "__hdiv" is undefined

1 error detected in the compilation of "/tmp/tmpxft_00004e86_00000000-13_nesterov_solver.compute_61.cpp1.ii".
Makefile:623: recipe for target '.build_release/cuda/src/caffe/solvers/nesterov_solver.o' failed
make: *** [.build_relea

[2018-03-29 16:04] drnikolaev commented on #489
Hi all, thanks for reporting. While I'm fixing this, please try CUDA 9.

[2018-03-29 23:13] a64bit opened #490 "Errors in training when using FLOAT16"
Hi,

I am training a model with caffe-0.17 and want to use fp16 support. The training is running well when I use the normal float, but once I add these lines in the train.prototxt:
default_forward_type: FLOAT16
default_backward_type: FLOAT16
default_forward_math: FLOAT
default_backward_math: FLOAT
some error happen after 3 iterations of the training as follows:
[code]
The error also changes when I

[2018-03-30 00:03] drnikolaev commented on #490
hi @abdelrahman-gaber
I need to reproduce this issue in order to fix it. May I have your model files and the dataset?
Also, could you try
[code]

[2018-03-30 05:06] drnikolaev commented on #489
@twmht @zhoujustin @ghimiredhikura thanks again. Reproduced and fixed.

[2018-03-30 05:06] #489 closed, assigned to nobody

[2018-03-30 20:49] a64bit commented on #490
When I use all FLOAT16 as you said, I got the error:
Check failed: status == CUDNN_STATUS_SUCCESS (9 vs. 0) CUDNN_STATUS_NOT_SUPPORTED
So, I used the pseudo fp16 as mentioned here: https://github.com/NVIDIA/caffe/issues/198, then I got the errors mentioned before.

This is the train.prototxt file I am using: https://drive.google.com/open?id=1_5YS_XY_rPKsV_uXHn6hXDSIB8yEiVo9
This is SFD model for f

[2018-04-02 19:40] drnikolaev commented on #490
@abdelrahman-gaber what particular script did you use to create your LMDB?

[2018-04-03 21:49] a64bit commented on #490
I used the script provided by the original SSD implementation with minor modification to accept text files, my script can be found here: https://drive.google.com/file/d/1HBbGD4-G2mhqmeIW8aY5CeQBxTHwTRt1/view?usp=sharing

Note that the lmdb files generated was used to train the model with the original SSD implementation and it worked fine, so I used the same lmdb files when training the model with

[2018-04-04 00:23] drnikolaev commented on #490
@abdelrahman-gaber sorry, I need complete step-by-step instructions to re-build the lmdb. Your script uses label map, which I need to re-create too etc.

[2018-04-04 08:22] TimoSaemann opened #492 "Check failed: result == ncclSuccess (1 vs. 0) unhandled cuda error"
Hi @drnikolaev

When running a training with several GPUs:
_./build/tools/caffe_ train _--solver=models/bvlc_reference_caffenet/solver.prototxt --gpu=0,1_

I get the following error:
_Check_ failed: result == ncclSuccess (1 vs. 0)  unhandled cuda _error_

Please find the complete output log and the cmake output log attached.
[nvcaffe_train_2GPUS.log](https://github.com/NVIDIA/caffe/files/1874806/n

[2018-04-04 20:01] drnikolaev commented on #492
Hi @TimoSaemann
[code]
If possible, please upgrade to the latest 0.17 code and link with CuDNN 7, CUDA 9 and NCCL 2

[2018-04-04 22:25] a64bit commented on #490
I solved this problem by running the same lmdb script again with NVIDIA Caffe version, which generated new lmdb files (with the same scripts and same data, just re-run it again with the new caffe).

However, the problem when using all FLOAT16 still exists, and it only works with:
default_forward_type: FLOAT16
default_backward_type: FLOAT16
default_forward_math: FLOAT
default_backward_math: FLOAT

[2018-04-05 06:30] drnikolaev commented on #490
@abdelrahman-gaber seems like we are not synced yet. :)
I don't have those scripts. SSD source does not provide scripts for "wider faces" set.
Please send me everything you have with short instructions. Thank you.

[2018-04-05 22:13] a64bit commented on #490
I am sorry for that, I uploaded all necessary files and they are as follows,
here you can find all scripts and files used to generate the lmdb, which contains the create_data.sh, images-groundtruth list (train.txt) and the label map file (labelmap_wider.prototxt). This folder need to exist under the path $CAFFE_ROOT/data/
https://drive.google.com/drive/folders/18Hp9xGPQPKDx3Vu6lyssRf07kI_K3kHy?usp

[2018-04-09 05:51] drnikolaev commented on #490
Hi @abdelrahman-gaber thank you for reporting this bug. It's reproduced and fixed now. Please read the note for https://github.com/NVIDIA/caffe/pull/493 about performance implications and SSD fp16 sample models. I'd appreciate your feedback.

[2018-04-09 08:36] a64bit commented on #490
Thank you so much. I will run the training again by the middle of this week, and tell you if I faced any problem.

[2018-04-09 09:23] TimoSaemann commented on #492
I installed NCCL via sudo apt install libnccl2 libnccl-dev and installed the version suitable for CUDA 9.
I had to specify CUDA 8 during installation as follows: sudo apt-get install libnccl2=2.1.15-1+cuda8.0 libnccl-dev=2.1.15-1+cuda8.0
Now it works.

[2018-04-09 09:23] #492 closed, assigned to nobody

[2018-04-10 00:21] ezetl opened #494 "SSD Accuracy is lower when performing consecutive forwards"
Hello, I was testing the [SSD](https://github.com/NVIDIA/caffe/pull/446) feature and I noted that the accuracy for [AFW test set](https://www.ics.uci.edu/~xzhu/face/) (face detection) dropped while using NVIDIA Caffe 0.17 (commit 1044c5e6).

The original [SSD](https://github.com/weiliu89/caffe) version of Caffe gives 99.85% accuracy on AFW whereas Nvidia Caffe 0.17 gives 94.01%.

I noticed that fo

[2018-04-10 01:25] drnikolaev commented on #494
Hi @ezetl , thank you. Did you take the code before or after #493 ? Are you running fp32 or 16?

[2018-04-10 03:58] drnikolaev commented on #490
@abdelrahman-gaber Please also do
[code]
I'll fix it later

[2018-04-10 12:45] ezetl commented on #494
Hi @drnikolaev, Im running fp32. I did not modify the `prototxt` (i.e. no `forward_type` and `forward_type` were added) and I think the default precision is fp32 right? I tested this yesterday with the changes of #493 already merged.

[2018-04-10 17:01] ezetl commented on #494
I also tested the same script on the fork [caffe-jacinto](https://github.com/tidsp/caffe-jacinto) and it works Ok, these are the accuracies i got so far using AFW:

 Caffe version     |   AFW
-------------|-------
 [SSD](https://github.com/weiliu89/caffe)         | 99.85
 NVIDIA 0.17 | 94.01
[JACINTO](https://github.com/tidsp/caffe-jacinto)     | 99.85

Jacinto is a fork of this repo, so maybe we

[2018-04-10 20:08] drnikolaev commented on #494
Hi @ezetl I ran your test.py and generated `sfd_afw_dets.txt`. Could you post a script computing the accuracy?

[2018-04-10 22:28] ezetl commented on #494
Great! Thanks for your response. To compute the accuracies you can download this [repo](https://bitbucket.org/marcopede/face-eval), copy the `sfd_afw_dets.txt` inside the folder `detections/AFW` and run `python2.7 plot_AP.py --dataset AFW`. A matplotlib plot should appear on your screen, the values corresponding to the generated file should be under the label `sfd afw dets`.

I'll happily compute

[2018-04-10 22:45] drnikolaev commented on #494
@ezetl I got 94.01% too, fixing...

[2018-04-10 22:47] drnikolaev commented on #494
@ezetl
_I noted that when reloading the network before each forward(), the results are the same for both Caffe implementations _
how exactly did you do that?

[2018-04-10 22:55] ezetl commented on #494
I just reloaded the model by putting `net = SFD_NET(device=device)` inside the main loop, for example in line 26 of `test.py`. It will reload the whole network and create the transformer again for each image.

[2018-04-11 04:52] LCLL opened #496 "About the loss between caffe and nvcaffe"
Hi, I am testing the nvcaffe on my project. I used 8GPU for image recognition training and found that nvcaffe is almost 10x times faster than original caffe. However, I found that the loss of nvcaffe is not similar with the caffe.

caffe around Iteration 10000:

I0325 11:09:58.038851  3644 solver.cpp:258]     Train net output #0: loss = 0.0244867 (* 1 = 0.0244867 loss)
I0325 11:09:58.038877  3644

[2018-04-11 18:23] drnikolaev commented on #496
Hi @LCLL - it's hard to say without seeing the prototxt files. Could you attach them? And complete NVCaffe log please.

[2018-04-12 01:35] LCLL commented on #496
[solver-start.prototxt.txt](https://github.com/NVIDIA/caffe/files/1901013/solver-start.prototxt.txt)
[train_val.prototxt.txt](https://github.com/NVIDIA/caffe/files/1901014/train_val.prototxt.txt)

[2018-04-12 06:06] venkai opened #497 "Eltwise Layer clobbers the first bottom blob"
The Eltwise Layer seems to clobber the [first bottom blob](https://github.com/NVIDIA/caffe/blob/1044c5e6d24e4970bda0d13e5b38e5ceb647ed10/src/caffe/layers/eltwise_layer.cpp#L52). This is usually not a problem, since the inputs to Eltwise layers are typically not used again in most nets. However, for some rare cases like hyper-residual nets or symmetric skip-connection based ResNets, this causes a p

[2018-04-12 10:06] venkai opened #498 "Reducing memory usage during inference"
Hi,

I am working with a very deep fully convolutional architecture that currently takes up ~12G memory for a single 600 x 800 image during inference. To reduce memory, I modified net.cpp to allow duplicate top blobs during inference ([gist here](https://gist.github.com/venkai/d95a0bc8d0818413045af4ad0e87828c#file-net-cpp-L532)), and rewrote the prototxt for inference to use minimal unique activat

[2018-04-12 18:53] drnikolaev commented on #497
Hi @venkai thanks for the tip. Could you please attach a sample model prototxt having this issue?

[2018-04-12 19:06] drnikolaev commented on #498
Hi @venkai , wait a minute. We do use global space for all CuDNN Convolution layers:
https://github.com/NVIDIA/caffe/blob/caffe-0.17/include/caffe/util/gpu_memory.hpp#L176-L181
It's a vector of N global spaces where N is the number of GPUs used.
And thanks for the gist, I'll explore it as soon as I can.

[2018-04-12 20:43] venkai commented on #497
Hi @drnikolaev , here is a minimal prototxt that should reproduce the bug:
[code]
The network looks like this:
![vis_net_eltwise](https://user-images.githubusercontent.com/4793398/38702706-48916d3a-3e6f-11e8-8124-142d8f077a58.png)

Here, blob **B0** is input to both layers **L2** and **L4**, but is clobbered by **L2**. The output **B4** should ideally equal **B0 + B2 + B3**, but it ends up being e

[2018-04-13 00:51] drnikolaev commented on #494
@ezetl still working on this but there is a workaround. Could you try this:
[code]
This particular layer should be processed by non-cuDNN implementation. Still checking why...

[2018-04-13 01:53] LCLL commented on #496
@drnikolaev can you give me some hints or suggestions about this problem? Thanks.

[2018-04-13 06:57] drnikolaev commented on #496
@LCLL not yet, still digging...

[2018-04-13 13:29] ezetl commented on #494
Hi, In case it sill helps, I added the line `engine: CAFFE` to conv7_2 but still got the same results. I am using cudnn 7.0 with Cuda 9

[2018-04-14 22:04] a64bit commented on #490
Thank you @drnikolaev The training is working now after fixing this bug.
I just have a question, in the inference with "test.prototxt" and "deploy.txt" should I just add these lines at the beginning of the prototxt files or there are other modifications to be done ?

[2018-04-14 22:15] a64bit opened #499 "Converting fp32 models to fp16"
Hi,

I am trying to train a model depending on SSD, so normally I use the VGG pretrained model to initialize the weights of the model, which gives much better performance. However, when I run the training in fp16 mode the initialization from VGG model is not working, and I got wrong loss values during training
`mbox_loss = inf`

So, Is there any way to convert the fp32 model to fp16 model ?
I sear

[2018-04-15 05:32] LCLL commented on #496
@drnikolaev can you reproduce the results? or anything i need to provide to help you digging? :)

[2018-04-15 23:09] a64bit commented on #490
Hi @drnikolaev The training can run now without reporting any errors, but the training process itself is not working well. I read about the scaling of gradients which is necessary for the training in fp16 mode, as I understand I should tune the parameter: `global_grad_scale` in train.prototxt, you set it as 32 in the example provided, and I tried to make it 256, 1000, and even 20000, but still the

[2018-04-16 00:55] mjjdick opened #500 "Could NOT find JPEGTurbo (missing: JPEGTurbo_LIBRARIES)"
Hi，I met this cmake error， could anyone help me？
my environment:
ubuntu 14.04
cuda 8.0
cuDNN 6.0
gcc 4.9

the cmake error is :
[code]

[2018-04-16 17:19] drnikolaev commented on #500
hi @mjjdick did you do this?
[code]

[2018-04-17 00:40] drnikolaev commented on #494
hi @ezetl it's finally fixed but I got few more. I plan to shoot a new release with all fixes. No ETA yet, sorry.

[2018-04-17 00:42] drnikolaev commented on #499
Hi @abdelrahman-gaber it's a known bug, fix is coming...

[2018-04-17 03:01] mjjdick commented on #500
[code]

Hi, I followed your instruction, there is no cmake error, but when I make,another error appeared!

[2018-04-17 03:55] mjjdick commented on #500
Hi , thx very much , I have found out the reason.
yes, when I follow your instruction ,the problem solved!
but in the directory of /usr/lib/x86_64-linux-gnu/ , my libturbojpeg is libturbojpeg.so.0.0.0 , so after I relink ,the compile work right! thx again!

[2018-04-17 05:13] drnikolaev commented on #500
Excellent!

[2018-04-17 05:13] #500 closed, assigned to nobody

[2018-04-18 05:33] vuonglq-vn commented on #489
I got this issue and below is my fixing for using CUDA8.0:
Modify file './include/caffe/util/gpu_math_functions.cuh' line 32 from '__hdiv' to 'hdiv'

Because in CUDA8.0, file 'cuda_fp16.h' have function 'hdiv' instead of '__hdiv' (maybe CUDA9.0)

You can check in CUDA Math API document:
- 9.0: https://docs.nvidia.com/cuda/cuda-math-api/group__CUDA__MATH____HALF__ARITHMETIC.html
- 8.0: http://lutgw

[2018-04-18 22:35] ezetl commented on #494
You are awesome @drnikolaev !  I'll check the commits later. Thank you very much

[2018-04-20 18:22] TimoSaemann opened #501 "Runtime fp16 vs fp32 on TX2"
Hi @drnikolaev

A comparison of the runtime on the TX2 between fp16 and fp32 does not make any difference in the forward pass. Only the backward pass is faster at fp16. Why is the forward pass not accelerated?

As an example I use bvlc_alexnet. Please have a look at the logs I have attached.

[time_fp16.log](https://github.com/NVIDIA/caffe/files/1933186/time_fp16.log)
[time_fp32.log](https://githu

[2018-04-21 11:44] LCLL commented on #496
@drnikolaev any progress? is there something i can help?

[2018-04-23 08:43] drnikolaev commented on #496
@LCLL may I have complete log attached please?

[2018-04-23 08:46] andredubbel commented on #501
I have similar issues on a Titan X card with the following build:

[code]

[2018-04-23 08:57] drnikolaev commented on #501
@TimoSaemann could you please try real inference run with `solver_data_type: FLOAT16`? Also, how does it look with more compute intensive nets like RN50? Also, this might be an issue:
[code]
6G is missing.

[2018-04-23 09:07] drnikolaev commented on #501
@andredubbel This table actually explains why (see column 6.1):
https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#arithmetic-instructions

[2018-04-23 09:11] andredubbel commented on #501
@drnikolaev Aha! Thank you. I've been looking for a table like that!

[2018-04-23 10:45] LCLL commented on #496
@drnikolaev ok~

[caffe.txt](https://github.com/NVIDIA/caffe/files/1937768/caffe.txt)
[nvidia-caffe.txt](https://github.com/NVIDIA/caffe/files/1937769/nvidia-caffe.txt)

[2018-04-23 19:24] drnikolaev commented on #496
@LCLL thank you. You run batch size 1 per GPU  for NVCaffe but 8 per GPU for Caffe. Please re-try with everything identical and compare.

[2018-04-24 00:56] psyhtest commented on #501
@andredubbel @drnikolaev This surprised us a lot when we [first benchmarked NVIDIA Caffe v0.15](https://nbviewer.jupyter.org/github/dividiti/ck-caffe-nvidia-gtx1080/blob/master/script/analysis/ck-caffe-nvidia-gtx1080.20170518.ipynb#Only-GPU-libs-using-cuDNN) on the GTX1080. I believe NVIDIA Caffe v0.17 falls back to using fp32 arithmetic now, so it's not so easy to spot this.

[2018-04-24 01:55] LCLL commented on #496
@drnikolaev I set batch_size to 8 in both training prototxts. Is there any difference between nvcaffe and caffe for this parameter?

[2018-04-24 02:00] drnikolaev commented on #501
@psyhtest it might fall back when it finds out that it's faster. On Volta it chooses Tensor Cores. Please file a bug if you see opposite. Thank you!

[2018-04-24 06:32] drnikolaev commented on #496
@LCLL Yes, there is a difference. In NVCaffe you set global size, i.e. you should set 64.

[2018-04-24 13:28] LCLL commented on #496
OK, got it. Thanks for your help:)

[2018-04-24 13:29] #496 closed, assigned to nobody

[2018-04-26 21:42] a64bit commented on #499
Hi @drnikolaev Thank you for your reply. Do you have any estimation for the time needed to fix this bug ?
Also, will this fix include the problem in the last comment in this issue https://github.com/NVIDIA/caffe/issues/490

Thank you.

[2018-05-01 03:07] #501 closed, assigned to nobody

[2018-05-02 18:20] dashesy opened #502 "Slow compile time"
The compile time of NVIDIA/caffe (Cuda9 and CUDNN 7) is much slower than BVLC/caffe. In both cases I compile with "All" architectures because I do not know which one may be running on the target cluster.
Is this expected because of new architectures?

[2018-05-02 19:42] drnikolaev commented on #502
Hi @dashesy , it takes about 1m45s to build it on my box. Yes, it is slower to build than BVLC because of fp16 support - you actually build both versions, fp32 and fp16.

[2018-05-02 19:44] drnikolaev commented on #499
@abdelrahman-gaber sorry, swamped with multiple issues...

[2018-05-07 05:41] cateweb opened #503 "fp32 ssd more than 20% slower than weiliu89 version"
Running ssd on one GeForce GTX 1080 Ti in Linux 4.4.0-122-generic on a AMD Ryzen 5 1600 Six-Core Processor, 8GB ram. CUDA 9.1.85 CUDNN 7.1.3.
added nvcc options  : -ftz=true -prec-div=false -prec-sqrt=false -arch=sm_61

during detection I used nvvp for both versions (nvidia and weiliu89) and got the following duration in ms for the layers called '1' (conv1_1, conv1_2 etc):

 | weiliu89 | nvidia
ma

[2018-05-07 20:55] drnikolaev commented on #503
Hi @cateweb could you please attach both logs?

[2018-05-08 03:58] cateweb commented on #503
Hi @drnikolaev
sending the nvvp sessions: ssd (weiliu) and cuda (nvidia) with wetransfer link
batch size 16
300x300 px

exactly same images used

Let me know if these are of any help or you need different logs

Thanks
Caterina

https://we.tl/KPlYxlBXz8

[2018-05-08 23:51] dashesy commented on #502
Is there a way to only compile for float32?

[2018-05-09 23:49] dashesy opened #505 "Example to use with MPI"
Is there any example to use NVIDIA/caffe with MPI? Using NCCL2, it should be possible I guess but it was not stated if MPI is supported. There is also https://github.com/Caffe-MPI/Caffe-MPI.github.io but I do not see why NVIDIA/caffe itself could not be used with MPI (and OpenIB)

---
Update: checking the code, MPI support is not implemented for NVIDIA/caffe, but comparign to Caffe-MPI, adding the

[2018-05-15 10:42] Isaamarod opened #507 "Steps to install caffe in 18.04 Ubuntu version"
To install 18.04 ubuntu version, I followed steps since:

http://caffe.berkeleyvision.org/install_apt.html

`sudo apt install caffe-cuda`

After, I can't find caffe in my system and I can't found more installation steps.

Thanks,
Isabel

[2018-05-16 10:14] azuryl opened #508 "how to read f16 binary file by cc++"
when I use
fread(buffer, sizeof(fp16), 1, fp)
printf("buff %f",buffer)

thhe output is not correct

[2018-05-17 06:45] redirus opened #510 "Question: Implementations about Apis in math_functions.cpp"
Where can I find Apis' implementations about fp16 calculations such as
vhExp(n, a, y);
vhLn(n, a, y);

in math_functions.cpp?
When I try to 'make', error: 'vhExp' was not declared in this scope?
Thanks

[2018-05-17 11:01] #510 closed, assigned to nobody

[2018-05-21 06:19] HaoLiuHust opened #511 "BVLC model can directly used?"
I am using a bvlc model, but when init, the last layer have an error:  Check failed: axis_index < num_axes() (2 vs. 2) axis 2 out of range for 2-D Blob with shape 1 512 (512)

[2018-05-21 06:45] HaoLiuHust commented on #511
solved by modify cudnn_batch_norm_layer.cpp

[2018-05-23 05:59] mathmanu opened #512 "Difference with BVLC caffe"
The following model works (gives good accuracy in BVLC caffe)
https://github.com/cvjena/cnn-models/tree/master/ResNet_preact/ResNet10_cvgj

However, it doesn't work on NVIDIA/caffe (top-1 accuracy is zero)

Is blobs_[2] based scaling that is part of BVLC caffe implemented in NVIDIA/caffe?
https://github.com/BVLC/caffe/blob/master/src/caffe/layers/batch_norm_layer.cu#L24
Couldn't find it in NVIDIA/

[2018-05-26 21:35] whria78 commented on #512
I also fail to finetune ResNet-50. (CUDA 9,1, cuDNN 7).

[2018-05-27 11:42] mathmanu commented on #512
A friend of mine confirmed that if the issue that I reported regarding
scaling based on blobs_[2] in BatchNorm layer is fixed, then NVIDIA/caffe works fine for this kind of network.
The scaling that I mentioned is:
https://github.com/BVLC/caffe/blob/master/src/caffe/layers/batch_norm_layer.cu#L24

[2018-05-28 09:56] mathmanu commented on #512
@drnikolaev could you ask an expert to look into this?

[2018-05-29 15:59] borisgin commented on #512
Can you attach the nvcaffe log which has 0 accuracy please?

First of all nvidia/caffe has BatchNorm and ScaleBias fused in one layer ( see for example [https://github.com/NVIDIA/caffe/blob/caffe-0.17/models/resnet18/train_val.prototxt](url)

So instead of 2 layers in BVLC
layer {
  name: "data_bn"
  type: "BatchNorm"
  bottom: "data"
  top: "data_bn"
  param {
    lr_mult: 0.0
  }
  param {
    l

[2018-06-03 11:34] bonseyes-admin commented on #499
Hi - any update on this issue to train fp16 models?

[2018-06-04 13:08] mathmanu commented on #512
Hi @borisgin, I understand the new BatchNorm (with scale_bias) in NVIDIA/caffe and have used it several times to speedup my training. But this issue is different.

These are the log files:

[run_bvlccaffe.log](https://github.com/NVIDIA/caffe/files/2068333/run_bvlccaffe.log)
[run_nvcaffe.log](https://github.com/NVIDIA/caffe/files/2068334/run_nvcaffe.log)

[2018-06-04 21:53] drnikolaev commented on #498
cuDNN flow is clean, closing.

[2018-06-04 21:53] #498 closed, assigned to nobody

[2018-06-04 21:56] drnikolaev commented on #502
Not at this moment, sorry

[2018-06-04 21:56] #502 closed, assigned to nobody

[2018-06-04 21:58] drnikolaev commented on #507
@Isaamarod you might find some help on BVLC page

[2018-06-04 21:58] #507 closed, assigned to nobody

[2018-06-04 22:01] drnikolaev commented on #508
@azuryl
https://github.com/NVIDIA/caffe/blob/caffe-0.17/src/caffe/blob.cpp#L293-L316

[2018-06-04 22:01] #508 closed, assigned to nobody

[2018-06-04 22:01] #511 closed, assigned to nobody

[2018-06-04 23:21] drnikolaev commented on #490
@abdelrahman-gaber sorry about delay. Please try to switch back to
[code]

[2018-06-05 19:27] drnikolaev commented on #512
@mathmanu we managed to reproduce and fix this but it looks like your dataset has different labeling. Therefore, we kindly ask you to verify the fix here: https://github.com/drnikolaev/caffe/tree/caffe-0.17
Release is coming soon.

[2018-06-05 19:33] drnikolaev commented on #503
@cateweb the link above is broken

[2018-06-06 04:01] mathmanu commented on #512
The fix works. I have tested it and confirmed it. Looking forward for the release. Thank you.

[2018-06-08 10:58] Hannah-xxl opened #514 "can't use fp32 type and fp16 math in training alexnet"
I change the solver_fp16.prototxt and train_val_fp16.prototxt like this below, wanting to compare with tensorflow's mixed precision(fp32 type but fp16 math)
solver_fp16.prototxt

train_val_fp16.prototxt

Then when I run models/alexnet_owt/train_alexnet_fp16.sh, I get the error output of conv1 layer during network initialization.
`I0608 18:41:57.315078 37519 net.cpp:199] Created Layer conv1 (2)`
`I

[2018-06-08 21:27] drnikolaev commented on #514
Hi @brave-hannah when you set
[code]
You actually set NVCaffe to complete fp32 mode except cuDNN math in convolution layer. The error above is probably a result of OOM because fp32 data requires twice more space plus extra storage for convolution blobs (plus conversion cost).

Here are the best two modes:

- "Pure fp16" mode:
[code]
Example:  https://github.com/NVIDIA/caffe/tree/models/AN-FP16-201

[2018-06-11 01:24] Hannah-xxl commented on #514
Thank you @drnikolaev. But I'm still confused about OOM error you mentioned. I use P4 accelerator which has 8GB memory, so how come does OOM happen? Could you show me the piece of code in NVCaffe probably causes OOM？

[2018-06-11 07:16] drnikolaev commented on #514
@brave-hannah to answer that I have to reproduce the issue. Please upload complete log here.

[2018-06-11 13:07] Hannah-xxl commented on #514
I run this test on bare mental server with two P4, installed with ubuntu16.04, cuda 8.0, cudnn 6.0.21, cuda driver 375.26 and nvcaffe 0.17.
The testing script is from nvcaffe,

and I change the content of solver_fp16.prototxt and train_val_fp16.prototxt as described above.
Here is the full output of testing script, a bit long log. @drnikolaev

I0611 21:00:20.998628 15974 common.cpp:475] GPU 0 'Tes

[2018-06-11 23:50] drnikolaev commented on #514
@brave-hannah ` I0611 21:00:21.500053 15974 caffe.cpp:682] CuDNN version: 6021` - before we go any further, please try to upgrade it. Also, upgrading CUDA 9 might be a good idea too.

[2018-06-12 06:13] Hannah-xxl commented on #514
We tried this test on our another server installed with cuda9 and cudnn7.1.4, still got the same error. Here is the output. We use NVCaffe 0.16.3 in this server but not 0.17. @drnikolaev

I0612 14:09:30.037778 209399 caffe.cpp:473] CuDNN version: 7104
I0612 14:09:30.037783 209399 caffe.cpp:474] CuBLAS version: 9000
I0612 14:09:30.037787 209399 caffe.cpp:475] CUDA version: 9000
I0612 14:09:30.03779

[2018-06-12 15:34] mathmanu commented on #497
Try commenting out the following lines in the Reshape function of Eltwise layer and see if the issue is resolved.

  if (op_ == EltwiseParameter_EltwiseOp_SUM && no_coeffs_) {
    for (int i = 0; i < bottom.size(); ++i) {
      bottom[i]->ShareDiff(*top[0]);
    }
    top[0]->ShareData(*bottom[0]);
  }

[2018-06-13 10:16] cateweb commented on #503
Hi, reloaded logs. the link will be valid for a week.
https://we.tl/oy9AZvzHlR
Thanks for your help
Caterina

[2018-06-19 01:58] Hannah-xxl commented on #514
@drnikolaev So, do you have any results about this issue?

[2018-06-19 04:25] drnikolaev commented on #514
I'm working on new release, this should be fixed out there

[2018-06-20 07:10] Hannah-xxl commented on #514
Great, looking forward it. Thank you very much.

[2018-06-20 11:41] mathmanu commented on #512
@drnikolaev waiting for the release. Hoping that it will come soon.

[2018-06-22 12:55] HaoLiuHust opened #515 "[cudnn_conv_layer.cu:55] Check failed: error == cudaSuccess (77 vs. 0) an illegal memory access was encountered"
when running two models in multi-thread, this error will happened if compiled nvcaffe with cudnn7.

[2018-06-22 19:12] HaoLiuHust commented on #515
if I run them in two seperate process, it will be ok

[2018-06-26 10:37] lixincn2015 opened #516 "can't reproduce testing accuracy in the log file"
Hi, I've tested the trained caffemodel, and the accuracy is consistently ~0.5% lower than that claimed in the log file.
What could possibly be wrong?

[2018-06-26 13:59] Ultron-11 opened #517 "Performance Issues using FP16 on TitanV"
I tested the performance using FP16 type, it seemed that FP16 did not faster than FP32 but slower.
Environment:

- Ubuntu 16.04, CUDA 9.0, cudnn7.0
- Titan V
- NVIDIA/caffe version: 0.17
- model:example/cifar10/train_full.sh

 Please have a look at the logs I have attached.
[fp16.log](https://github.com/NVIDIA/caffe/files/2137438/fp16.log)
[fp32.log](https://github.com/NVIDIA/caffe/files/2137439/f

[2018-06-28 17:57] drnikolaev commented on #517
This might help: https://devtalk.nvidia.com/default/topic/1027346/titan-v-fp16-performance/

[2018-06-28 18:01] drnikolaev commented on #516
Hi @lixincn2015 let's start with logs, please upload them here

[2018-06-28 18:11] drnikolaev commented on #515
Reproduced and fixed, see new release soon

[2018-06-28 18:11] #515 closed, assigned to nobody

[2018-06-29 06:43] MillX2021 opened #518 "batch_norm_layer after InnerProduct"
@drnikolaev Hi,
    My research interests focus on the person re-id. I use nvcaffe for train person re-id model. but I find that BN layer(batch_norm_layer) can't after FC Layer(InnerProduct) . train log error:
Check failed: axis_index < num_axes() (2 vs. 2) axis 2 out of range for 2-D Blob with shape 64 256
     I read code about batch_norm_layer in the nvcaffe.it see that bn layer's input blob is

[2018-07-04 08:15] Ultron-11 commented on #517
I tested the speed of the fp16 on the resnet50. When the 8 card is only twice as fast as the fp32， is this normal? The only change is that I changed the DataLayer to an InputLayer.

[2018-07-04 15:15] twmht opened #519 "CuDNNConvolutionLayerTest faild at random"
Hi,

I found that `CuDNNConvolutionLayerTest /TestGradientCuDNN` failed at random with double type.

Here is the log

[code]

Environment: cudnn8 + cuda6 + GTX 970

Any idea?

[2018-07-06 07:29] twmht opened #520 "Training loss is nan as compared to bvlc caffe"
Hi,

Environment: nvcaffe 0.17 + cuda9.2 + cudnn7 + Ubuntu 16.04 + Pascal 1080 Ti

I am training face identification  and found the training loss became nan it a few iterations. But everything is fine when in bvlc-caffe.

Here is the training prototxt (https://github.com/ydwen/caffe-face/blob/caffe-face/face_example/face_train_test.prototxt)

Here is the training log
[train.log](https://github.com

[2018-07-09 17:37] 1duo commented on #517
@Ultron-11 I got similar numbers. I guess it's normal. It matches many other people's benchmark you can find online such as this one: http://en.community.dell.com/techcenter/high-performance-computing/b/general_hpc/archive/2017/09/27/deep-learning-on-v100.

[2018-07-09 18:03] 1duo commented on #516
Hi @drnikolaev, I observed same issue here. Basically during train/val (`caffe train -solver ...`), when it does validation, output includes both validation accuracy and at the meantime, a snapshot, using `SnapshotWithScores()`, with accuracy score in filename (https://github.com/aNVIDIA/caffe/blob/caffe-0.17/src/caffe/solver.cpp#L393), such as `resnet50_score1_score2_score3.caffemodel`. Later aft

[2018-07-09 18:30] drnikolaev commented on #517
@Ultron-11 @1duo - it actually depends on how GPUs talk to each other. PCIe, NVLink, NVSwitch?

[2018-07-09 18:47] 1duo commented on #517
@drnikolaev Thanks for your reply, my configurations are very similar to http://en.community.dell.com/techcenter/high-performance-computing/b/general_hpc/archive/2017/09/27/deep-learning-on-v100. 8 V100 GPUs connected via PCIe. And I got similar numbers as mentioned in above article, my numbers are ~2300 img/sec for FP16, ~1200 img/sec for FP32 ResNet50 on ImageNet. Are these numbers expected? Can

[2018-07-09 20:04] drnikolaev commented on #517
@1duo could you upload your prototxt file(s) here please?
Also, here is a sample run on 8xV100 on NVLink (see the last line):
https://github.com/NVIDIA/caffe/blob/models/RN50-FP16-20180201/resnet50-0.16.6-idl-fp16-88ep_10526.log

[2018-07-09 20:05] drnikolaev commented on #517
@1duo could you upload your prototxt file(s) here please?

[2018-07-10 08:44] drnikolaev commented on #519
@twmht thanks. Yes, in some cases `double` fails but it's hard to reproduce. I assume you mean cuda8 and cudnn6, right? Please try to upgrade.

[2018-07-10 08:53] drnikolaev commented on #516
@1duo could you post your prototxt file and log please?

[2018-07-10 08:56] #519 closed, assigned to nobody

[2018-07-10 09:24] lsp0701 opened #521 "0.17.0 can't compile without opencv on centos"
https://github.com/NVIDIA/caffe/blob/caffe-0.17/docs/installation.md#prerequisites

As the instruction above, nvcaffe-0.17.0 can be built without opencv.

And I compile it by setting "USE_OPENCV := 0" in Makefile.config

However, it doesn't work, Makefile search the opencv include path and library path anyway and it can't be compiled normally

`src/caffe/util/im_transforms.cpp:1:39: fatal error: o

[2018-07-11 00:51] drnikolaev commented on #521
Hi @henry19922 OpenCV is now mandatory and USE_OPENCV is no longer used. We'll remove it in the next release

[2018-07-11 01:21] #521 closed, assigned to nobody

[2018-07-11 02:48] lsp0701 commented on #521
thank you @drnikolaev for the answer, which exact version is since USE_OPENCV is no longer used ?

[2018-07-11 02:58] drnikolaev commented on #521
v0.17.0

[2018-07-17 10:05] HaoLiuHust commented on #515
@drnikolaev what about the fix progress?

[2018-07-19 18:14] gomlgs commented on #459
@drnikolaev I ran your test from the comment on Jan 4 (the commented out bits in test_solver.py) and I now see a steady increase in 0.17. Can you take a look?

[code]

This is with caffe 0.17, CUDA 9+cudnn7
[code]

[2018-07-20 07:33] HaoLiuHust commented on #515
@drnikolaev where can I find the fix?

[2018-07-21 15:14] gittigxuy opened #522 "I strongly hope you to support cuda 8.0 verson in your newest version"
as you know ,there are many users use ubuntu14.04 and they can not use cuda 9.0,so please support cuda 8.0.Thank you.Waiting for your soon change.

[2018-07-21 15:37] gittigxuy commented on #425
@drnikolaev ,v0.16.5 has the same problem.Please handle with it.Thanks

[2018-07-22 22:05] a64bit commented on #490
@drnikolaev Thank you for your reply. I did all modifications you mentioned, but actually the problem is still the same. Now I am trying the training without using any pretrained model, and when I set the IO and math types to Float like this:
[code]
Only in this case the model is working well; the validation accuracy is increasing, and training loss is decreasing.
However, when I use FLOAT16 to al

[2018-08-02 08:38] HITxuefeng commented on #478
are you solved this problem. I also meet it. But i have solved. this problem because libnvidia-ml.so was compiled 32byte.so when you use the OS is 64 byte it will appear this error。you look this :https://blog.csdn.net/some_times/article/details/36187101

[2018-08-06 12:20] ghost opened #523 "I think there are two bugs in this version."
Recenlty I train https://github.com/fwang91/residual-attention-network with this nv caffe version, but the loss  stay  around 8.0, and don't descrease.  After a few debuging.  now the loss can decrease,  so I think there are two bugs.

the first is(eltwise,sum):
  if (op_ == EltwiseParameter_EltwiseOp_SUM && no_coeffs_) {
    for (int i = 0; i < bottom.size(); ++i) {
      bottom[i]->ShareDiff(*to

[2018-08-07 00:41] gomlgs opened #524 "Is this project still under active development?"
I noticed that there have been no changes in this project in the last few months.

[2018-08-07 19:40] drnikolaev commented on #524
Yes, it is so far. Just waiting for approval of new features. Mike Houston has details.

On Aug 6, 2018, at 17:41, AR <notifications@github.com<mailto:notifications@github.com>> wrote:

I noticed that there have been no changes in this project in the last few months.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.

[2018-08-07 21:06] #524 closed, assigned to nobody

[2018-08-09 07:53] hanzeze commented on #518
@Millczc @drnikolaev

 I have this problem too. Have you solved it？？

I0809 13:40:05.411381 21974 caffe.cpp:454] This is NVCaffe 0.16.6 started at Thu Aug  9 13:40:05 2018
I0809 13:40:05.411495 21974 caffe.cpp:456] CuDNN version: USE_CUDNN is not defined
I0809 13:40:05.411499 21974 caffe.cpp:457] CuBLAS version: 9000
I0809 13:40:05.411500 21974 caffe.cpp:458] CUDA version: 9000
I0809 13:40:05.4115

[2018-08-14 08:04] rotorliu opened #525 "ERROR: Detected NVIDIA Tesla K80 GPU, which is not supported by this container"
Hi,
I'm trying to run Nvidia Caffe 18.07-py2 using the container from NGC on a server with Tesla K80 GPU, but without success.

This is the error I get in the console:

ERROR: Detected NVIDIA Tesla K80 GPU, which is not supported by this container
ERROR: No NVIDIA supported GPU(s) detected to run this container

Which GPUs are supported for Nvidia Caffe 18.07 ?

Thanks

[2018-08-14 08:05] rotorliu commented on #525
GeForce GTX 970 is OK

[2018-08-14 08:16] cliffwoolley commented on #525
@rotorliu Thanks for inquiring.  NGC containers are officially supported via the [NVIDIA Devtalk forums]( https://devtalk.nvidia.com/default/board/200/nvidia-gpu-cloud-ngc-users/); this issue board is for the NVIDIA Caffe project as you might build from source yourself, as opposed to the one we build for you on NGC.

That said, NGC DL Framework containers are presently built for Pascal and Volta G

[2018-08-14 08:16] #525 closed, assigned to nobody

[2018-08-14 15:41] HaoLiuHust opened #526 "When I run net on other gpu which is not 0, an CuDNNConvolutionLayer Allocate error will happen"
I want to use nvcaffe in gRPC, but when call net.Forward, the program will faill in caffe::GPUMemory::Workspace::safe_reserve, the call stack is:
caffe::GPUMemory::Workspace::safe_reserve(unsigned long, int) 0x00007fffe3814a5e
caffe::CuDNNConvolutionLayer<float, float>::AllocateWorkspace(unsigned long) 0x00007fffe348a277
caffe::CuDNNConvolutionLayer<float, float>::Reshape(std::vector<caffe::Blob*,

[2018-08-14 19:02] gomlgs commented on #459
@drnikolaev Hey Sergei - any update on this? We'd love to get back to using 0.17.

[2018-08-15 07:03] rotorliu opened #527 "Compile Error 0.17"
When compile nvcaffe 0.17, I get errors as follows:

CXX/LD -o .build_release/tools/caffe.bin
.build_release/tools/caffe.o: In function `train()':
caffe.cpp:(.text+0x4ab8): undefined reference to `caffe::P2PManager::P2PManager(boost::shared_ptr<caffe::Solver>, int, caffe::SolverParameter const&)'
.build_release/tools/caffe.o: In function `time()':
caffe.cpp:(.text+0x5d2f): undefined reference to `

[2018-08-15 07:13] drnikolaev commented on #527
@rotorliu thank you. Please paste the command you invoke.

[2018-08-15 07:18] rotorliu commented on #527
cd caffe
make

[2018-08-15 07:39] rotorliu commented on #527
The environment is ngc container.
There is a caffe in it.

[2018-08-15 18:00] drnikolaev commented on #527
What version of the container do you run? And why do you need to build caffe? It's built already.

[2018-08-16 01:02] rotorliu commented on #527
The version of the container is NVCaffe 18.07-py2
I want to add Focal Loss support。
So I need rebuild caffe。

[2018-08-17 02:29] rotorliu commented on #527
I fixed this！
I remove the old lib and remake. It's OK

[2018-08-17 05:18] HaoLiuHust commented on #526
Any one can help?

[2018-08-17 17:50] drnikolaev commented on #526
@HaoLiuHust do you have display connected?

[2018-08-17 17:51] drnikolaev commented on #527
Thank you for confirming

[2018-08-17 17:51] #527 closed, assigned to nobody

[2018-08-17 17:52] drnikolaev commented on #523
@zhuwnq this is fixed in new release, coming soon...

[2018-08-20 02:02] HaoLiuHust commented on #526
@drnikolaev I am connecting the server with vnc, and if I run the model on gpu 0, it will be ok. The error only occur when I want to run it on other gpus

[2018-08-20 07:34] drnikolaev commented on #526
@HaoLiuHust could you please check this rc https://github.com/drnikolaev/caffe/tree/caffe-0.17

[2018-08-20 07:35] drnikolaev commented on #523
@zhuwnq could you verify https://github.com/drnikolaev/caffe/tree/caffe-0.17 release candidate?

[2018-08-20 07:36] drnikolaev commented on #522
@gittigxuy  could you verify https://github.com/drnikolaev/caffe/tree/caffe-0.17 release candidate?

[2018-08-20 07:36] drnikolaev commented on #520
@twmht  could you verify https://github.com/drnikolaev/caffe/tree/caffe-0.17 release candidate?

[2018-08-20 07:40] drnikolaev commented on #518
@Millczc
`I0809 13:40:05.426266 21974 layer_factory.hpp:184] Layer's types are Ftype:FLOAT16 Btype:FLOAT Fmath:FLOAT16 Bmath:FLOAT16`
Seems like mixing FLOAT16 on Forward and FLOAT on Backward doesn't work well. Please try FLOAT16 everywhere

[2018-08-20 07:41] drnikolaev commented on #517
@1duo @Ultron-11  could you verify https://github.com/drnikolaev/caffe/tree/caffe-0.17 release candidate?

[2018-08-20 07:42] #516 closed, assigned to nobody

[2018-08-20 07:42] drnikolaev commented on #512
@mathmanu  could you verify https://github.com/drnikolaev/caffe/tree/caffe-0.17 release candidate?

[2018-08-20 07:44] mathmanu commented on #512
I have already verified the fix as I commented above. It works.

[2018-08-20 07:44] drnikolaev commented on #505
@dashesy  could you verify https://github.com/drnikolaev/caffe/tree/caffe-0.17 release candidate?
It's different implementation though (closing your PR, thank you).

[2018-08-20 07:53] drnikolaev commented on #512
thank you

[2018-08-20 07:53] #512 closed, assigned to nobody

[2018-08-20 07:57] drnikolaev commented on #503
@cateweb  could you verify https://github.com/drnikolaev/caffe/tree/caffe-0.17 release candidate?

[2018-08-20 07:58] drnikolaev commented on #499
@abdelrahman-gaber  could you verify https://github.com/drnikolaev/caffe/tree/caffe-0.17 release candidate?

[2018-08-20 08:00] drnikolaev commented on #497
@venkai  could you verify https://github.com/drnikolaev/caffe/tree/caffe-0.17 release candidate?

[2018-08-20 08:05] drnikolaev commented on #494
@ezetl  could you verify https://github.com/drnikolaev/caffe/tree/caffe-0.17 release candidate?

[2018-08-20 08:08] drnikolaev commented on #490
@abdelrahman-gaber  could you verify https://github.com/drnikolaev/caffe/tree/caffe-0.17 release candidate?

[2018-08-20 10:27] a64bit commented on #490
@drnikolaev  Thanks for the update, I will test it and tell you.

[2018-08-20 15:35] HaoLiuHust commented on #526
@drnikolaev Thank you very much, I will try it

[2018-08-20 15:45] 1duo commented on #517
@drnikolaev I no longer have access to V100 machines. Can't help here, sorry for the inconvenience. Thanks.

[2018-08-20 16:59] #517 closed, assigned to nobody

[2018-08-20 21:11] drnikolaev commented on #459
@seanbell so, latest https://github.com/drnikolaev/caffe/tree/caffe-0.17 still affected? hmm, may I ask you to try Anaconda?

[2018-08-20 21:15] gomlgs commented on #459
I'll try your tree and get back to you. Note that I was running the test you added in https://github.com/NVIDIA/caffe/issues/459#issuecomment-355462672

[2018-08-20 22:39] a64bit commented on #499
So I tested my SFD model with the same VGG pretrained model, and the problem is still there. The loss in int, nan, and -nan !
This is the output I got after running the training.

`
I0820 22:20:21.132539  9094 caffe.cpp:155] Finetuning from /home/ubuntu/caffe-NVIDIA/models/VGGNet/VGG_ILSVRC_16_layers_fc_reduced.caffemodel
I0820 22:20:21.181888  9094 upgrade_proto.cpp:66] Attempting to upgrade inpu

[2018-08-20 23:07] a64bit commented on #490
@drnikolaev  Thank you, It seems that the training is working now, the validation accuracy is increasing and test loss is decreasing. However, I can only train from scratch and still not able to use the pretrained model as mentioned here: https://github.com/NVIDIA/caffe/issues/499

I will let the training run until the end and will tell you if noticed weird behavior.

[2018-08-20 23:13] gomlgs commented on #459
Using https://github.com/drnikolaev/caffe/tree/caffe-0.17:
[code]
So, yes, the issue is still ongoing. @drnikolaev

[2018-08-21 09:11] soyebn opened #529 "color_mode bug in Decode() function in io.cpp"
Looks like color_mode is ignore in the flow when Turbo JPEG decoder is used. Observed while training coco dataset which contains gray images.
See below,
https://github.com/NVIDIA/caffe/blob/caffe-0.17/src/caffe/util/io.cpp#L152
Inserting the following lines fixes the issue.
    if(cv_img->channels()<3 && color_mode>0) {
    	cv::cvtColor(*cv_img, *cv_img, cv::COLOR_GRAY2BGR);
    }

[2018-08-21 17:49] drnikolaev commented on #499
@abdelrahman-gaber   `gs = 32` means that you use fixed loss scale set to 32. Please switch to the adaptive one, i.e. replace
[code]
by
[code]

[2018-08-22 02:01] drnikolaev commented on #459
@gomlgs @seanbell Reproduced&fixed in https://github.com/drnikolaev/caffe/tree/caffe-0.17

[2018-08-22 02:01] #459 closed, assigned to nobody

[2018-08-22 02:02] drnikolaev commented on #529
@soyebn Good catch, thank you. Fixed in https://github.com/drnikolaev/caffe/tree/caffe-0.17

[2018-08-22 02:02] #529 closed, assigned to nobody

[2018-08-22 03:39] gomlgs commented on #459
Fantastic, thank you!

[2018-08-22 20:24] drnikolaev commented on #526
Please verify https://github.com/NVIDIA/caffe/tree/v0.17.1

[2018-08-22 20:25] drnikolaev commented on #523
@zhuwnq Please verify https://github.com/NVIDIA/caffe/tree/v0.17.1 release and reopen the issue if needed.

[2018-08-22 20:25] #523 closed, assigned to nobody

[2018-08-22 20:26] drnikolaev commented on #522
@gittigxuy  Please verify https://github.com/NVIDIA/caffe/tree/v0.17.1 release and reopen the issue if needed.

[2018-08-22 20:26] #522 closed, assigned to nobody

[2018-08-22 20:26] drnikolaev commented on #520
@twmht  Please verify https://github.com/NVIDIA/caffe/tree/v0.17.1 release and reopen the issue if needed.

[2018-08-22 20:26] #520 closed, assigned to nobody

[2018-08-22 20:26] drnikolaev commented on #518
@Millczc  Please verify https://github.com/NVIDIA/caffe/tree/v0.17.1 release and reopen the issue if needed.

[2018-08-22 20:26] #518 closed, assigned to nobody

[2018-08-22 20:27] drnikolaev commented on #514
@brave-hannah  Please verify https://github.com/NVIDIA/caffe/tree/v0.17.1 release and reopen the issue if needed.

[2018-08-22 20:27] #514 closed, assigned to nobody

[2018-08-22 20:28] drnikolaev commented on #505
@dashesy  Please verify https://github.com/NVIDIA/caffe/tree/v0.17.1 release and reopen the issue if needed.

[2018-08-22 20:28] #505 closed, assigned to nobody

[2018-08-22 20:28] drnikolaev commented on #503
@cateweb  Please verify https://github.com/NVIDIA/caffe/tree/v0.17.1 release and reopen the issue if needed.

[2018-08-22 20:28] #503 closed, assigned to nobody

[2018-08-22 20:29] drnikolaev commented on #497
@venkai  Please verify https://github.com/NVIDIA/caffe/tree/v0.17.1 release and reopen the issue if needed.

[2018-08-22 20:29] #497 closed, assigned to drnikolaev

[2018-08-22 20:29] drnikolaev commented on #494
@ezetl  Please verify https://github.com/NVIDIA/caffe/tree/v0.17.1 release and reopen the issue if needed.

[2018-08-22 20:29] #494 closed, assigned to nobody

[2018-08-22 20:30] drnikolaev commented on #490
@abdelrahman-gaber  Please verify https://github.com/NVIDIA/caffe/tree/v0.17.1 release and reopen the issue if needed.

[2018-08-22 20:30] #490 closed, assigned to drnikolaev

[2018-08-22 21:01] a64bit commented on #499
@drnikolaev Now after using adaptive scaling I can see gs is changing but still the loss is nan and  mbox_loss = inf !
Is there other changes I should do ?

`

I0822 20:54:57.256644 14071 solver.cpp:341]     [0.0] Iteration 2 (20.2241 s), loss = nan
I0822 20:54:57.256696 14071 solver.cpp:361]     [0.0]     Train net output #0: mbox_loss = inf (* 1 = inf loss)
I0822 20:55:01.366313 14071 solver.cpp

[2018-08-22 23:13] ezetl commented on #494
Hi @drnikolaev, I can confirm that with the same models I originally posted and with the latest release this issue is fixed. I could obtain 99.85 of accuracy on AFW. Thank you very much for the hard work!

[2018-08-22 23:36] drnikolaev commented on #499
@abdelrahman-gaber seems like the problem is in tuning. Train from scratch works fine. May I have VGG_ILSVRC_16_layers_fc_reduced.caffemodel file please?
Also, does train from scratch work on your side?

[2018-08-23 10:48] a64bit commented on #499
@drnikolaev This is the VGG pretrained model I am using:
https://gist.github.com/weiliu89/2ed6e13bfd5b57cf81d6

And yes training from scratch is working fine.

[2018-08-23 22:03] drnikolaev commented on #499
@abdelrahman-gaber I reproduced the issue and managed to avoid it by changing back the following:
[code]
Then
[code]
Also it's good to set test.prototxt to fp32 cause it's packed with CPU only layers.
Result:
[code]

[2018-08-24 05:30] HaoLiuHust opened #531 "[cudnn_conv_layer.cu:54] Check failed: error == cudaSuccess (77 vs. 0) an illegal memory access was encountered"
update to 0.17.1, the issue still there when use multi thread #515

[2018-08-24 08:07] drnikolaev commented on #531
@HaoLiuHust I need to reproduce this. May I have your model please?

[2018-08-24 08:25] zlheos opened #532 "loss/accuracy different between bvlc/caffe with NVIDIA/caffe"
Hello, I have some questions when using NVIDIA/caffe, and hope you can help me.
finetune model：
with bvlc/caffe , the accuracy is always 0.97
with NVIDIA/caffe , the accuracy drop from 0.98 to 0.58 and then restore to 0.7

prototxt and log is below

I don't know why
[train_prototxt.txt](https://github.com/NVIDIA/caffe/files/2317600/train_prototxt.txt)
[run_bvlc.log](https://github.com/NVIDIA/caffe

[2018-08-25 06:36] HaoLiuHust commented on #531
@drnikolaev it is the mtcnn model, only when run it in multi thread, the error will happen

[2018-08-25 11:12] a64bit commented on #499
@drnikolaev I did the modifications you mentioned but still facing the same problem, loss is -nan
These are the files I am using for training, I think it would be good if you have a look on them.
https://drive.google.com/open?id=13hpIKMnKcVimTY84xzqeoTGSFWBnL18e

Thanks.

[2018-08-27 03:22] twmht commented on #520
@drnikolaev

thank you. I have not verified yet.

But what is the cause for this issue? What changes did you made to solve this issue? (https://github.com/NVIDIA/caffe/pull/528)

[2018-08-28 04:46] 437432655 opened #533 "Question about caffe"
Hello, I have some questions when using caffe, and hope you can help me.
First I use v0.15.9 and make successfully. But when I import caffe.model_libs , there is an error that no module named model_libs.
I don't know why. Then I use v0.17.1, but when make all -j4 , there is another error that
sudo make all -j4
LD -o .build_release/lib/libcaffe-nv.so.0.17.1
/usr/bin/ld: /usr/lib/gcc/x86_64-linux-gn

[2018-08-28 18:47] drnikolaev commented on #533
@437432655 please look at https://github.com/NVIDIA/caffe/blob/caffe-0.17/README.md
scroll to the very bottom

[2018-08-28 18:47] #533 closed, assigned to nobody

[2018-08-29 04:01] 437432655 commented on #533
very appreciate for your response.
I have executed these code early.
sudo apt-get install libturbojpeg
sudo ln -s /usr/lib/x86_64-linux-gnu/libturbojpeg.so.0.1.0 /usr/lib/x86_64-linux-gnu/libturbojpeg.so

[2018-08-30 07:33] rotorliu opened #534 "Loss is more?"
Same model prototxt
The loss of NVIDIA Caffe is more than the loss of BLVC Caffe when training.
Why?

[2018-08-30 07:40] rotorliu commented on #532
I have the same question.
Same model prototxt
The loss of NVIDIA Caffe is more than the loss of BLVC Caffe when training.
Why?

[2018-08-30 07:40] #534 closed, assigned to nobody

[2018-09-03 12:52] vbzhe commented on #531
question occur in this lines:
###########################################
 // NOLINT_NEXT_LINE(whitespace/operators)
for (int ig = 0; ig < ws_groups(); ++ig) {
        CUDA_CHECK(cudaStreamSynchronize(Caffe::thread_stream(ig)));
      }
############################################

[2018-09-04 02:19] HaoLiuHust commented on #531
@vbzhe you got the same error?

[2018-09-04 02:36] cliffwoolley commented on #531
This error code indicates that some kernel running on the GPU had an out-of-bounds memory access.  We would need to run through `cuda-memcheck` in order to find out which one.  That's why @drnikolaev asked for a complete reproducer - the whole prototxt as well as the versions of CUDA and cuDNN that you have installed.

Edit: We would also need to know which GPU you have.

[2018-09-05 09:32] louis-u opened #535 "make error"
I'm trying to make NVcaffe on my host . It reports logs as follow
`louis@louis-HP-280-G1-MT:~/caffe-caffe-0.15$ make all -j8
LD -o .build_release/lib/libcaffe-nv.so.0.15.14
/usr/bin/ld: /usr/local/lib/libleveldb.a(db_impl.cc.o): relocation R_X86_64_32S against `.rodata' can not be used when making a shared object; recompile with -fPIC
/usr/local/lib/libleveldb.a: error adding symbols: Bad value
co

[2018-09-07 08:35] heweiSing opened #536 "How to enable CPU only mode build?"
Dear,
How to enable CPU only mode build?
It won't work by setting:
USE_CUDNN := 0
CPU_ONLY := 1

in Makefile.config

Thanks and best regards
He Wei

[2018-09-13 13:45] dbannach opened #537 "Bug in DetectNet clustering layer when height > width"
The ClusterDetections layer of DetectNet has a bug when processing images in portrait format. It limits the number of grid cells in the vertical dimension to the number of cells in horizontal dimension, thus ignoring any object (bounding box) that lies outside of the top square crop of the input image.

The line
https://github.com/NVIDIA/caffe/blob/f7801e974f883b97e1b99e9dd23457a6d6cb4b68/python/c

[2018-09-22 15:46] jwnsu commented on #531
Encounter same error in different location:
`F0922 08:33:07.619784 30061 syncedmem.cpp:28] Check failed: error == cudaSuccess (77 vs. 0)  an illegal memory access was encountered
*** Check failure stack trace: ***
    @     0x7fbac55c25cd  google::LogMessage::Fail()
    @     0x7fbac55c4433  google::LogMessage::SendToLog()
    @     0x7fbac55c215b  google::LogMessage::Flush()
    @     0x7fbac55c4

[2018-09-22 19:19] cliffwoolley commented on #531
@jwnsu - please see my previous comment https://github.com/NVIDIA/caffe/issues/531#issuecomment-418223977 .  Can you provide this information, please?

[2018-09-26 02:11] HaoLiuHust commented on #531
the model is not important, any model can produce it

[2018-09-26 07:09] supreetha-s opened #540 "Caffe complilation fails with NCCL errors"
System details:
Ubuntu 16.0.4.5
CUDA 10
NLCC libnccl2 (2.3.4)
Caffe 0.17.1

Caffe Complilation fails with following errors; Can you please help me in resolving below issue.

caffe-0.17.1$ make all -j4
CXX src/caffe/parallel.cpp
CXX src/caffe/solvers/rmsprop_solver.cpp
CXX src/caffe/solvers/adam_solver.cpp
CXX src/caffe/solvers/adadelta_solver.cpp
In file included from src/caffe/parallel.cpp:2:0:
s

[2018-09-26 19:41] drnikolaev commented on #535
@louis-u you need to link with libleveldb.so

[2018-09-26 19:42] drnikolaev commented on #536
@heweiSing CPU only mode is no longer supported

[2018-09-26 19:42] #536 closed, assigned to nobody

[2018-09-26 19:44] drnikolaev commented on #540
@supreetha-s please use CMake while we fixing this error. Thank you.

[2018-09-27 04:30] supreetha-s commented on #540
Thank you, will try with that and update.

[2018-09-30 01:53] NEWPLAN commented on #535
Hi, I have fix two compile errors while enabling multi-threads and linking with the latest cuda (higher than 9).
Could you please kindly give a check on my submissions and merge it into the caffe branch?

Best.

[2018-10-12 22:36] mprat opened #542 "CPU only mode"
I noticed that CPU-only mode was removed at from this fork of Caffe. Why? I can definitely see a use case for not wanting to compile the entire CUDA-enabled library for quick testing (especially on an embedded device) before compiling the full CUDA-enabled pipeline.

[2018-10-15 08:15] dsgh2 commented on #540
Hi. I have same errors.
Could let me know how to solve?
Cmake also does not work with same reasons.

[2018-11-02 21:40] #526 closed, assigned to nobody

[2018-11-03 20:56] drnikolaev commented on #540
Fixed in v0.17.2

[2018-11-03 20:56] #540 closed, assigned to nobody

[2018-11-03 20:56] drnikolaev commented on #537
Fixed in v0.17.2

[2018-11-03 20:56] #537 closed, assigned to nobody

[2018-11-03 20:57] #535 closed, assigned to nobody

[2018-11-03 20:57] #531 closed, assigned to nobody

[2018-11-03 21:01] drnikolaev commented on #542
Hi @mprat it makes the code convoluted.

[2018-11-03 21:01] #542 closed, assigned to nobody

[2018-11-03 21:03] drnikolaev commented on #532
@zlheos @rotorliu Please use NVCaffe-specific implementation of BatchNorm layer.

[2018-11-03 21:03] #532 closed, assigned to nobody

[2018-11-21 06:34] changgongcheng opened #544 "libcaffe-nv.so: undefined reference to `tjDestroy'"
.build_release/lib/libcaffe-nv.so: undefined reference to `tjDestroy'
.build_release/lib/libcaffe-nv.so: undefined reference to `tjInitDecompress'
.build_release/lib/libcaffe-nv.so: undefined reference to `tjDecompressHeader2'
.build_release/lib/libcaffe-nv.so: undefined reference to `tjDecompress2'

 anyone who can help me

[2018-11-21 07:45] drnikolaev commented on #544
@changgongcheng please check this out:
https://github.com/NVIDIA/caffe#useful-notes

[2018-11-27 06:28] becauseofAI opened #545 "Caffe 0.17.2 complilation still fails with NCCL same errors"
System details:
Ubuntu 16.0.4.5
CUDA 9.0
NLCC libnccl2 (2.3.7)
Caffe 0.17.2

Error details:
[code]
This error has been fixed in the issue #540, but why does it still encounter same NCCL errors?
Any help will be grateful.

[2018-11-27 20:33] drnikolaev commented on #545
Hi @becauseofAI this is strange. Have you installed NCCL using DEB package? Does `/usr/include/nccl.h` exist? If nothing works, could you try CMake?

[2018-11-28 00:01] jwnsu opened #546 "CUDA 10.0 compilation error"
Ubuntu 16.04.5, cuda 10.0, V10.0.130. Latest pull from 0.17 branch:
[code]

[2018-11-28 01:18] drnikolaev commented on #546
@jwnsu `nms.cu` file is not part of this codebase:
https://github.com/NVIDIA/caffe/tree/caffe-0.17/src/caffe/util

[2018-11-28 01:19] #544 closed, assigned to nobody

[2018-11-28 01:54] jwnsu commented on #546
Thx for the info. Indeed, nms.cu was added from another detection library.

[2018-11-28 02:02] #546 closed, assigned to nobody

[2018-11-28 03:17] becauseofAI commented on #545
I had installed NCCL as follow:
[code]
or
[code]
then
[code]
[code]
The successful installation results details:
[code]
And the ```/usr/include/nccl.h```is existed:
[code]
And I also try CMake:
[code]
But NCCL still has errors, details as follow:
[code]
So what are the possible problems now? @drnikolaev

[2018-11-28 06:34] drnikolaev commented on #545
@becauseofAI could you please paste here the output you get from `cmake ..` command? I tried to reproduce this issue but couldn't so far.

Also, could you run and compare:
[code]

[2018-11-28 06:36] happy-Bobo opened #547 "how to add centerLoss_layer"
Hello
I want to train my model with nvcaffe , but my net contain centerLoss layer, so I failed. I am try to add the 'center_Loss_layer.cpp/hpp/cu' to the src/include, but build the framework error, would you help me solve this question, thank you very much!
[center_loss_layer.cpp.txt](https://github.com/NVIDIA/caffe/files/2623175/center_loss_layer.cpp.txt)
[center_loss_layer.cu.txt](https://github

[2018-11-28 10:14] becauseofAI commented on #545
@drnikolaev Thank you for your patience.

The output of ```cmake ..``` command as follow:
[code]
And I also checked the ```ncclResult_t```and```ncclGroupStart```, it is the same output as you:
[code]

[2018-11-28 17:39] drnikolaev commented on #545
@becauseofAI seems like you have another NCCL installed here:
[code]
So, you might need to clean it first

[2018-11-29 06:12] becauseofAI commented on #545
@drnikolaev I cleaned it up as you said. Now it works with CMake. But it still **fails** with make through Makefile.config.
CMake successful details:
[code]
[code]
Make **failed** details through Makefile.config:
[code]
Maybe I need to modify the configuration file of Makefile.config and Makefile? But how?
The Makefile is original and not modified.
The Makefile.config details:
[code]

[2018-11-29 06:57] drnikolaev commented on #545
@becauseofAI ok, cool. Now let's take a look at this linker error:
[code]
It means that linker still finds old NCCL library. Please try
[code]
and remove old versions.

[2018-11-29 08:53] becauseofAI commented on #545
@drnikolaev I‘m sorry for my carelessness, I forget to clean the ```/usr/local/cuda/lib64/libnccl.so```.
Now all is working well!:thumbsup:
Thank you very much.:heart:

By the way, why is NCCL already in the cuda directory and why it can't be used, I am not very clear yet.
Maybe it was compiled and installed previously by someone else through source code of old version:
[code]
Or was it originally

[2018-11-29 19:38] drnikolaev commented on #545
Seems like it was v1.0 built from sources. Good luck!

[2018-11-29 19:38] #545 closed, assigned to nobody

[2018-12-28 03:06] kmakonyi opened #548 "resnet50-ssd training issues"
Hello,

I tried to train resnet50 with ssd on my own dataset.
The model comes from https://github.com/jay-mahadeokar/pynetbuilder/tree/master/models/voc2007_ssd/resnet_50 the pretrained weights from https://www.dropbox.com/s/en1niufn7nagh27/detect_snapshot_iter_60000.caffemodel?dl=0.
I used this command to train:
../caffe_nvidia_0.17.1/build/tools/caffe train --solver="solver.prototxt"  --weights=

[2019-01-10 03:44] ESQ900ST opened #549 "Error during compilation"
Im using ubuntu desktop 16.04, have installed all the required dependancies (official caffe runs ok).

The thing is I have problem running multi-gpu on the official caffe so wanted to try the nvcaffe.

But there's this error during the make compilation:

LD -o .build_release/lib/libcaffe-nv.so.0.17.2
/usr/bin/ld: /usr/lib/gcc/x86_64-linux-gnu/5/../../../x86_64-linux-gnu/libturbojpeg.a(libturbojpeg

[2019-01-14 06:37] drnikolaev commented on #549
Hi @ESQ900ST  please try https://github.com/NVIDIA/caffe#useful-notes

[2019-01-14 06:41] drnikolaev commented on #548
Hi @kmakonyi I'd start from verifying that pre-trained model has identical labeling with the open images dataset.

[2019-01-14 06:42] #547 closed, assigned to nobody

[2019-01-14 20:35] kmakonyi commented on #548
Hello,
Thank You for your answer.
I don't really know what do you mean?
I try to fine-tune the model with only two classes. I created the following labelmap:
item {
name: "none_of_the_above"
label: 0
display_name: "background"
}
item {
name: "Human"
label: 1
display_name: "Human"
}
item {
name: "Vehicle"
label: 2
display_name: "Vehicle"
}
The pre-trained model was trained on voc2012, so the labeli

[2019-01-15 07:52] drnikolaev commented on #548
This is the problem actually. If voc2012 has labels 0, 1, 2 assigned to something else, you should choose other values. As of merging, I'm not sure I can help here.

[2019-01-16 06:07] cathy-kim opened #551 "Loss goes inf when training the VGG based SSD model using FP16 mode"
Hi. I would like to train SSD with pretrained model in FP16 mode.
However, whether I use pretrained model or not, loss goes inf when I try to do it.
How to make it? and What should I do for it.
Could you give me prototxt files with VOC0712 dataset  in FP16 mode.
Thank you.

Here is my train.prototxt
name: "VGG_VOC0712_SSD_300x300_train_fp16"

default_forward_type:  FLOAT16
default_backward_type: F

[2019-01-16 21:23] drnikolaev commented on #551
Hi @Seojin24 could you try this please:
[code]

[2019-01-21 12:10] guoqiang0148666 opened #553 "faster rcnn support error"
Hello, l want to use nvidia caffe to support faster rcnn, but l meet a error as following:

F0121 16:54:30.924830 13972 blob.hpp:593] Check failed: current_type == new_type (3 vs. 1) Attempt to change TBlob native data type from INT to FLOAT
*** Check failure stack trace: ***
    @     0x7f3420fa75cd  google::LogMessage::Fail()
    @     0x7f3420fa9433  google::LogMessage::SendToLog()
    @     0x

[2019-01-22 06:24] #549 closed, assigned to nobody

[2019-01-22 06:24] #548 closed, assigned to nobody

[2019-01-22 06:25] #551 closed, assigned to nobody

[2019-01-22 06:27] drnikolaev commented on #553
@guoqiang0148666 what is ROIPoolingLayer?

[2019-01-22 11:52] guoqiang0148666 commented on #553
ROIPoolingLayer comes from faster rcnn (https://github.com/rbgirshick/py-faster-rcnn)

[2019-01-25 12:15] whria78 commented on #553
1)
ROIPooling Layer was supported by Microsoft version of Caffe (2015).

[code]

[code]

2) py-faster-rcnn works well on Ubuntu 16.04 (https://github.com/rbgirshick/py-faster-rcnn).
However, if we want to use it with the lastest cuDNN on Ubuntu 18.04, please check this post (https://gist.github.com/acmiyaguchi/bc535ba23eabd3564edd73e491763d50)

[2019-01-31 01:20] excubiteur opened #554 "Is nvcaffe cudnn_conv_layer (.cu,.hpp,.cpp) safe to be used in two separate inferencing Net objects inferencing in separate threads?"
This is in relation to:

https://devtalk.nvidia.com/default/topic/1046795/jetson-tx2/nvcaffe-0-17-used-in-two-plugins-in-the-same-pipe-crashes/

I did more digging and found that
test_mem_req_all_grps_
is a static member of CuDNNConvolutionLayer

So my question is:
Is nvcaffe cudnn_conv_layer (.cu,.hpp,.cpp) safe to be used in two separate inferencing Net objects inferencing in separate threads?

[2019-01-31 01:30] excubiteur commented on #554
I checked the main codeline version of caffe. That version of CuDNNConvolutionLayer does not have static data members.

[2019-01-31 02:05] drnikolaev commented on #554
Hi @excubiteur
There are more actually:
[code]
They are atomic counters maintaining maximum memory requirements across all groups.
These things are thread safe by definition. This is something else.
This seems to be the culprit:

Here is how:
[code]

[2019-01-31 03:00] excubiteur commented on #554
Appreciate you taking the time for this.
But I am still getting the same problem in that exact location.
Here's the log in case there is useful information:

I0131 02:43:00.086418  9150 gpu_memory.cpp:105] GPUMemory::Manager initialized
I0131 02:43:00.086522  9150 gpu_memory.cpp:107] Total memory: 8227401728, Free: 2813534208, dev_info[0]: total=8227401728 free=2813534208
I0131 02:43:00.092890  91

[2019-01-31 04:50] excubiteur commented on #554
test_mem_req_all_grps_

appears twice in

CuDNNConvolutionLayer<Ftype, Btype>::FindExConvAlgo

Even if atomic, would a change made to it by another thread affect the correctness of the member function? The second occurrence  is as argument to  mem_fmt which sounds like it could depend on test_mem_req_all_grps_ not being changed by another thread, but I can't be sure.

Thanks for any help you can p

[2019-01-31 05:19] excubiteur opened #555 "Diagnosing a problem in cudnn_conv_layer.cu (continuation of previous issue)"
To be absolutely clear, this is not a solution, only to test a suspicion.

I added a mutex to  CuDNNConvolutionLayer<Ftype, Btype>::Forward_gpu

and the problem went away.

If I really need a fix to this problem that can be deployed to production, what would be the best approach?

#ifdef USE_CUDNN
#include <algorithm>

#include "caffe/filler.hpp"
#include "caffe/layers/cudnn_conv_layer.hpp"
#inclu

[2019-01-31 05:26] excubiteur commented on #554
Thanks for taking the time to look at the problem. Really appreciate it.

I tried caffe::GPUMemory::Scope. I get the exact same error in the same line of cudnn_conv_layer.cu

[2019-01-31 05:27] drnikolaev commented on #555
@excubiteur I see now what you mean. Thank you. I'll need to re-evaluate this approach. I'll let you know soon.

[2019-02-01 09:52] excubiteur commented on #555
I am trying a temporary fix to tide me over until the next release. Please let me know what you think

For each of the statics like test_mem_req_all_grps_ there is a corresponding data member temp_test_mem_req_all_grps_.

The member non-static temp_test_mem_req_all_grps_ gets initialized with test_mem_req_all_grps_ at the beginning of CuDNNConvolutionLayer<Ftype, Btype>::Forward_gpu. This is the o

[2019-02-01 20:48] drnikolaev commented on #555
@excubiteur here is the fix candidate, would you mind to give it a try?
https://github.com/drnikolaev/caffe/tree/caffe-0.17

[2019-02-02 15:42] cathy-kim commented on #551
Thank you for answer.
The problem was solved when I added
"default_forward_math: FLOAT16
 default_backward_math: FLOAT16"
and
 "Foward_type: FLOAT, Backward_type:FLOAT" to every PriorBox layer.

However, **the pretrained model issue** was not solved.
Is a pretrained model also should have been trained as FP16 when I want to use it in FP16 training mode?

[2019-02-02 17:32] cathy-kim opened #556 "Mixed Precision and FP16"
Hi, I'm still trying to train SSD using mixed precision.
**What is the difference between the mixed precision training and FP16 training?**

At @birusgin 's presentation(http://on-demand.gputechconf.com/gtc-il/2017/presentation/sil7116-boris-ginsburg-mixed-precision-training-of-deep-nn-with-volta.pdf) ,  FP16 training is different from Mixed Precision Training.
And **SSD's mAP of FP16 is 77.1%**,

[2019-02-04 04:37] excubiteur commented on #555
I am still getting the same error.

To make sure I was doing it right, I checked that the changes were there - especially the removal of the statics.

The error occurs in exact same line of code in cudnn_conv_layer.cu (which was not changed in the fix).

The same experiment of crudely putting a mutex in  CuDNNConvolutionLayer<Ftype, Btype>::Forward_gpu also made the problem go away.

For now I wil

[2019-02-04 04:56] excubiteur commented on #555
Looking at line 18 of cudnn_conv_layer.cu
  GPUMemory::Workspace* ws = GPUMemory::workspace_[Caffe::current_device()].get();

Both my caffe::Net instances are using device 0. Each caffe::Net instance in my case is doing "Forward" in separate independent threads.

[2019-02-04 19:26] drnikolaev commented on #555
@excubiteur  this is what I meant by commented function here:
https://github.com/drnikolaev/caffe/blob/caffe-0.17/src/caffe/layers/cudnn_conv_layer.cpp#L29
But better solution is coming soon..

[2019-02-06 08:55] drnikolaev commented on #555
@excubiteur please pull again and verify

[2019-02-06 09:50] drnikolaev commented on #556
Hi @ginn24 if layer has only CPU implementation, it's better to use fp32, you are right. FP16 means pure fp16 based flow including weights accumulation. NVCaffe does support this: https://github.com/NVIDIA/caffe/tree/models
As of SSD itself, this might be a bug I just fixed here: https://github.com/drnikolaev/caffe
Please give it a try. If it's still broken, please send me reproduction instruction

[2019-02-07 02:08] excubiteur commented on #555
It's  looking good. If you don't hear from me after more than a week, you can consider it fixed perfectly :)

And many thanks for the incredible effort put into fixing this.

[2019-02-07 09:04] excubiteur commented on #555
Painful discovery.
caffe::GPUMemory::Scope gpu_memory_scope({0});
needs to appear once on every thread that calls Net::Forward.
Was using a 3rd party framework that spawned and then killed threads for each task.
Thread ID was the same each time since I was doing one task at a time.
Took a while to realize that threads were spawned and killed and were getting
the same ID each time.

[2019-02-07 13:45] samsparks opened #557 "detectnet/clustering.py incorrectly calculates bounding box height"
`vote_boxes()` in [clustering.py](https://github.com/NVIDIA/caffe/blob/caffe-0.17/python/caffe/layers/detectnet/clustering.py#L195) calculates each detection height by subtracting each bounding box's index 1 from index 3.

However, since a bounding box is a  `cv::Rect`, [index 3 is height and index 1 is y](https://docs.opencv.org/3.4/d2/d44/classcv_1_1Rect__.html#a5a41149f4b012b9f323b5913454375a1)

[2019-02-07 14:48] samsparks commented on #557
Actually, as I look closer, the issue is move invasive.  clustering.py assumes `[[x1, y1, x2, y2]]` boxes as the `vote_boxes()`'s input and output. Therefore, the algorithm needs to convert the input prior to the call to `groupRectangles()`, test the height using `rect[3]`, and convert back to `[x1, y1, x2, y2]` when populating `detections_per_image`

[2019-02-07 18:52] drnikolaev commented on #555
Looks like it’s time to clean all thread id dependences. I’ll check it out

[2019-02-08 18:35] samsparks commented on #557
Is there a better venue for this discussion? I haven't received a response on nvidia's forums.
TIA

[2019-02-08 18:44] drnikolaev commented on #557
hi @samsparks sorry for the delay. I'm trying this but I'd appreciate some sample/unit test to check that it works correctly

[2019-02-08 19:21] samsparks commented on #557
Sure, @drnikolaev, I would be happy to provide example code. However, as this is an interface issue between clustering.py and opencv, I'm not sure what to provide beyond an inspection of the code.

[Lines 167-172](https://github.com/NVIDIA/caffe/blob/caffe-0.17/python/caffe/layers/detectnet/clustering.py#L172) show the extraction of the top left and bottom right coordinates of each bounding box in

[2019-02-08 20:10] drnikolaev commented on #557
@samsparks please just give me example how exactly you execute `clustering.py`, against what dataset and/or model and what you expect as the correct outcome.

[2019-02-11 07:06] drnikolaev commented on #555
Hi @excubiteur please pull again.

[2019-02-11 14:40] samsparks commented on #557
Hi @drnikolaev - I have not forgotten about this. Unfortunately, I do not have a trained model I can provide, and DIGITS does not allow testing of pretrained models :-(. So I am going to have to train something from scratch.

In the meantime, I have and example where I modified clustering.py to print out the input to group rectangles right before it is called, as follows:
`print("proposed: {}".for

[2019-02-14 14:23] excubiteur commented on #555
So far so good. Will be reporting here if we observe any abnormal behavior. Many thanks for all the work put in :)

[2019-02-14 18:06] samsparks commented on #557
Hi @drnikolaev -

I used the default DIGITS DetectNet (KITTI) model and [KITTI images](http://www.cvlibs.net/datasets/kitti/eval_object.php) contained in data_object_image_2.zip.

The two images 003716.png and 003719.png provide good examples for the problem.
* DIGIT's clustering.py finds 4 bounding boxes for 003716.png
* DIGIT's clustering.py finds 9 bounding boxes for 003719.png.

I can reproduc

[2019-02-21 00:39] #554 closed, assigned to nobody

[2019-02-21 00:40] #555 closed, assigned to nobody

[2019-02-28 06:03] drnikolaev commented on #556
Better fp16 is coming in new release, preview is available here: https://github.com/drnikolaev/caffe

[2019-02-28 06:03] #556 closed, assigned to nobody

[2019-02-28 06:05] drnikolaev commented on #499
Better fp16 is coming in new release, preview is available here: https://github.com/drnikolaev/caffe

[2019-02-28 06:05] #499 closed, assigned to nobody

[2019-03-07 19:40] PapaBeye opened #559 "Nvidia-torch-caffe-binding"
Hello, everyone
I was wondering if some could help me with this error I am getting while binding this version of caffe to torch.
I am using https://github.com/lymhust/caffe_torch_binding and my error is with the caffe.cpp file.
I have tried to correct the error but i need some help.  Here is the error massage.

 papa@beye:~/caffe_torch_binding$ CAFFE_DIR=$nCAFFE_ROOT/ luarocks make
cmake -E make_d

[2019-03-07 23:17] drnikolaev commented on #559
Looks like that binding bytes the original BVLC Caffe.

[2019-03-08 20:02] PapaBeye commented on #559
Thank you so much! I did use the original BVLC Caffe 1.0 at first but switched to nvcaffe because I was getting this error
papa@beye:~/caffe_torch_binding$ CAFFE_DIR=$CAFFE_ROOT/ luarocks make
cmake -E make_directory build;
cd build;
cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH="/home/papa/torch/install/bin/.." -DCMAKE_INSTALL_PREFIX="/home/papa/torch/install/lib/luarocks/rocks/caffe/1.

[2019-03-11 10:08] WangWangPoint opened #560 "error occur while compilation"
Hi,
    While compiling am getting the following error:
    command used : make

     NVCC src/caffe/quantized_layer.cu
    ./3rdparty/half_float/half.hpp(1659): warning: calling a __host__ function("half_float::detail::round_half<( ::std::float_round_style)1> ") from a __host__ __device__ function("half_float::detail::functions::rint") is not allowed

     Kindly share your comments to fix it. Th

[2019-03-13 22:15] ghost opened #561 "Ubuntu 18.04 - Unable to compile caffe"
cmake Output:

-- The C compiler identification is GNU 7.3.0
-- The CXX compiler identification is GNU 7.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for working CXX compiler: /usr/bin/c++

[2019-03-13 22:28] ghost commented on #561
Building with clang:

/usr/include/boost/thread/detail/nullary_function.hpp(99): error: class "boost::detail::thread_move_t<boost::detail::nullary_function<void ()>>" has no member "impl"

/usr/include/boost/thread/detail/nullary_function.hpp(118): error: class "boost::detail::thread_move_t<boost::detail::nullary_function<void ()>>" has no member "impl"

/usr/include/boost/thread/detail/nullary_fu

[2019-03-13 23:31] ghost commented on #561
Update:

I upgraded cmake to 3.13.4 and used the caffe-0.15 branch. I was able to build caffe.

I would like to get the 0.17 caffe building. Help needed. =)

Thank You,
Daniel

[2019-03-14 09:18] ilyasmg opened #562 "Error when building with make all"
I'm installing caffe following this tutorial: https://github.com/PeteHeine/fcn8_ros
When I run make all I have the following error:
LD -o .build_release/lib/libcaffe-nv.so.0.17.2
/usr/bin/ld: cannot find -lopenblas
collect2: error: ld returned 1 exit status
Makefile:603: recipe for target '.build_release/lib/libcaffe-nv.so.0.17.2' failed
make: *** [.build_release/lib/libcaffe-nv.so.0.17.2] Error 1

[2019-03-15 11:53] l0s3rr opened #563 "Unable to Compile Caffe - GPU Nvidia Tesla v100 32GB"
Good Morning, are you okay?

I'm trying to compile Caffe, when I ran the cmake command .. in Caffe's build directory, it even introduced me that it could not detect the GPU.

After that, I ran the make -j "$ (nproc)" command and got the following error:

nvcc fatal: Unsupported gpu architecture 'compute_20'

Could someone give me a hand?

I researched, but I did not find much related to my version

[2019-03-18 03:27] hlnull commented on #439
@drnikolaev
Is this converter implemented yet? If not, maybe I can write one.

[2019-03-29 09:06] chop2 opened #564 "BVLC model inference failed"
**I have my own caffemodel base on BVLC/caffe，but when run in nvcaffe, some error occur as follow. Is nvcaffe's caffemodel file format diffence from bvlccaffe's ?**

I0330 00:28:04.993422 24940 net.cpp:437] Top memory (TEST) required for data: 5831872 diff: 5831872
I0330 00:28:04.993432 24940 net.cpp:440] Bottom memory (TEST) required for data: 5830720 diff: 5830720
I0330 00:28:04.993438 24940 net

[2019-03-29 12:20] chop2 commented on #564
this problem has been solved -.-||
the reason is caffemodel contain training layer which nvcaffe not support.

[2019-04-17 08:14] qq199716598 commented on #562
use atlas

[2019-04-26 16:37] Lukanite commented on #563
I also ran into a similar issue on my RTX 2070.
I found that replacing CUDA_ARCH in Makefile.config allowed me to build it, but then it failed at runtime with "Check failed: error == cudaSuccess (48 vs. 0)  no kernel image is available for execution on the device"

Here's the modification I made to Makefile.config:
[code]

[2019-05-01 03:04] #564 closed, assigned to nobody

[2019-05-01 03:07] drnikolaev commented on #559
@PapaBeye Seems like you need BVLC Caffe

[2019-05-01 03:07] #559 closed, assigned to nobody

[2019-05-01 03:10] drnikolaev commented on #560
@WangWangPoint The file you refer to is not a part of NVCaffe source code:
https://github.com/NVIDIA/caffe/tree/caffe-0.17/src/caffe

[2019-05-01 03:10] #560 closed, assigned to nobody

[2019-05-01 03:12] #562 closed, assigned to nobody

[2019-05-02 00:00] drnikolaev commented on #563
Please check v0.17.3

[2019-05-02 00:00] #563 closed, assigned to nobody

[2019-05-02 00:00] drnikolaev commented on #561
Hi @dstegs Please check v0.17.3

[2019-05-02 00:00] #561 closed, assigned to nobody

[2019-05-02 00:01] drnikolaev commented on #557
Fixed in v0.17.3

[2019-05-02 00:01] #557 closed, assigned to nobody

[2019-05-10 16:15] drnikolaev commented on #553
This is about BVLC Caffe, closing

[2019-05-10 16:15] #553 closed, assigned to nobody

[2019-05-30 08:13] whria78 opened #567 "CPU 100% when finetuning SE-Net with nvcaffe 0.17.3"
Hello, Thank you for the maintaining the nvcaffe. I have a problem when I use nvcaffe with SE-Net models.

## CPU usage 100% when finetuning SE-Net (or all SE-NeXt) with nvcaffe 0.17.3

There was no problem when I fine-tuning SE-Net with old nvcaffe 0.17.2.
However, If I trained with the new nvcaffe 0.17.3, the CPU utilizations of all cores burn to 100% after initial test 0,1,2 iterations.
I teste

[2019-05-30 09:20] peyer opened #568 "None convergence with SoftmaxLoss when num_output becoming like 800k,"
I have comment a problem while training a model for face recognition that when increasing  num_output to 800k, the prob of each category became 1.0/800k and never channged!
I have tried the same network and optimization parameters with BVLC-CAFFE, it successfully became to convergence after 8k iterations.
How should I do ?

[2019-05-30 10:45] whria78 opened #569 "Slow in deploying SE-ResNeXt-100"
Environment

Ubuntu 16.04
1050ti  and  1080ti
CUDA 10.1 / cudnn 7.5
Test code and pretrained Model
https://1drv.ms/u/s!Al4S1efzlWvXh7hQ6eD4B530c8UCKA?e=2cOvxV

Problem
FP16 training : nvcaffe 0.17.2 > FP32 BVLC caffe with axpy layer patch              --> faster than BVLC
FP16 testing (deploying) : BVLC caffe >>> nvcaffe 0.17.2 (0.2 sec)                      --> slow 10 times.

I also tested with

[2019-06-01 08:46] whria78 commented on #569
FP16 model : always slow
FP32 model : If I set default_backward_math from FLOAT to FLOAT16, it shows the slowness.

[2019-06-06 23:57] whria78 commented on #569
If I change FLOAT16 to FLOAT in the deploy.prototxt of the FP16 model, the FP16 model recover the speed. But the use of FLOAT on the FP16 model does not look appropriate.

default_forward_math : FLOAT
default_backward_math : FLOAT16

[2019-06-14 02:51] JohnnyHan opened #570 "caffe 0.17 l2 norm grows to inf"
ubuntu 16.04.4
cuda v8.0.16
gtx 1080 ti

prototxt
default_forward_type: FLOAT16
default_backward_type: FLOAT16
default_forward_math: FLOAT16
default_backward_marh: FLOAT16
global_grad_scale: 0.09
global_grad_scale_adaptive:true

solver.prototxt
clip_gradients:150

A auto_encoder net, IN BVLC caffe, l2 norm value less than 500, but nvcaffe0.17,the l2 norm grow slowly from 150 to inf, then i get the

[2019-06-17 23:47] drnikolaev commented on #570
@JohnnyHan can you please try
[code]
also try to remove `clip_gradients`.
If it still breaks please attach complete log here. Thank you.

[2019-06-18 00:13] drnikolaev commented on #567
Hi @whria78 could you attach complete log here please?

[2019-06-18 00:16] drnikolaev commented on #569
Hi @whria78 seems like not all layers you use are implemented for GPU. Unfortunately, FLOAT16 runs very slow on CPU, this is expected.

[2019-06-18 01:05] whria78 commented on #567
Thank you for the reply.

I attached log and trainval.prototxt

[senext50_FP16_train.log](https://github.com/NVIDIA/caffe/files/3299372/senext50_FP16_train.log)

[senext50_FP16.zip](https://github.com/NVIDIA/caffe/files/3299375/senext50_FP16.zip)

[2019-06-18 05:43] drnikolaev commented on #567
@whria78 thanks.
[code]
Is this your custom layer? CPU only? If so, you might need to consider to add GPU implementaion to prevent CPU overload.

[2019-06-18 11:18] whria78 commented on #567
Thank you @drnikolaev

I tried to fine-tuning SE-ResNeXt-50. I changed the last classify layer as followings,

From (https://github.com/hujie-frank/SENet ;  class = 1000)

[code]

To (class = 178)

[code]

To my knowledge, this modification is commonly used for fine-tuning.

I think it does not make all 8 CPU cores to 100%.

This phenomenon does not occur if I changed to use the old version NVCaff

[2019-06-18 11:29] whria78 commented on #569
@drnikolaev Thank you for the reply.

As you said, I changed "engine: CAFFE" to "engine: CUDNN". But it also make the problem.

And Today, I found that this problem occur only with Pascal GPUs (1080ti, 1050ti, 1070).

**I tested my 2080 GPU, there was no problem.**

Is there any chance that there may be some problem in checking GPU type for the special acceleration of Volta GPU?

[2019-06-18 11:39] whria78 commented on #567
As I have observed. the cpu overload problem occured around "batch_transformer.cpp:51] Started BatchTransformer thread 32123"

Before "batch_transformer.cpp:51] Started BatchTransformer thread 32123", there is "Waiting for datum".

I guess at that stage, the CPU overload already started, which result in "waiting for datum".

**The CPU overload problem occur before the Iteration 1.**

**I0618 10:02

[2019-06-18 22:11] drnikolaev commented on #569
@whria78 `engine: CAFFE` actually stands for  `GPU if implemented, CPU otherwise` whereas `engine: CUDNN` stands for `GPU + CUDNN`.
As of different nets - try to increase batch size up to the limit and notice some of them getting hot (depending on data rate consumed). Fore example, old good AlexNet is the most data hungry.

[2019-07-08 08:11] MaximumProgrammer opened #571 "Comiling simple c++ program"
I am trying to compiling the simple mnist aka classification file but it don't know how to handle this kind of error

/home/mgruber/Filestorage/software_development/project_ssp/ssp_blob_classification_caffe/main.cpp:48:14: error: ‘caffe::Net’ is not a template
   shared_ptr<Net<float> > net_;
              ^~~
/home/mgruber/Filestorage/software_development/project_ssp/ssp_blob_classification_caffe

[2019-07-08 08:20] MaximumProgrammer commented on #571
My CmakeFile looks like this

cmake_minimum_required(VERSION 3.0.0)
set(CMAKE_VERBOSE_MAKEFILE ON)

project(ssp_blob_classification_caffe VERSION 0.1.0)

include(CTest)
enable_testing()

file(GLOB SOURCES
    *.h
    *.cpp
)

add_executable(ssp_blob_classification_caffe main.cpp)

find_package(Boost 1.65 REQUIRED COMPONENTS system filesystem regex)
include_directories(${Boost_INCLUDE_DIRS})

find_

[2019-07-14 17:26] Klanly opened #572 "[Cuda/nvcc] invalid redeclaration of type name "half"&"half2""
Hi, I get this error message when I try to build this with MSBuild,
Here is an ( example ) ii file for this error:
[bias_layer.cpp1.ii.zip](https://github.com/NVIDIA/caffe/files/3390243/bias_layer.cpp1.ii.zip)
( rename .zip with .7z )

The compile command ( probably ) is:

Can someone point out the wrong spot in this .ii file?
Or offer a "correctly" preprocessed src\caffe\layers\bias_layer.cu as e

[2019-07-16 02:36] jazzseow opened #573 "Inference time, after loading the weights, is slower than ./build/tools/caffe time"
When I ran `./build/tools/caffe time`, I got
I0716 10:14:52.669873 18718 caffe.cpp:656] Average Forward pass: 11.4608 ms.

When I ran `./build/examples/ssd/ssd_detect.bin` and time the forward function, I got timing like these
time: 23.809 ms
time: 22.517 ms
time: 23.631 ms
time: 22.49 ms
time: 23.481 ms
time: 21.887 ms
time: 23.696 ms
time: 22.322 ms
time: 23.026 ms
time: 23.716 ms
time: 22.506 m

[2019-07-17 07:24] beanliao opened #574 "[blob.cpp:289] Check failed: error == cudaSuccess (700 vs. 0) an illegal memory access was encountered - Training by 4 of 8 GPUs will fail"
I found that if I use 4 GPUs out of 8 GPUs , this will cause training failed.
#caffe train --solver=models/bvlc_googlenet/solver_fp16_4.prototxt -gpu=4,5,6,7
Error message:
**F0717 00:12:37.478988   604 blob.cpp:289] Check failed: error == cudaSuccess (700 vs. 0)  an illegal memory access was encountered (2)**

The alternative workaround is add "CUDA_VISIBLE_DEVICES=4,5,6,7" before "caffe train ..

[2019-07-17 17:53] drnikolaev commented on #574
@beanliao please attach your prototxt files if possible.

[2019-07-18 07:14] beanliao commented on #574
Please refer to below files. Thanks.

[solver_fp16_4.prototxt.txt](https://github.com/NVIDIA/caffe/files/3405214/solver_fp16_4.prototxt.txt)
[train_val_fp16_4.prototxt.txt](https://github.com/NVIDIA/caffe/files/3405215/train_val_fp16_4.prototxt.txt)

[2019-07-18 07:49] drnikolaev commented on #574
@beanliao thank you. could you please run
`nvidia-smi topo -m`
and
`nvidia-smi topo -p2p n`
and paste outputs here?

[2019-07-18 08:08] drnikolaev commented on #573
@jazzseow could you upload the commands, their outputs and prototxt files used?

[2019-07-18 08:16] drnikolaev commented on #571
@ZeroCool11000 yes, in nvCaffe Blob is not template:
https://github.com/NVIDIA/caffe/blob/caffe-0.17/include/caffe/blob.hpp#L35
but in BVLC it is
https://github.com/BVLC/caffe/blob/master/include/caffe/blob.hpp#L23-L24

Your code is written for BVLC Caffe

[2019-07-18 08:16] #571 closed, assigned to nobody

[2019-07-18 08:58] drnikolaev commented on #572
@Klanly does it happen on Ubuntu? Have you tried CUDA 10?

[2019-07-18 11:55] beanliao commented on #574
@drnikolaev  Thanks for checking this.
here's outputs

  | GPU0 | GPU1 | GPU2 | GPU3 | GPU4 | GPU5 | GPU6 | GPU7
-- | -- | -- | -- | -- | -- | -- | -- | --
GPU0 | X | PIX | PXB | PXB | SYS | SYS | SYS | SYS
GPU1 | PIX | X | PXB | PXB | SYS | SYS | SYS | SYS
GPU2 | PXB | PXB | X | PIX | SYS | SYS | SYS | SYS
GPU3 | PXB | PXB | PIX | X | SYS | SYS | SYS | SYS
GPU4 | SYS | SYS | SYS | SYS | X | PIX |

[2019-07-19 06:01] jazzseow commented on #573
@drnikolaev Thank you for your reply.
I have uploaded the required files to https://drive.google.com/open?id=1cAhF9wBNjBpO9Ykoh80Sv5eBqBZJwDYQ

Also, I have uploaded the modifications required to run RefineDet model, under include/ and src/ folders

[2019-07-19 07:21] drnikolaev commented on #573
A-ha, seems like a bug: when you run `caffe time` convolution algos get optimized like this:
[code]
But `caffe test` doesn't.
Could you try to comment out lines
https://github.com/NVIDIA/caffe/blob/caffe-0.17/src/caffe/layers/cudnn_conv_layer.cpp#L450
https://github.com/NVIDIA/caffe/blob/caffe-0.17/src/caffe/layers/cudnn_conv_layer.cpp#L456
and retry `caffe test`?

[2019-07-19 07:57] jazzseow commented on #573
@drnikolaev
I did this
[code]
Now `caffe time`  forward pass is 16 ms, but `net->forward()` in ssd_detect remains about the same
[caffe_time.txt](https://github.com/NVIDIA/caffe/files/3410021/caffe_time.txt)
[ssd_detect_bin.txt](https://github.com/NVIDIA/caffe/files/3410022/ssd_detect_bin.txt)

[2019-07-19 08:08] jazzseow commented on #573
@drnikolaev
So I tried this
[code]
`caffe time` works fine.
But it resulted in Segmentation Fault() on ` FindExConvAlgo(bottom, top);` when i run `ssd_detect`.
[code]

[2019-07-29 07:40] #569 closed, assigned to nobody

[2019-07-29 07:46] drnikolaev commented on #567
"waiting for datum" means that data reader (CPU-based) delivers data not fast enough for the solver. Therefore, it uses CPU up to 100%

[2019-07-29 07:46] #567 closed, assigned to nobody

[2019-07-30 06:41] sayakpaul opened #575 "Custom object detection models with caffe"
Hello.

I am planning to use this version of Caffe on my Jetson Nano but before that, I want to be able to train a custom object detection model using Caffe. Could you please help with any cues, hints?

[2019-08-31 00:20] jstumpin opened #576 "ResNet-50 successful training, poor inference"
Specifications:
ResNet-50 (with transfer learning)
DIGITS-6.1.1
NVCaffe-0.17
CUDA-10.1
cuDNN-7.6
Windows-10

By successful, I mean both accuracy and loss (for train-set and validation-set) had converged at respectable high (++90%) and low (--0.005) ends respectively. However, these performances could not be reflected on the inference, via DIGITS or NVCaffe. The result, most of the time, seems to b

[2019-09-10 06:16] #576 closed, assigned to nobody

[2019-10-10 08:23] GrabbenD opened #577 "Pretrained model from scripts/download_model_binary.py returns error: No route to host"
Hey there!

We're in progress of migrating over from `BVLC/caffe` to `NVIDIA/caffe` for GPU compatibility with Tesla T4 but we've ran into an issue:
[code]

From our understanding we need to generate a new pretrained model with the script provided in: `scripts/download_model_binary.py models/bvlc_reference_caffenet` although this script returns error:
[code]
How can we resolve this issue?

[2019-10-11 08:03] GrabbenD commented on #577
This appears to be caused due to NVIDIA/Caffe being a few versions behind (0.17.3) while our project is built against Caffe 1.0.0 (latest as of today).

[2019-10-11 08:03] #577 closed, assigned to nobody

[2019-10-16 16:00] vxgu86 opened #578 "image_size_y 384 and 352 in caffe/examples/kitti/detectnet_network-2classes.prototxt"
in caffe/examples/kitti/detectnet_network-2classes.prototxt
there are multi image size_y which is
image_size_x: 1248
image_size_y: 384

param_str : '1248, 352, 16, 0.6, 3, 0.02, 22, 2'

what is the difference between them?

[2019-10-28 22:26] cvhuang opened #579 "0.17.3 SSD Test net output mAP is 0"
Hi, Is anyone have used 0.17.3 training ssd model. I trained a ssd net in 0.17.2, it works and mAP is 0.85. I copied the *prototxt, python and dataset files to 0.17.3 and retrained it, but the Test net output mAP is 4.53444e-05(almost 0). The train mbox_loss is around 3.5.
Any hints?
ps: I used model parameter file which was trained in 0.17.2 to inference in 0.17.3. They have same result.

[2019-11-08 03:28] LinHungShi commented on #305
@RSly @drnikolaev  How do you enable training with multiple gpu in Python? I can't find any tutorial for multi-gpu training in Python, and the only thing that I found relevent in _caffe.cpp is set_devices which seems not useful for mutl-gpu training. I know that caffe.cpp has support for python layers, but I'd like to see if there any way I can do it in Python rather than C++. Thanks

[2019-11-15 12:29] chenpengf0223 opened #580 "Something about "Packing packing = NHWC" in annotated_data_layer"
Hi,
Thanks for your great work.
I try to train a wider face detection model. But I meet some errors as following:
![image](https://user-images.githubusercontent.com/20535427/68943587-901e5180-07e6-11ea-9fc8-f56d40b4e403.png)

I feel that annotated_data_layer.cpp，line182:  Packing packing = NHWC;
should be changed to ：
Packing packing = NCHW.
Could you please give me some guidance?
Thanks again.

[2019-12-24 06:53] 92ypli commented on #580
have you solver this problem? how to do ?

[2019-12-27 10:24] kadirbeytorun opened #581 "Questions about prototxts and lmdb for SSD training"
Hello,
I am trying to grasp the details about each prototxt files and lmdb files.
1- Is train.prototxt only for training or does it include validation? Because the lmdb you called in it is named trainval.lmdb, but there is only one data layer, and its phase is TRAIN
2-Is test prototxt actually for validation or testing? its phase is TEST, but lmdb file is named test.lmdb, so its quite confusing.
3

[2020-01-02 07:45] lxlee opened #582 "Program exits with sigsegv when training with only one gpu in 0.17"
Hi:
I downloaded the source code, compiled it with CUDNN,NCCL,MPI flags  on. But when I terminated the program when training with only one gpu, the program exited  with sigsegv.
I tried to debug the program and found that the parameter callback_ in **Solver::Step** function is nullptr.
So shall I add an "if statement" before callback_->cancel_all() to fix the bug? Or something else while compiling

[2020-01-02 09:59] chenpengf0223 commented on #580
set it to "NCHW" :
Packing packing = NCHW.

[2020-01-02 10:00] chenpengf0223 commented on #580
@92ypli

set it to 'NCHW':
Packing packing = NCHW.

[2020-01-06 18:53] drnikolaev commented on #582
@lxlee may I see the code please?

[2020-01-06 18:56] drnikolaev commented on #578
@vxgu86 seems like a crop, have you tried to alter the values?

[2020-01-08 03:00] lxlee commented on #582
@drnikolaev
Thanks for response.
The original code is in solver.cpp:
[code]

The command I ran was :
`caffe train -gpu 0 -solver solver.prototxt`

The error I got was:
[code]

So I want to add a line like that:
[code]

since the callback_ is nullptr while in single gpu mode.
Is that ok?

[2020-01-17 18:19] paddygoat opened #583 "error: ‘CV_LOAD_IMAGE_COLOR’ was not declared in this scope"
Trying to build NVcaffe:

tegwyn@tegwyn:~$ cd $CAFFE_ROOT
tegwyn@tegwyn:~/caffe$ cd build
tegwyn@tegwyn:~/caffe/build$ cmake ..
CMake Warning (dev) at cmake/Misc.cmake:32 (set):
  implicitly converting 'BOOLEAN' to 'STRING' type.
Call Stack (most recent call first):
  CMakeLists.txt:24 (include)
This warning is for project developers.  Use -Wno-dev to suppress it.

-- Found Boost: /usr/include (fo

[2020-02-16 16:15] huanglidongTX2 opened #584 "ERROR：Segmentation fault (core dumped)"
when i import caffe, error comes:
nvidia@jetson-1422719019466:~/caffe/build$ python
Python 2.7.12 (default, Oct  8 2019, 14:14:10)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Segmentation fault (core dumped)

my device is jetson TX2， ubuntu16.04, jetpack3.2,
I have triid 5 times ,all failed,please help me,thank you very much

[2020-03-10 11:43] PapaBeye opened #585 "Error Build nvidia/caffe"
Hello, I am getting the following when compiling and I dont know what it mean and how to fix it.

[code]

I have have both of the files needed in my usr/lib/x86_64-linux-gnu folder

PLEASE HELP SPENT HOURS TRYING TO FIX

[2020-05-02 19:03] AlexandrParkhomenko commented on #583
You replace `CV_LOAD_IMAGE_COLOR`  to `cv::IMREAD_COLOR`

[2020-05-03 08:27] drnikolaev commented on #581
Hi @kadirbeytorun please have a look here: http://caffe.berkeleyvision.org/

[2020-05-03 08:27] #581 closed, assigned to nobody

[2020-05-13 12:58] TekayaNidham opened #587 "object detection clustering"
Hello everyone,
i’m currently having a problem implementing an object detection model trained by nvidia digits6.0

NVcaffe version : 0.15.14

the python code i’m using from pyimagesearch :

[code]

**deploy.prototxt :**

[code]
**when i run it, it freezes and returns zeros as coverage even though i tested it using the Test One on DIGITS and it works**
[code]

[2020-05-19 06:57] frankier commented on #583
See also https://github.com/BVLC/caffe/pull/6625

[2020-05-19 08:44] frankier commented on #583
Here's what worked for me: https://github.com/NVIDIA/caffe/pull/588

[2020-09-16 09:27] judgeeeeee opened #589 "Where can i find Dockerfile"
Can somebody help me find out nvcr.io/nvidia/caffe:20.03-py3 Dockerfile

[2020-09-22 09:03] judgeeeeee commented on #589
/lc

[2020-09-22 09:03] #589 closed, assigned to nobody

[2020-12-21 12:26] liuchintao opened #590 "How can I use NVCaffe container with IB?"
I followed [this doc](https://docs.mellanox.com/pages/releaseview.action?pageId=15049758#Howto:DeployRoCEacceleratedDockercontainer.-Benchmark) and run a NVCaffe container with command `docker run -it --cap-add=IPC_LOCK --device=/dev/infiniband/uverbs1 --network host --name=my-verbs-nonprvlg myofed451image bash`.

Container started and work well, but when I try to use command `ibv_devinfo -l`, I g

[2020-12-28 12:20] judgeeeeee opened #591 "How can I build nvcaffe on cuda11"
I built nvcaffe:v0.17.3 on 11.0-cudnn8-devel-ubuntu18.04 . but got error
[code]

[2021-01-09 06:55] drnikolaev commented on #591
v0.17.4

[2021-01-09 06:55] #591 closed, assigned to nobody

[2021-01-09 06:56] drnikolaev commented on #585
v0.17.4

[2021-01-09 06:56] #585 closed, assigned to nobody

[2021-01-09 06:57] drnikolaev commented on #584
v0.17.4

[2021-01-09 06:57] #584 closed, assigned to nobody

[2021-01-09 06:57] drnikolaev commented on #583
v0.17.4

[2021-01-09 06:57] #583 closed, assigned to nobody

[2021-01-09 06:58] drnikolaev commented on #582
v0.17.4

[2021-01-09 06:58] #582 closed, assigned to nobody

[2021-01-09 06:59] drnikolaev commented on #572
v0.17.4

[2021-01-09 06:59] #572 closed, assigned to nobody

[2021-01-25 09:08] 714142828 opened #592 "branche 0.17，after InnerProduct layers,BatchNorm got some error message,need help"
I0125 15:23:57.180774 19274 layer_factory.hpp:172] Creating layer 'loss1/fc' of type 'InnerProduct'
I0125 15:23:57.180778 19274 layer_factory.hpp:184] Layer's types are Ftype:FLOAT Btype:FLOAT Fmath:FLOAT Bmath:FLOAT
I0125 15:23:57.180795 19274 net.cpp:205] Created Layer loss1/fc (106)
I0125 15:23:57.180801 19274 net.cpp:582] loss1/fc <- loss1/conv/bn/sc
I0125 15:23:57.180810 19274 net.cpp:552] lo

[2021-01-25 19:02] drnikolaev commented on #592
@714142828 looks like your model is not well formed. Could you attach complete log?

[2021-01-26 01:53] 714142828 commented on #592
after I modified  src/caffe/layers/batch_norm_layer.cpp  , and remake caffe,my mode can work well ,thnaks
  | 115 | int H = 1;
  | 116 | int W = 1;
  | 117 | if(bottom[0]->num_axes()>2){
  | 118 | H = bottom[0]->shape(2);
  | 119 | W = bottom[0]->shape(3);
  | 120 | }

[2021-01-27 01:28] #592 closed, assigned to nobody

[2021-02-05 03:19] zhoupan9109 opened #593 "Some error break out in the Test phase"
When this caffe integrating with the cuDNN v8.0.4, there are lots of errors breaking out in t cuDNNConvolution layer test. The details explain as follow:
1. make the order 'make runtest'.
2. Any layers else but cuDNNConvolution layer test didn't break out error.
3. The cuDNNConvolution layer errors break out in TestSetupCuDNN，TestCconvolutionGroupCuDNN, TestGradientCuDNN and TestSimpleConvolutionC

[2021-03-22 15:24] kostinalexey opened #594 "BatchNorm layer is broken if bottom blob has num_axes < 4"
This can happen when BatchNorm layer sits on top of FullyConnected layer. In this case input blob will have num_axes == 2.

Here is an example of error message
F0322 15:08:58.231948 19174 blob.hpp:251] Check failed: axis_index < num_axes() (2 vs. 2) axis 2 out of range for 2-D Blob with shape 1 512 (512)

The problem is in LayerSetUp function in both batch_norm_layer.cpp and cudnn_batch_norm_layer

[2021-05-21 07:41] pupu1998 commented on #471
I have the same problems. But the solution can't solve it. My problem like this :

make: *** [.build_release/tools/upgrade_net_proto_binary.bin] Error 1
make: *** Waiting for unfinished jobs....
/usr/lib/gcc/x86_64-linux-gnu/7/../../../x86_64-linux-gnu/libboost_python.so: undefined reference to `PyClass_Type'
/usr/lib/gcc/x86_64-linux-gnu/7/../../../x86_64-linux-gnu/libboost_python.so: undefined r

[2021-08-04 07:26] zionfuo opened #595 "Installing NVCaffe for Ubuntu18.04"
Platform:matpool.com
GPU:NVIDIA Tesla P100-16GB
CUDA:11.1

## environment

[code]

## Packages

[code]

## NVCaffe

[code]

##  Makefile.config

[code]

[code]

## export

[code]

## make

[code]

## test

[code]

[code]
![image](https://user-images.githubusercontent.com/16535685/128139408-3d0e7a93-33c0-4b5f-8c64-c6b25e8a2279.png)

## Training LeNet on MNIST with Caffe

https://caffe.berkeleyvisio

[2021-10-18 14:34] Hakentha opened #596 "[Question] images processed per seconds."
Hi, i use this caffe with an rtx3090 with cuda 11.1 and cudnn 8.
I try with a couple of caffemodels with ssd and c++ but i cant process more than 60-70 images 900x700 per second. with 500x500 i can process 100 images per second.
Its the limit for my hardware? i'm disappointed :(

With dlib in c++ without nvidia card, with hog i can process 74-80, and with golang i can process 90 aprox.