[2017-05-01 06:48] WilliamJuel commented on #307
@drnikolaev okay thanks for clarifying, i get it! Could you confirm that the way i define the BN layer in the above post is a correct way to do it, obviously without the `engine: CAFFE` part i added?

I also noticed that since i pulled the latest 0.16 i cannot use my python layer that i have used in 0.15. i get this error from digits: ERROR: error code -11

and in the box it says:
Network initiali

[2017-05-01 13:00] fslzj opened #319 "Divide crop_size into crop_h and crop_w in transformer"
In many tasks, the height and width of image are not equal. When update caffe, I have to add the two parameter again. Can the two new parameter be added into next version? If crop_h and corp_w exists, crop_size will be ignored.

[2017-05-01 16:48] lukeyeager commented on #319
FYI, it's been proposed before: https://github.com/BVLC/caffe/pull/1980

[2017-05-01 17:58] borisgin commented on #307
The following definition for BatchNorm layers is recommended for caffe-0.16:
layer {
  name: "bn"
  type: "BatchNorm"
  bottom: "conv"
  top: "bn"
  batch_norm_param {
    moving_average_fraction: 0.9
    eps: 0.0001
    scale_bias: true
  }
}
By default nvcaffe will use cuDNN engine if you built the code with cuDNN.

There is no need in defining  multiple lines with
   param {
      lr_mult: 0

[2017-05-02 00:30] #142 closed

[2017-05-02 06:05] drnikolaev commented on #318
We support multiGPU training in pyCaffe starting from 0.16. Please give it a try.

[2017-05-02 07:16] lbin opened #321 "How to use fp16 + cudnn6.0 with tx1 on branch caffe-0.16"
So exciting to see some updates for fp16. For now tx1 only support cudnn5.1. If I want to use fp16+cudnn, where I can find a guideline?

[2017-05-02 07:23] RSly commented on #315
hi @drnikolaev
did you succeed to reproduce the problem?
the other day I launched two similar tasks on separate gpus to test this again, one task was hanging for a day, the other didnt hang, up to now...
I am wondering since it was similar architecture, similar data and loss layers, etc.!
=> can it be related to the numerical values of loss and lr?
=> maybe it could be a good idea to catch these h

[2017-05-02 15:50] borisgin commented on #321
You can switch your model to float16 by adding a few lines to model.prototxt.
For example
 name "MyNet"
 default_forward_type:  FLOAT16
 default_backward_type: FLOAT16
 default_forward_math:  FLOAT
 default_backward_math: FLOAT
One can overwrite defualt type and math for particular layer.
For example:
 layer {
   name: "conv1"
   type: "Convolution"
   forward_type:  FLOAT16
   backward_type: FLOA

[2017-05-02 18:01] fslzj opened #322 "bug in cudnn_batch_norm_layer.cu"
I use nvidia-caffe to train my model and always get strange result. I find a possible reason that some bugs may be in cudnn_batch_norm_layer.cu,  In cudnnBatchNormalizationForwardTraining(), cudnnBatchNormalizationForwardInference() and cudnnBatchNormalizationBackward(), some parameters are always “bottom_desc_”. Should some of them be "top_desc_"s?

[2017-05-03 01:09] lbin commented on #321
@borisgin  Yes, I know how to use fp16. But cudnn6.0 does not support TX1 yet. When I built caffe-0.16 with use_cudnn=1, I got some errors like #error "NVCaffe 0.16 and higher requires CuDNN version 6.0.0 or higher"

[2017-05-03 06:54] drnikolaev commented on #315
@RSly still no luck, sorry. Meanwhile, we did one fix which might be related to the problem you reported. Could you try it please?

[2017-05-03 07:01] drnikolaev commented on #322
@fslzj please have a look at the last comment (BN sample) of #307 (I hope it's useful).

[2017-05-03 07:05] RSly commented on #315
Thanks,, I will try it.
From my side, it is a frequent hang, if it is still there, I will make a minimal test example for you

[2017-05-03 07:05] drnikolaev commented on #321
@lbin Unfortunately, NVCaffe 0.16 requires CuDNN 6 due to limitations of previous version.

[2017-05-03 07:06] drnikolaev commented on #315
@RSly oh, that would help a lot, thank you.

[2017-05-03 07:07] #301 closed, assigned to nobody

[2017-05-03 07:09] drnikolaev commented on #296
Could you please check 0.16 release?

[2017-05-03 07:47] lbin commented on #321
@drnikolaev  Thanks for your reply. After I comment some codes relate with cudnn in caffe/util/cudnn.h, caffe-0.16 with cudnn5.1 can be complied on Tx1, but the speed is a problem. I am waiting good news from Tegra team to support cudnn6

[2017-05-03 07:47] #321 closed, assigned to nobody

[2017-05-03 08:28] WilliamJuel commented on #307
Thanks for all the answers. I will close this and open a new one describing my problem with my python layer after i upgraded to 0.16. I did not find an answer to why there is a "gap" in the learning rate graph and if that is actually affecting the loss as visualized above.

[2017-05-03 08:28] #307 closed, assigned to nobody

[2017-05-03 08:32] WilliamJuel opened #323 "error code -11 when using python layer"
I noticed  that since I pulled the latest nvidia caffe-0.16 code I cannot use my python layer that I have used in 0.15. I get this error from digits: ERROR: error code -11

and on the box it says:

Network initialization done.
Solver scaffolding done.
Starting Optimization
Solving
Learning Rate Policy: fixed
Iteration 0, Testing net (#0)
Ignoring source layer train-data
NVML initialized on thread

[2017-05-03 08:43] WilliamJuel commented on #298
I did not find any solution or answer to why my val loss starts insanely high. But im closing this since im not using the same specs anymore..

[2017-05-03 08:43] #298 closed, assigned to nobody

[2017-05-03 14:49] user7077 opened #324 "Change Stride in Detectnet"
Hi all,

I am trying to detect objects using detectnet. I was already successfull with certain objects but now I'm trying to detect objects that are smaller than 50x50 pixels. I tried to scale my original images in order to make the objects bigger but then they won't fit into memory anymore.
I thought the Crop Size in Data Transformations would help me to process large images by cropping them but

[2017-05-04 00:26] drnikolaev commented on #324
Look at ALexNet for example. It sets stride:=4 in the very first Convolution layer. Worth trying.

[2017-05-04 09:32] RSly commented on #315
Hi @drnikolaev
I could isolate a reproducible case, using digits segmentation task from here
https://github.com/NVIDIA/DIGITS/tree/master/examples/medical-imaging

and the dice loss layer from here
https://github.com/faustomilletari/VNet/blob/master/pyLayer.py

it ends up hanging very often (sooner or later depending on the lr and other parameters)

[2017-05-04 17:01] RSly commented on #315
ok @drnikolaev as promised I created a small hanging case for you
1. run the attached create_images. out of the box, it will create 1489 rgb images of (3,1200,1920) and Palette labels of (1,1200,1920)
[create_images.txt](https://github.com/NVIDIA/caffe/files/976943/create_images.txt)
2. digits > datasets >new dataset > segmentation, add input and target paths, leave all other fields as default, al

[2017-05-05 09:07] RSly commented on #299
The initial issue is solved in 0.16. so I close this issue, and open a new one for the GPU initialization

[2017-05-05 09:07] #299 closed, assigned to nobody

[2017-05-05 09:10] RSly opened #326 "GPUMemory::Manager GPU initialization"
Hi,
on caffe 0.16 the GPUMemory::Manager doesnt care about caffe.set_device(3), and it initializes ALL the GPUs.

This is problematic when other gpus are already in use and  we dont want to use them for any new task.
It seems like a bug, or we need a way to tell the GPUMemory::Manager to only initialize gpu 3 in this example.

[2017-05-05 09:12] Bidski commented on #301
Confirmed. Issue no longer exists in caffe-0.16 and all tests pass without issue.

[2017-05-05 09:13] Bidski commented on #300
With the upgrade to caffe-0.16 this issue no longer occurs.

[2017-05-05 09:13] #300 closed, assigned to nobody

[2017-05-05 12:26] a258sa258s opened #327 "ROI Pool"
Will the new version support roi_pooling_layer?

[2017-05-05 13:38] mathmanu commented on #315
For me the hang is in the very first training iteration itself. But if I replace the data layer with a python layer, it doesn't hang (but since it's too slow I cannot use it).

This hang is observed in caffe-0.16. (caffe-0.15 does not hang).

I am attaching the prototxt (solver+train) that causes the hang:
[net11(1000)_bn_maxpool_train_L2.zip](https://github.com/NVIDIA/caffe/files/979186/net11.100

[2017-05-05 15:23] drnikolaev commented on #315
@RSly  Thank you for your help! I did reproduce one hang some time ago and fixed it here: #325
Could you try it please?

@mathmanu - while I'm checking your model, please try to add:
[code]
where M=1,...,4 and N=1,...,4

[2017-05-07 11:42] WilliamJuel commented on #323
@drnikolaev I just saw you labeled this as a bug. Have you tried to reproduce the error or is it a well known problem?

[2017-05-07 16:04] drnikolaev commented on #323
@WilliamJuel There was very similar crash which is now fixed. Please pull the latest code and retry. If crash is still reproducible on your side please tell me what OpenCV version you link Caffe with.

[2017-05-08 04:26] drnikolaev commented on #315
@mathmanu I reproduced the hang you reported, thank you. It's now fixed.

[2017-05-08 11:09] mathmanu commented on #315
@drnikolaev Thankyou for the fix. I have tried it and it is no longer hanging.

I  have couple of observations:

1. The test phase in the beginning seems to be coming out very fast after doing just one iteration or so. Even if I increase the test_iter to a very large number, the same thing happens. This behavior was same even before the fix that you did.

2. I tried to use in-place BatchNorm (whic

[2017-05-08 12:09] RSly commented on #315
hi @drnikolaev I will test the update soon for hangs

also I agree with @mathmanu that the first test is too fast and basically wrong values come out: often in the iteration 0 of test, **the loss is almost zero (which is wrong)** and then it jumps to its correct value around 1 and then starts reducing through time as it should
maybe Test 0 was not intended to be a Test but more of an initializatio

[2017-05-09 03:26] renganxu opened #330 "caffe-0.16 compile error"
Hi All,

I downloaded caffe-0.16 branch and tried to compile with cuda 8.0, nccl 1.3.4 and cudnn 6.0. But it has the following error:
NVCC src/caffe/layers/base_data_layer.cu
/usr/include/boost/chrono/duration.hpp(256): error: class "boost::common_type<int_least64_t, int_least64_t, intmax
_t>" has no member "type"
          detected during:
            instantiation of "ToDuration boost::chrono::d

[2017-05-09 08:29] RSly commented on #330
Hi @hfutxrg
I experienced this before.
The problem was that caffe found the headers in /usr/local/include, but the lib files in /usr/lib and thus it mixed two different boost versions one from /usr and one from /usr/local

 I reversed the boost ver. to 1.54 and  made sure caffe points to the correct paths and it all worked fine.

[2017-05-09 09:38] WilliamJuel commented on #323
@drnikolaev Okay, so I did the testing. I can confirm that with opencv 3.2.0-dev I get the above error and with opencv 2.4.9.1 the python layer works like always.

 I am pretty sure that when I was on the 0.15 branch I used opencv 3.2.0-dev and my python layer worked.

[2017-05-09 11:45] RSly commented on #315
hi @drnikolaev regarding the hanging:
1. I ran a set of tests, and I can confirm that the early hangs are solved. I will run over longer time periods and see the behavior.

2. I notice a considerable drop in speed in the latest version: before, each iteration would took ~12 sec in average, now the average is up to ~50 second: some iteration remain at ~12 sec but many others jump up to 60-80 second

[2017-05-09 15:12] drnikolaev commented on #330
@hfutxrg @RSly Thank you for reporting this. Reproduced&fixed.

[2017-05-09 15:12] #330 closed, assigned to nobody

[2017-05-09 15:14] drnikolaev commented on #323
@WilliamJuel thank you. I'll check 3.2.0

[2017-05-09 15:21] WilliamJuel commented on #323
@drnikolaev Thank you very much. I will close this since the issue for me is fixed. I only use 3.2.0 for some specific functions and it is no hurdle for me to swap around for which OpenCV version I link to python.

[2017-05-09 15:21] #323 closed, assigned to nobody

[2017-05-09 15:56] renganxu commented on #330
Hi @RSly @drnikolaev,

My boost headers are in /usr/include and the libs are in /usr/lib64, but I still have this issue. I do have boots in other locations, but the boost path in /usr/lib64 has been prepended to LD_LIBRARY_PATH. So it should use the right library. How do I verify the boost path when it is compiled?

I also tried to use cmake since it includes the paths of different libraries when

[2017-05-09 16:02] drnikolaev commented on #330
Hi @hfutxrg - did you try my fix?
Simple way to verify where it comes from is to use CMake - it finds everything and prints what and where it was found.

[2017-05-09 16:06] renganxu commented on #330
Hi @drnikolaev,

Where your fix is posted? I am trying to use CMake, but as I said, how to specify CUDNN path in cmake?

[2017-05-09 16:11] renganxu commented on #330
@drnikolaev I just figured out to set CUDNN path by setting the environment variable CUDNN_DIR.
Now there is another error about BLAS error. I want to use MKL instead of Atlas. How to change that in CMake?

[2017-05-09 16:23] RSly commented on #330
@hfutxrg you can use cmake-gui or ccmake under ubuntu or other cmake interfaces for windows to see all the paths, configurations, etc.
simply google it for more information

[2017-05-09 17:10] #322 closed, assigned to nobody

[2017-05-09 17:10] #324 closed, assigned to nobody

[2017-05-09 17:46] #318 closed, assigned to nobody

[2017-05-09 17:47] #296 closed, assigned to nobody

[2017-05-09 19:39] drnikolaev commented on #330
@hfutxrg This might be helpful: https://docs.nvidia.com/deeplearning/dgx/caffe-user-guide/index.html
Boost fix: #331

[2017-05-10 02:00] drnikolaev commented on #326
#332 - `set_device` call now initializes one device. To initialize multiple devices please use new function `set_devices`

[2017-05-10 02:00] #326 closed, assigned to nobody

[2017-05-10 02:10] drnikolaev commented on #315
@mathmanu
1. First test is for init purpose, it doesn't print redundant values any longer.
2. BN has internal buffer now, it takes some extra space.
3. I can't reproduce this. Are you reading from FP32 snapshot?..

@RSly
1. Cool, thnx
2. Well, Python 2 needs special care in parallel environments, so I had to guard some calls by critical sections. Python 3 is better in this sense but it will requir

[2017-05-10 10:01] RSly commented on #315
1. @drnikolaev thanks for the updates. No hang after 20hours, so it is good news! we can close this hang issue, and I hope hangs never come back to caffe!

2. One quick question, the loss and accuracy values that are printed, for multi-gpu case, are calculated over all the results from all the gpus and aggregated to one single value, right?
in other words, the loss value is not printed for each GP

[2017-05-11 05:29] mathmanu commented on #315
@drnikolaev Thankyou for the clarifications.

Testing at the beginning of training was a nice feature. (it used to print the correct loss and accuracy values - quite useful when finetuning the same model with slightly different solver parameters). Can we have this feature back?

[2017-05-11 06:15] drnikolaev commented on #315
@mathmanu It's back and it now prints correct loss

@RSly
2. Aggregated
3. It now prints everything like it used to

As of PythonLayer performance, we did some improvements today and we'd appreciate your feedback.

[2017-05-11 07:28] drnikolaev commented on #327
Hard to say at this moment. Will mark this as a reminder

[2017-05-11 07:28] #327 closed, assigned to nobody

[2017-05-11 07:30] drnikolaev commented on #295
Try to explore tools directory

[2017-05-11 07:30] #295 closed, assigned to nobody

[2017-05-11 07:31] drnikolaev commented on #293
@shuzhenzhang  Please use 0.16 release with full fp16 support

[2017-05-11 07:31] #293 closed, assigned to nobody

[2017-05-11 18:47] renganxu commented on #330
@RSly @drnikolaev Thanks for both of you. I finally installed successfully within singularity container. Probably because my cluster installed boost in many locations and it confused which one to use. But the environment in a container is clean.

[2017-05-12 02:50] drnikolaev commented on #294
fixed in 0.16

[2017-05-12 02:50] #294 closed, assigned to nobody

[2017-05-12 02:51] drnikolaev commented on #290
@IvyGongoogle can you try 0.16 please?

[2017-05-12 02:55] drnikolaev commented on #284
Hard to say, we don't support windows. You might try 0.16 release

[2017-05-12 02:55] #284 closed, assigned to nobody

[2017-05-12 09:18] RSly commented on #315
hi @drnikolaev, unfortunately with the last update the hang is back for the same tests as before.

[2017-05-12 15:22] drnikolaev commented on #315
@RSly hmm, is this the same https://github.com/NVIDIA/DIGITS/tree/master/examples/medical-imaging or something else?

[2017-05-12 15:26] drnikolaev commented on #57
fixed in 0.16

[2017-05-12 15:26] #57 closed

[2017-05-12 15:27] drnikolaev commented on #116
fixed in 0.16

[2017-05-12 15:27] #116 closed

[2017-05-12 16:25] RSly commented on #315
hi @drnikolaev, yes, it is the same type of hang as before, even earlier this time.
you can reproduce it using  https://github.com/NVIDIA/DIGITS/tree/master/examples/medical-imaging  or definitely in https://github.com/NVIDIA/caffe/issues/315#issuecomment-299246892

* I went back to this commit,
 Merge pull request #333 from drnikolaev/caffe-0.16
and there is no hang there, so it is coming from co

[2017-05-12 20:43] #290 closed, assigned to nobody

[2017-05-14 21:04] drnikolaev commented on #315
Hi @RSly, thank you. #334 should return things back to normal. Let me close this issue. If something is still broken please open a new one.

[2017-05-14 21:04] #315 closed, assigned to nobody

[2017-05-14 21:07] drnikolaev commented on #281
@DLDarwin - 0.16 does this right, please check it out.

[2017-05-14 21:07] #281 closed, assigned to nobody

[2017-05-14 21:10] drnikolaev commented on #279
@argman is this still an issue in 0.16?

[2017-05-14 21:12] drnikolaev commented on #289
Can't reproduce this with latest CUDA and 0.16 release

[2017-05-14 21:12] #289 closed, assigned to nobody

[2017-05-14 22:04] drnikolaev commented on #240
We are way too far from BVLC now, sorry.

[2017-05-14 22:04] #240 closed, assigned to nobody

[2017-05-14 22:05] drnikolaev commented on #258
arrived

[2017-05-14 22:05] #258 closed, assigned to nobody

[2017-05-14 22:05] #263 closed, assigned to nobody

[2017-05-14 22:07] drnikolaev commented on #239
fixed in 0.16

[2017-05-14 22:07] #239 closed, assigned to nobody

[2017-05-14 22:07] #236 closed, assigned to nobody

[2017-05-14 22:10] #218 closed, assigned to nobody

[2017-05-14 22:11] drnikolaev commented on #202
@ranxian @bcaine please have a look at 0.16 release

[2017-05-14 22:11] #202 closed, assigned to nobody

[2017-05-14 22:13] drnikolaev commented on #194
This is addressed in 0.16

[2017-05-14 22:13] #194 closed, assigned to nobody

[2017-05-15 05:18] #197 closed, assigned to nobody

[2017-05-15 05:36] #154 closed, assigned to nobody

[2017-05-15 05:37] drnikolaev commented on #177
comes with 0.16

[2017-05-15 05:37] #177 closed, assigned to nobody

[2017-05-15 05:39] drnikolaev commented on #117
@leejiajun @jagmohan-nd you may try 0.16 release, it supports fp16

[2017-05-15 05:39] #117 closed

[2017-05-15 05:40] drnikolaev commented on #118
@lukeyeager may I close it?

[2017-05-15 12:48] RSly opened #335 "multi-gpu + different image sizes ?"
Hi,

I am trying to train a FCN with multi-gpu training (both in nv-caffe 0.15 and 0.16) on pascalvoc dataset which has different image sizes. I use batch_size =1 for each GPU (since we cant load multiple varying size images in one batch), and 2-4 GPUs.

in each case I get memory errors, which is not really due to memory being full (image dimensions are <500) also all works fine in 1-gpu training

[2017-05-15 16:33] lukeyeager commented on #118
Actually, it doesn't look like we've pulled in https://github.com/BVLC/caffe/pull/3863 after all. You can close this as will-not-fix if you like, but without those changes we still can't really do all-in-one nets.

Of course, based on the lack of progress in https://github.com/BVLC/caffe/issues/3864, it doesn't seem like there's much of a desire for this feature anyway.

[2017-05-15 18:01] drnikolaev commented on #335
@RSly could you copy your net.prototxt here? We just need to check something before we dig deeper to this.

[2017-05-15 21:33] drnikolaev commented on #120
@weishengchong Please try new 0.15 release

[2017-05-15 21:33] #120 closed

[2017-05-16 06:53] #121 closed

[2017-05-16 06:54] #124 closed

[2017-05-16 06:55] drnikolaev commented on #130
@maybepossible please try 0.16 release

[2017-05-16 06:55] #130 closed

[2017-05-16 06:56] drnikolaev commented on #135
Fixed in 0.16

[2017-05-16 06:56] #135 closed

[2017-05-16 06:57] drnikolaev commented on #136
Please try v0.16

[2017-05-16 06:57] #136 closed

[2017-05-16 06:58] #138 closed

[2017-05-16 06:58] #139 closed

[2017-05-16 06:59] #140 closed

[2017-05-16 07:00] drnikolaev commented on #143
Please try new 0.16 release

[2017-05-16 07:00] #143 closed, assigned to nobody

[2017-05-16 07:01] drnikolaev commented on #147
You may try new release with CuDNN v6

[2017-05-16 07:01] #147 closed, assigned to nobody

[2017-05-16 07:02] #148 closed, assigned to nobody

[2017-05-16 07:03] drnikolaev commented on #187
0.16 is live

[2017-05-16 07:03] #187 closed, assigned to nobody

[2017-05-16 07:04] drnikolaev commented on #189
@engharat 0.16 release fixed that and added `set_devices` for multiGPU mode

[2017-05-16 07:04] #189 closed, assigned to nobody

[2017-05-16 07:04] #212 closed, assigned to nobody

[2017-05-16 07:06] drnikolaev commented on #213
@keryar this is fixed in 0.16, please check it out

[2017-05-16 07:06] #213 closed, assigned to nobody

[2017-05-16 07:07] #215 closed, assigned to nobody

[2017-05-16 07:07] #226 closed, assigned to nobody

[2017-05-16 07:08] #228 closed, assigned to nobody

[2017-05-16 07:10] drnikolaev commented on #230
@Namnamseo can you check v0.16 please?

[2017-05-16 07:12] drnikolaev commented on #233
Please try v0.16

[2017-05-16 07:12] #233 closed, assigned to nobody

[2017-05-16 07:12] #251 closed, assigned to nobody

[2017-05-16 07:14] drnikolaev commented on #257
@moting9 @freepjf can you check v0.16 please?

[2017-05-16 07:14] #257 closed, assigned to nobody

[2017-05-16 07:15] drnikolaev commented on #262
@kaatish It's now supported by new 0.16 release

[2017-05-16 07:15] #262 closed, assigned to nobody

[2017-05-16 07:16] drnikolaev commented on #266
Please try v0.16

[2017-05-16 07:16] #266 closed, assigned to nobody

[2017-05-16 07:17] drnikolaev commented on #273
Please update to 0.16

[2017-05-16 07:17] #273 closed, assigned to nobody

[2017-05-16 07:17] #274 closed, assigned to nobody

[2017-05-16 07:18] drnikolaev commented on #275
@nirajpatel Please update to v0.16

[2017-05-16 07:18] #275 closed, assigned to nobody

[2017-05-16 07:18] #279 closed, assigned to nobody

[2017-05-16 07:19] drnikolaev commented on #283
Please update to v0.16

[2017-05-16 07:19] #283 closed, assigned to nobody

[2017-05-16 08:09] RSly commented on #335
hi @drnikolaev
* I pulled the last day changes and for some magical reason it all works now with caffe 0.16, multi-gpu, varied size images

* I also confirm that none of these experiments could run with caffe 0.15, so it looks like a big step forward.

* I still notice  that the attached 81 class proto crashes for memory reasons in digits, which shouldn't be the case with a 12GB gpu, since the mem

[2017-05-16 09:32] RSly commented on #335
Hi @drnikolaev
Here is an update on this: the behavior is random
=> I could run the same experiment with the above net.proto, it sometimes kicks off and trains normally with a steady GPU RAM usage ~ 4gb for over 5000 iterations, on other times after some iterations the usage suddenly jumps to 12Gb and then it crashes as the following

I0516 11:27:37.752105  3754 sgd_solver.cpp:108] Iteration 4, lr

[2017-05-16 09:54] RSly commented on #335
I attached the gpu ram usages for 4 different runs of the exact same experiment with the above alexnetfcn and 21 classes, you can see the usage is random
=> run 2 seems to have the 'good' behavior
=> run 4 results in immediate crash ~ 12gb usage on gpu1
=> other runs also use heavily  the ram for no reason
![gpu-usage](https://cloud.githubusercontent.com/assets/3428292/26100494/580f3170-3a2e-11e7-

[2017-05-17 00:06] zhangfang615 opened #336 "Check failed: error == cudaSuccess (3 vs. 0) initialization error"
Hi,

I just updated caffe to version 0.16. When I ran a multi-process job with GPU mode, it gave the error: Check failed: error == cudaSuccess (3 vs. 0) initialization error

Before the update, the job could ran successfully.

What should I do in this situation?

Thanks!

Fang

[2017-05-17 04:53] drnikolaev commented on #336
Hi @zhangfang615 please paste the log and tell us what CUDA and CuDNN version you have.

[2017-05-17 08:05] drnikolaev commented on #335
Hi @RSly , good catch, thank you. And perfect timing - I was optimizing memory balancer.
Two challenges addressed:

1. FindEx mechanism computes maximum memory amount which _might be_ needed but fastest algorithm needs much less. The bug was just about missing clean up...
2. It's not a good idea to take 9GB out of 12. Fixed.

Merge candidate is here (it's being tested): https://github.com/drnikola

[2017-05-19 07:16] shuzhenzhang opened #338 "make error"
Hi,
When I  make caffe-0.16 on tx1, i get this error(The cuda version: cuda8.0, and cudnn version: cudnn6.0.):
AR -o .build_release/lib/libcaffe-nv.a
LD -o .build_release/lib/libcaffe-nv.so.0.16.0
/usr/bin/ld: cannot find -lnvidia-ml
/usr/bin/ld: skipping incompatible /usr/local/cuda/lib64/libcudnn.so when searching for -lcudnn
collect2: error: ld returned 1 exit status
Makefile:590: recipe for ta

[2017-05-19 08:22] RSly commented on #335
hi @drnikolaev
thanks for the update. I ran the tests from my side!
=> it looks very good!

the only issues I saw are as following:
* on a test-deck where the normal ram usage is < 4G, in the initialization phase and for a short moment, the usage on one gpu jumps to 7GB and very fast goes back to <4G, this can cause a crash and looks like a clean up bug

* also check this out, there is something g

[2017-05-19 08:35] RSly commented on #335
one question though, can we use batch_size>1 when the image sizes in the batch are not the same?
currently, it is not supported and we end up with a crash as shown below.
=>maybe internally padding the images to the largest size can be an option...
=> I actually dont know any good solution for relaxing the fixed size requirement in the batch.

any suggestions out there?

F0519 10:31:12.084918  253

[2017-05-19 15:30] drnikolaev commented on #335
@RSly thanks for checking. As of 7GB. Let me briefly clarify. CuDNN v6 comes packed with good convolution algorithms, and NVCaffe tries to choose the fastest one. Before trying, it checks how much memory would every candidate need to do the job and allocates one workspace for them all (in your case it's 7GB). Then it starts short races and choose the winner. If winner needs less than 7GB NVCaffe s

[2017-05-20 01:10] drnikolaev commented on #338
Hi @shuzhenzhang seems you are trying to link amd64 arch library which is not compatible to TX1. We are still working on v6 support for it. So far, you can try JetPack 3.0.

[2017-05-20 01:10] #338 closed, assigned to nobody

[2017-05-20 14:43] westlife35 opened #339 "Hi"

[2017-05-20 14:49] westlife35 opened #340 "May be some bugs of cuda8"
Recently, I just update my demo in windows.
 I try caffe-ms and use caffe.binding.lib to do some demo. I do detection and recongnition in win10. And I find some problems with cuda8.
    First, I use MTCNN in win10(cuda8,GTX 980). The speed on CPU is stable(280 ms for 640*480 image), but the speed on GPU is unstable(20ms,2000ms or even 4000ms per image, and the slow part is not stable,meaning 12net

[2017-05-20 14:49] #339 closed, assigned to nobody

[2017-05-20 15:45] drnikolaev commented on #340
Hi @westlife35 , seems like wrong thread, NVCaffe doesn't support Windows

[2017-05-20 15:45] #340 closed, assigned to nobody

[2017-05-22 01:55] shuzhenzhang commented on #338
Thanks for your reply @drnikolaev .I will try JetPack3.0.

[2017-05-22 07:21] RSly opened #341 "NVCaffe 0.16 cudnn convolution selection and RAM consumption"
Hi @drnikolaev, I am opening this issue regarding the cudnn fastest algorithm selection and ram usage

Currently:

The problem I see is that in many cases we will end up either under-using the available gpu memory, or even worst end up with an out-of-memory crash.
I explain the two cases
1. imagine we have a large network (or large images) that already by itself needs 11 GB of memory, this can sim

[2017-05-22 07:27] RSly commented on #335
hi @drnikolaev

- regarding the ram usage, I summarized my observation in https://github.com/NVIDIA/caffe/issues/341

- for the crash, yes single gpu works fine, it happens in multi-gpu and only in combination with digits, and does not happen with python data layer

- regarding the batsh_size=1 and multi GPU, it all works fine currently! Also I think it is a very useful feature in some cases: eg.

[2017-05-22 07:37] drnikolaev commented on #341
Well, it's a little bit more sophisticated :)
It runs iteration 0 to let all layers set up.
It runs Iteration 1 to let them all allocate their blobs
It runs Iteration 2 to choose winning algos
And only after that it _balances memory between I/O threads and Conv workspaces_.
And now it also releases unused memory. We tested a lot. If model fits in theory, then it fits in practice. If after Iteratio

[2017-05-22 07:57] RSly commented on #341
Thanks for lights on the details! :)
so to summarize all this, you confirm that from my post above
issue (1) should be already fixed and no crash. nice!
in issue (2), if the network already uses 11GB, we should already see no crash, no algo search, and training starts with one of the algos and 11GB ram usage!

one last thing: How about one information message from CuDNNConvolutionAlgorithmSeeker t

[2017-05-22 16:09] drnikolaev commented on #341
1. Yes
2. Yes
3. It's already there:
[code]
This part: `1.79G/2 4 2 5  (limit 11.09G, req 0.34G)` means that current workspace is 1.79G, it serves 2 groups (`/2`), algos `4 2 5` have been chosen, total available device memory is 11.09G and required memory for the algos `4 2 5` is actually 0.34G (per group).
Now, when it's all done it's time to release unused memory:
[code]
You may wonder why 0.69G

[2017-05-22 18:10] RSly commented on #341
thanks for the confirmation and the explanation,
I was exactly trying to understand those lines! :)

[2017-05-23 17:04] #336 closed, assigned to nobody

[2017-05-26 09:03] tanjie860110 opened #344 "caffemodel generated with previous versions can not use in NVCaffe-0.16?"
The caffemodel generated with previous versions, when i use this model in NVCaffe-0.16 ,the Forward result is not correct. I want to know, can i use this model in NVCaffe-0.16?

[2017-05-26 12:26] RSly opened #345 "performing the test phase on cpu or another gpu?"
hi,

In the latest nvcaffe 0.16, the test phase is performed on the same gpus as the training ones. This causes the training to be halted for the time that the testing takes. the problem is that when we performe on large test/validation sets, or when we want a high resolution of the validation results the training can be halted or delayed for many hours due to this sequential implementation.

is t

[2017-05-26 14:22] cliffwoolley commented on #345
You might be able to script something like this already.  If you are saving
snapshots at least as frequently as you're testing (and certainly I hope
you are), then you could have your trainer never test, only snapshot, and
you could have another Caffe instance entirely that loads in a snapshot
from disk, tests it against your validation set immediately (after 0
additional training steps, that is),

[2017-05-26 19:56] RSly commented on #345
thanks @cliffwoolley ! I was thinking of this also. I will try it out!

however, I still feel it is worthed to be part of the main nvcaffe in the future!

ps. btw if you have already such a scrip it is greatly appreciated:)

[2017-05-28 06:54] drnikolaev commented on #344
Hi @tanjie860110 , yes, it should work fine. Seems like there is a bug somewhere. May I have your model (I mean, net.prototxt) to test please?

[2017-05-28 08:08] tanjie860110 commented on #344
@drnikolaev Sure, I'm glad you could help me. But how can i give it to you? Like this?
name: "CaffeNet"

input: "target"
input: "image"
input: "bbox"

#target
input_dim: 1
input_dim: 3
input_dim: 227
input_dim: 227

#image
input_dim: 1
input_dim: 3
input_dim: 227
input_dim: 227

#bbox
input_dim: 1
input_dim: 4
input_dim: 1
input_dim: 1

layer {
  name: "conv1"
  type: "Convolution"
  bottom: "targ

[2017-05-28 08:19] tanjie860110 commented on #344
@drnikolaev Sure, I'm glad you could help me. But how can i give it to you? Like this?
[tracker.txt](https://github.com/NVIDIA/caffe/files/1034025/tracker.txt)
thank you.

[2017-05-30 19:48] drnikolaev commented on #344
@tanjie860110 are you running `caffe test`?

[2017-05-31 02:12] tanjie860110 commented on #344
@drnikolaev first, the tracker.prototxt and tracker.caffemodel(fp32) is generated with previous versions, i want to use these in caffe-fp16,so, i convert tracker.caffemodel to fp16 with previous versions. At last, i run caffe-0.16 test with tracker.caffemodel(fp16),the result is not correct.But,if i use tracker.caffemodel(fp32,not converted),the result is correct.Why?

[2017-06-01 02:04] drnikolaev commented on #344
Could you clarify how exactly did you convert it? By what tool? May I see its source code please?

And guess what? You don't need to import anything... :)
You can set NVCaffe-0.16 to fp16 mode and feed your 0.15's fp32 model to it. It should read&convert it on the fly. Could you try it please?

[2017-06-01 08:17] tanjie860110 commented on #344
@drnikolaev Thank you for your reply. I have used fp32 model in NVCaffe-0.16 fp16 mode, it is ok.But I want to compare the speed and memory footprint between these two modes（one is fp32 model in fp16 mode, another is fp16 model in fp16 mode）. Do you think they will make a big difference? Also i convert float to float16 in the code when i use fp32 model,it is ok too.
Convert source code is
[convert

[2017-06-01 17:40] sergey-serebryakov opened #346 "Slow training with docker"
Hi!
I've been observing pretty low numbers training several nets with latest version (0.16.1) inside docker containers.  The machine is an 8 PCIe-based P100s, topology 8:1. Host OS RedHat Enterprise 7.3, driver version 367.48. I am using docker ce 17.03.1, nvidia docker version 1.0.1-1. This is how Dockerfile looks like:
[code]
With GoogleNet and batch size 128 I get 207 img/s with one GPU which s

[2017-06-02 06:26] drnikolaev commented on #346
Hi @sergey-serebryakov , I suggest to upgrade to 17.05 release, it has quite visible multi-GPU performance improvements.
Besides that, if possible, could you clarify how your P100 boards are connected? Do you use NVLink? If not, this might be the issue. After each iteration we have to perform gradients reduction by exchanging data between all GPUs. This is expensive for PCIe connection. Two ways t

[2017-06-02 06:34] drnikolaev commented on #344
@tanjie860110 thanks, I think I got it now. I wrote that converter more than year ago for experimental purposes and I don't recommend to use it now since it's not part of the product.
Just take your model as is and run any precision you like.
Overhead? Almost no overhead because conversion happens one time only when you start. After that Caffe stores your model in memory and keeps running in preci

[2017-06-02 06:52] sergey-serebryakov commented on #346
@drnikolaev Thanks, I will try. I've got PCIe cards. Two processor system configured as 8:1 (8 GPUs connected to one CPU).
However, the problem is that I get strange results with just one GPU. This is my problem. Friend of mine on same system, configured though as 4:1 get expected performance (on one GPU) running in a non-docker environment.
This makes me think now that I do need to try to run NVI

[2017-06-03 04:55] sergey-serebryakov commented on #346
Ok, there was a problem with one layer, my bad. Nothing to do with Caffe or Docker.

[2017-06-03 04:55] #346 closed, assigned to nobody

[2017-06-06 22:41] CFAndy commented on #255
Bug is still there. I use the 0.16 to train mobilenet with 4 titanx-pascal, caffe entered into deadlock state randomly after a test run.  Have to disable the test.

[2017-06-06 23:02] drnikolaev commented on #255
Thanks, I'm looking to it...

[2017-06-07 05:33] mathmanu opened #347 "caffe-0.16 converges slower and produces lower accuracy (compared to caffe-0.15)"
The loss comes down slower and the final accuracy is also lower. Has anyone else observed similar issue? A friend of mine had another observation that the tendency of the loss to explode to nan is higher in caffe-0.16.

The same issue exists even if I don't use CUDNN. What could be the reason?

Thanks for your help.

[2017-06-07 14:03] jarvis-huang opened #348 "Unable to access any parameter gradients thru the Python interface during FP16 training"
Hi, I'm trying to perform FP16 training (storage=FP16, math=FP32) using AlexNet on CIFAR10 dataset. During training, I compared loss between the normal FP32 version and FP16 version and found that FP16 quickly diverged at around 400 iterations but FP32 could continue to train with decreasing loss. When I tried to inspect the gradients of "conv1" layer of the FP16, by
`print np.max(net16.params['co

[2017-06-07 18:04] RSly commented on #345
FYI,

Related to the test phase, I noticed that when using multiple GPUs with caffe 0.16, the test phases are also running using multiple GPUs (before, the test phase always used one GPU).

This is also related to https://github.com/NVIDIA/DIGITS/issues/1604

[2017-06-08 00:11] CFAndy commented on #347
The same trend on my side

[2017-06-08 07:18] RSly opened #349 "Training time explosion (caffe 0.16)"
Hi,

I am monitoring the training time of caffe 0.16 for a simple network on 4gpus and batch_size 16.
here you can see the training and testing time for the first two epochs.

=> for the first epoch, all is normal: the training takes around 2 seconds per iteration, and the test time is reasonable

=> after the first epoch, the training time explodes by 70 times!!

this looks like a very strange an

[2017-06-08 11:39] RSly commented on #349
hi @drnikolaev, these are maybe mini hangs remaining from https://github.com/NVIDIA/caffe/issues/315?

you can reproduce it by a simple python layer from  https://github.com/NVIDIA/DIGITS/tree/master/examples/medical-imaging#dice-metric

* gpu usages are at 0, for the majority of the training time in those 150-second iterations.

[2017-06-08 17:32] RSly commented on #349
Hi @drnikolaev , I have prepared a minimal example so the problem can be reproduced easily :)

here is a solver, a pre_trained.caffemodel to initialize the net, and a minimal prototxt (intentionally there is no real loss layer, so mainly no initial weights will change in time)
https://drive.google.com/open?id=0Bzpjahml31eoWmJhdEZBVGhIRk0
layer "dicenv" is from  https://github.com/NVIDIA/DIGITS/tre

[2017-06-08 17:38] drnikolaev commented on #348
hi @jarvis-huang thanks for reporting this.
What particular solver_fp16.prototxt and solver_fp32.prototxt do you use? Could you please attach them here?

[2017-06-08 17:42] drnikolaev commented on #347
hi @mathmanu @ChenFengAndy
what particular nets and datasets? Do you use Python layers?

[2017-06-08 17:46] drnikolaev commented on #349
Yeah, this is syncing issue, looking to it...
Thanks for the sample!

[2017-06-08 18:33] jarvis-huang commented on #348
Here's the **solver_fp16.prototxt**. **solver_fp32.prototxt** looks almost the same but with different net and snapshot_prefix.

[code]

Programmatically, the error was caused by `lock_tensor()` from **tensor.hpp** and which is in turn called by
`learnable_params_[i]->lock_diff()` inside **net.cpp**.  That explains why I don't get errors when I try to print gradients on layer outputs, but only on

[2017-06-09 00:08] CFAndy commented on #347
Mine is Resnet50, no python layers.

[2017-06-09 06:36] drnikolaev commented on #347
@ChenFengAndy do you observe the issue using muli-GPU setup? If so, do you use NVLink or straight PCIe?

[2017-06-09 10:06] KeithWM commented on #118
I'm new to caffe, but I don't understand why there isn't more enthusiasm about this feature. To me it seems unnecessarily convoluted and error prone to require maintaining two nigh identical prototxt files. Or am I missing some alternative way of keeping my train and deploy (or test) networks properly aligned?

[2017-06-09 11:26] RSly commented on #345
I have a small related question: in the current implementation of the multi-gpu test scenario, how can a python data-layer know which GPU is running it? in other words, I need the python data layer to know which gpu is running it, so to make a deterministic test by giving to the gpu i the i-th portion of the test set

[2017-06-09 14:29] choosehappy opened #351 "matcaffe doesn't compile"
when running "make matcaffe" i get the following error:

`/opt/caffe-nv-new/matlab/+caffe/private/caffe_.cpp: In function âvoid get_solver(int, mxArray**, int, const mxArray**)â:
/opt/caffe-nv-new/matlab/+caffe/private/caffe_.cpp:192:63: error: too many arguments to function âcaffe::SolverParameter caffe::ReadSolverParamsFromTextFileOrDie(const string&)â
   ReadSolverParamsFromTextFileOrDie(solver

[2017-06-09 14:45] choosehappy commented on #351
by the way, I did try simply using the 2 parameter version by copying over the needed files from the official repo's version, but one thing lead to another and things started getting a bit out of hand :)

I'm hoping that you have a more elegant way of catching up with the commits?

[2017-06-09 14:53] drnikolaev commented on #118
Keeping this in TODO list..

[2017-06-09 15:30] CFAndy commented on #347
Yes. NVLINK.

[2017-06-09 16:36] mathmanu commented on #347
I don't use NVLINK. Only PCIe, two GTX1080 cards. I had this observation on image classification and segmentation networks.

When I saw the problem I was curious whether its related to multi-GPU, so I ran training with single GPU. If I recall correctly, the trend was similar there as well - but I am not completely sure now.

@ChenFengAndy, can you start the training with one GPU and see if the tre

[2017-06-09 16:57] drnikolaev commented on #347
@mathmanu @ChenFengAndy thank you. I'll need some time to verify this. So far, quick AlexNet+ImageNet+cuDNN_v6+DGX-1 comparison between 0.15 and 0.16 shows that 0.16 trains it almost two times faster. We also observe performance boost on other nets.
May I bother you to paste NVCaffe logs here (both 0.15 and 0.16)? That would help a lot.

[2017-06-09 17:27] mathmanu commented on #347
May be there is a miscommunication. I was talking about the loss and accuracy. Not about speed.

[2017-06-09 19:59] drnikolaev commented on #345
@RSly well, test set distribution is deterministic. Please let me know if you observe opposite (if you do, make sure you use deterministic convolutional algos as well as max pooling algo).

[2017-06-09 20:03] drnikolaev commented on #351
@choosehappy thank you. We are working on the fix.

[2017-06-09 20:09] drnikolaev commented on #347
@mathmanu yeah, thanks for pointing to this! We actually have some accuracy&determinism improvements in the pipeline, you can give it a try here: https://github.com/drnikolaev/caffe/tree/caffe-0.16
If it's still not satisfactory please attach logs to this issue.

[2017-06-10 06:19] tanjie860110 commented on #344
@drnikolaev thanks.

[2017-06-10 12:49] fengshikun opened #352 "How do I use the gpu fp16 mode to run the model trained by previous caffe?"
Is there any tutorial or sample code to show how to run fp16 mode? Thanks!

[2017-06-10 12:53] fengshikun commented on #352
In previous version: I can test the model this way:
[code]

How to use fp16 model in similar way? thanks!

[2017-06-11 15:22] psyhtest commented on #308
@7oud, @drnikolaev I believe this is due to the fundamental fp16 limitation of the GTX 1080 GPU, not due to the branch used. Please take a look at [dividiti's public benchmarking results](https://github.com/dividiti/ck-caffe-nvidia-gtx1080) (released with approval from General Motors), in particular, [here](https://nbviewer.jupyter.org/github/dividiti/ck-caffe-nvidia-gtx1080/blob/master/script/ana

[2017-06-12 01:04] CFAndy opened #353 "algorithm selection return wrong result: needs 140632G working space."
Caffe 0.16
run Resnet with FP16math + FP16Data
11224 I0611 08:14:37.694576 80384 cudnn_conv_layer.cpp:834] [4] Conv Algos (F,BD,BF): 'layer_512_2_conv3' with space 5.28G/1 1 1 1  (limit 2.97G, req 140632G)
11225 I0611 08:14:37.696094 80380 cudnn_conv_layer.cpp:834] [0] Conv Algos (F,BD,BF): 'layer_512_3_conv1' with space 5.28G/1 1p 1 1  (limit 2.96G, req 0.06G)
11226 I0611 08:14:37.749905 80387 cu

[2017-06-12 09:22] gangm opened #354 "where to get cudnn v6 for TX1"
hello,

Is caffe v0.16 only support cudnn v6?
I want to compile caffe v0.16 in my TX1 board, but i do not know where to get cudnn v6 for TX1, can you help for this?
thanks very much~

[2017-06-12 18:01] mathmanu commented on #347
Thanks. I am working on it.

[2017-06-15 05:30] mathmanu commented on #347
I have attached training logs that explain this issue.
[nvidia-caffe-issue-347-v1.zip](https://github.com/NVIDIA/caffe/files/1076658/nvidia-caffe-issue-347-v1.zip)
Please see the train.log files. I tried both classification and segmentation scenarios.

Following are the results:

**imagenet classification - top-1 accuracy:**
- nvidia/caffe(caffe-0.15) 2-gpu:          60.89%
- drnikolaev/caffe(caff

[2017-06-15 06:05] drnikolaev commented on #352
Hi @fengshikun did you try to replace `float` by `float16`?

[2017-06-15 06:07] drnikolaev commented on #353
Hi @ChenFengAndy it's been fixed already but we need some time to deliver new release. Thank you for reporting this.

[2017-06-15 06:22] drnikolaev commented on #347
Hi @mathmanu thank you very much for detailed report. You are right, accuracy first and we do test it. Seems like we missed something here. Marked as a bug, work in progress...

[2017-06-15 06:25] mathmanu commented on #347
Thanks. Kindly review my ImageLabelData layer as well and let me know if I missed anything.

[2017-06-15 07:29] mathmanu commented on #347
I just noticed that the BatchNorm parameters that used for the logs that I shared are not correct for caffe-0.16 (which needs slightly different parameters).

I will correct these and give a run - but it takes too much time for me to train as I have just 2 1080s - if you could try it in your DGX1, after correcting BN params, that will be great.

I have noticed the issue even if I use the correct B

[2017-06-15 07:35] drnikolaev commented on #347
Is this similar: https://github.com/NVIDIA/caffe/issues/276#issuecomment-289220197 ?
@borisgin could you have a look please?
@mathmanu sure, i'll run it tomorrow.

[2017-06-15 08:24] mathmanu commented on #347
Hold on - I will update the results with corrected params tomorrow.

[2017-06-15 19:42] drnikolaev commented on #354
Hi @gangm so far it supports v6 only, we are working on back support...

[2017-06-16 03:51] mathmanu commented on #347
I have re-run the simulations after correcting the params for new BN. The issue is very much there and the conclusions remain unchanged.

**imagenet classification - top-1 accuracy:**
nvidia/caffe(caffe-0.15) 2-gpu: 60.89%
drnikolaev/caffe(caffe-0.16) 2-gpu: 57.56%
Conclusion: caffe-0.16 achieves lower classification accuracy.

**cityscapes segmentation - pixel accuracy trend after 2000 iterations

[2017-06-16 03:55] cliffwoolley commented on #347
Thanks for the report, @mathmanu .  We're looking into this.

Best,
Cliff

/cc @thatguymike @slayton58

[2017-06-16 04:00] tanjie860110 opened #355 "make runtest error"
I make and make test all ok when i compile caffe 0.16,but make runtest error happened :
3 tests from ThresholdLayerTest/4 (1 ms total)

[----------] 8 tests from RMSPropSolverTest/1, where TypeParam = caffe::CPUDevice<double>
[ RUN      ] RMSPropSolverTest/1.TestRMSPropLeastSquaresUpdateWithWeightDecay
F0616 11:54:58.936892 26537 benchmark.cpp:18] Check failed: error == cudaSuccess (33 vs. 0)  inv

[2017-06-17 06:48] tanjie860110 opened #356 "train error"
when i train with caffe 0.16,use the batch_size 5,10,50,100 and so on.All train have the same error:(my GPU is GTX 1080Ti)
09:03:19.315853 11806 net.cpp:106] Using FLOAT16 as default forward math type
I0617 09:03:19.315860 11806 net.cpp:112] Using FLOAT16 as default backward math type
I0617 09:03:19.315865 11806 layer_factory.hpp:136] Creating layer 'input' of type 'Input'
I0617 09:03:19.315867 11

[2017-06-17 06:49] tanjie860110 commented on #356
my GPU is GTX 1080Ti

[2017-06-17 06:58] drnikolaev commented on #356
Hi @tanjie860110 thanks for reporting. To reproduce this we need to know what model you train and on what dataset. The best way is to attach your prototxt files to this issue.

[2017-06-17 07:00] drnikolaev commented on #355
Could you execute `export CUDA_VISIBLE_DEVICES=0` and re-run the tests please?

[2017-06-17 08:26] drnikolaev commented on #349
@RSly I can't reproduce this, sorry. My timings are pretty much even. Perhaps I use some other dataset. Could you upload yours somewhere?

[2017-06-18 16:39] smuelpeng opened #357 "ImageDataLayer deadlock problem"
Hello,I've used nvidia-caffe for months, and I clone the newest version caff-0.16  this week.
But I found that image data  layer in nvidiacaffe can't work well but DataLayer with LMDB works as usual (0.5 time faster in our K40 servers,that's very cool).
When I try imagedatalayer in a simple  5-class classification work by using resnet18,prototxt like:
layer {
  name: "data"
  type: "ImageData"
  t

[2017-06-19 02:05] tanjie860110 commented on #355
@drnikolaev i do it,but the result is all the same.
8 tests from RMSPropSolverTest/1, where TypeParam = caffe::CPUDevice<double>
[ RUN      ] RMSPropSolverTest/1.TestSnapshotShare
F0619 10:04:14.876730 26547 benchmark.cpp:30] Check failed: error == cudaSuccess (33 vs. 0)  invalid resource handle
*** Check failure stack trace: ***
    @     0x7f172edc35cd  google::LogMessage::Fail()
    @     0x7f1

[2017-06-19 02:17] tanjie860110 commented on #356
@drnikolaev the prototxt i use is
[solver.txt](https://github.com/NVIDIA/caffe/files/1083622/solver.txt)
[tracker.txt](https://github.com/NVIDIA/caffe/files/1083623/tracker.txt)

and dataset is ILSVRC2014 image data and alov300, thank you.

[2017-06-19 05:51] drnikolaev commented on #357
Hi @smuelpeng thanks!
Seems like a bug, we are looking to it..

[2017-06-19 16:10] RSly commented on #349
Hi @drnikolaev ,
Do you run your training for large number of images to be processed?
I have noticed that the problem does not occur in the first epoch.

Here is my timing curve in seconds/iteration, for two epochs on MS coco dataset with 80k images, 4 gpus, and bacthsize 16/GPU

the problem happens once around 60k images have been processed

![image](https://user-images.githubusercontent.com/3428

[2017-06-19 23:48] drnikolaev commented on #349
@RSly could you verify on your side whether your PythonLayer raises any exceptions?

[2017-06-20 05:17] drnikolaev commented on #347
@mathmanu @ChenFengAndy - we have reproduced and fixed the issue. Thanks again for reporting it. We are working on a new release now but if you want to get early access to the fix, please clone https://github.com/drnikolaev/caffe/tree/caffe-0.16 - it's still under construction but it does produce the same accuracy as 0.15 (at least on those nets we tested so far), like this one:

![0 16 fixed](htt

[2017-06-20 08:05] mathmanu commented on #347
Great! I'll wait for the release.

[2017-06-20 12:38] RSly commented on #349
hi @drnikolaev, no I dont see any exceptions.

=> the gpu usage remains at 0% for 95% of those 200/400 seconds you see in the figure, and it goes to working at 80-100% of gpu usage only for 5-10 seconds; these 5-10 are actually where the iteration is processed

Q: To initialize the weights of a fcn alexnet, did you actually use my weights from https://drive.google.com/open?id=0Bzpjahml31eoWmJhdEZB

[2017-06-20 13:05] mathmanu commented on #357
I faced a similar issue when I was creating a custom layer. Finally it worked when I commented out the highlighted portion of the code under
**if (this->auto_mode_)**
after overriding InternalThreadEntryN  and also set threads and parser_threads to 1.

  template<typename Ftype, typename Btype>
  void ImageLabelListDataLayer<Ftype, Btype>::InternalThreadEntryN(size_t thread_id) {
.
.
.
          /

[2017-06-20 13:19] mathmanu commented on #347
As far as I understand from the fix (in BN), it only changes the output of test/validation. So if I run test with my previous model (trained in caffe-0.16 which had this bug), using the bug fixed version, i should get the expected correct accuracy - is that right?

[2017-06-20 14:05] borisgin commented on #347
No. The bug was in the code where local learning  rate was set for scale and bias in the BN layers. You have to retrain the model .

[2017-06-21 17:22] Timo-hab opened #358 "How to convert caffemodel fp32 to fp16?"
Hi Sergei,

thanks for your work here. It is really helpful.
I just want to ask, if it is possible to convert a caffemodel fp32 to fp16?
I have a caffemodel (fp32) and I want to speed it up by using NVIDIA/caffe with the fp16 support.
I am looking forward to your answer.

Thanks
Timo-hab

[2017-06-22 05:30] mathmanu commented on #347
Thank you. I hope the CUDNN BN will get integrated into BVLC/caffe soon.

[2017-06-22 07:35] RSly commented on #358
hi @TimZaman take a look at here
https://github.com/NVIDIA/caffe/issues/344
it says

However I am not sure how exactly to set the flag 'nvcaffe f16 mode'

[2017-06-22 10:35] TimoSaemann commented on #358
Thanks @RSly

[2017-06-22 10:36] Timo-hab commented on #358
Thanks @RSly

[2017-06-22 10:36] #358 closed, assigned to nobody

[2017-06-22 11:32] RSly commented on #344
hi @drnikolaev,

1. I am not sure how in inference

*  is it possible to simply add those default_forward_ flags to FLOAT16 in the deploy.prototxt of a fp32 net and run it with fp32 weights?
* or is there a flag for python caffe.Net(deploy_file,caffemodel, caffe.TEST)?

2. also I understand the benefits of fp16 training (ram, speed), but what would be the advantage of doing the inference with fp16

[2017-06-22 21:43] borisgin commented on #356
@tanjie860110, I looked at the log, and noticed that 1) you got nan as loss, and out-of-memory. The first can be related to the fact that GTX 1080Ti has no real float16 support, Can you please rerun with FLOAT default math? To get rif of out-of memory I would suggest to reduce batch size.

[2017-06-23 00:48] #347 closed, assigned to nobody

[2017-06-23 09:17] mathmanu opened #360 "caffe train hangs when I set max_ter to 0 in solver params"
caffe train
hangs when I set max_ter to 0 in solver params

I am using caffe-0.16.

Thanks.

[2017-06-23 09:44] RSly opened #361 "out of memory after the first epoch (caffe 0.16.2)"
hi,

I am trying out the latest release 0. 16.2.
I noticed that in training after the first epoch and at Test time we get an  'out of memory error' and it crashes. FYI, exact same tests work fine on caffe 0.16.1

I0623 11:32:24.286512 19711 solver.cpp:451] Iteration 1045, Testing net (#0)
F0623 11:32:24.873178 19713 gpu_memory.hpp:38] Failed to allocate 49152000 bytes on device 2. Total memory: 12

[2017-06-24 01:11] tanjie860110 commented on #356
@borisgin, I modify float16 to float and reduce batch size,loss is correct but out of memory still exist.

[2017-06-24 04:24] borisgin commented on #356
Can you attach your train_val.prototxt and complete log please?

[2017-06-25 06:41] drnikolaev commented on #255
Fixed in 0.16.2

[2017-06-25 06:41] #255 closed, assigned to nobody

[2017-06-25 07:41] drnikolaev commented on #360
Hi @mathmanu thank you, reproduced. What exactly do we mean when we set it to 0?

[2017-06-25 07:42] drnikolaev commented on #356
@tanjie860110 could you also try 0.16.2 release?

[2017-06-25 08:21] drnikolaev commented on #361
Hi @RSly - do you read data from snapshot or start training from scratch?

[2017-06-25 12:10] RSly commented on #361
I tried new trainings from scrach with pretrained imagenet weights.

if needed I can also try with no weight initialization

[2017-06-26 15:18] RSly commented on #345
hi @cliffwoolley @drnikolaev, it seems that nvcaffe ignores solver_mode: CPU. so I cant use the test-only script to run  in cpu mode. I have a test-only solver with these flags:
base_lr: 0
solver_mode:CPU
snapshot_after_train: false

I run the above solver (CPU) with tools/caffe train, and no --gpu flag, but nvcaffe still tries to use the busy gpus, and crashes.
I think these lines here ignore the

[2017-06-27 08:53] RSly commented on #349
hi @drnikolaev , a quick feedback to let you know that the time explosion is not present in 0.16.2, see in the next figure and compare it with figure 1 from the previous post!! magical :)

It can be very interested to find out what caused and solved this issue for the future developement.
do you know which part of the code could be the cause here?

thanks

![image](https://user-images.githubuserco

[2017-06-27 11:29] mathmanu commented on #360
In the solver.prototxt file I set
max_iter: 0

What I was trying to do was the following:

I have a training procedure that involves multiple rounds of training. I wanted to disable a specific round of training by setting its max_iter to 0.

This is not a critical use case. Just filed the issue, in case it helps finding some bigger issue that might be related to it. I occasionally get some random

[2017-06-27 13:17] RSly commented on #361
here are more messages, maybe it can help.
my understanding is that it continues to keep the training images in the memory and doesnt do the clean up before uploading test images.

Testing net (#0)
F0627 15:13:49.775660 14308 gpu_memory.hpp:38] Failed to allocate 4153344 bytes on device 2. Total memory: 12799574016, Free: 3342336, dev_info[2]: total=12799574016 free=3342336
*** Check failure stack

[2017-06-27 18:26] drnikolaev commented on #361
Hi @RSly thanks! Yeah, I found the issue - most probably you have different amount of available device memory because you have display connected to one of them. Is this the case? If so, fix is coming soon.

[2017-06-27 18:27] drnikolaev commented on #353
Fixed in v0.16.2

[2017-06-27 18:27] #353 closed, assigned to nobody

[2017-06-27 18:30] drnikolaev commented on #349
Hi @RSly , thanks for confirming! We overhauled PythonLayer implementation and added more robust exception handling.

[2017-06-27 18:30] #349 closed, assigned to nobody

[2017-06-27 20:09] benjaminklein opened #362 "Don't see an improvement from using FP16"
Hello,

I'm using the extract_features tool for inference with a deploy.prototxt that has the following lines:
default_forward_type:  FLOAT16
default_forward_math:  FLOAT16

While I do see a reduction in GPU memory usage (comparing to when not using this), I don't see an improvement in throughput. Any idea why?

I'm using P100 with Resnet.

[2017-06-27 20:28] RSly commented on #361
yes, 100-200Mb for display. why is that important on a 12Gb gpu? :)
I m curious, is it possible to not have the display connected to the gpu?
if you have a link explaining how to, I appreciate it

[2017-06-27 23:20] drnikolaev commented on #361
Cool, thank you. No need to change anything, fix is coming soon. The problem is not about size. it's about inequality.

[2017-06-28 03:46] mathmanu opened #363 "Crash (some times) at the beginning of training"
[cifar10_jacintonet11v2_2017-06-28_09-11-20_random_crash.zip](https://github.com/NVIDIA/caffe/files/1107513/cifar10_jacintonet11v2_2017-06-28_09-11-20_random_crash.zip)
Sometimes, I get a crash at the beginning of the training. This crash happens only once in a while.

Copied the last part of the log: (The full log is in the train.log file - in the attachment).

I0628 09:11:22.737768 14946 cudnn_c

[2017-06-30 00:06] drnikolaev commented on #363
Hi @mathmanu thanks! Yeah, we noticed it too and already fixed. New release is coming soon.

[2017-07-03 08:01] SantiGong opened #364 "P40 slower than M40 with "train_adadelta_fp16.sh""
Training with the script "train_adadelta_fp16.sh", M40 is 5 times faster than P40.
Verifying with "adagrad" and "adam"

OS: CentOS7.3
CUDA: cuda_8.0.44_linux.run or cuda_8.0.61_375.26_linux.run
HW config: Intel E5 2667v4*2, 256GB memory, M40*4 or P40*4

Attach the result.
M40:
`I0628 21:36:04.644706 175692 parallel.cpp:71] Root Solver performance on device 0: 8.086 * 128 = 1035 img/sec
I0628 21:36

[2017-07-03 09:31] RSly opened #365 "why does iteration time (seconds) depend on lr?"
Hi,

I have noticed that the wall clock time per iteration (in seconds) depends on the learning rate and loss weights.
I am not talking about the training time needed for getting minimum loss, I am concerned with the physical time that each iteration takes (regardless of the accuracy).

Is this a normal behavior or a bug?
why is this happening?

[2017-07-04 12:03] shuyu0815 commented on #352
@drnikolaev
If using the branch master version(experimental/fp16),how to use fp16 mode in classification.cpp ?

Thanks !

[2017-07-05 11:32] shuyu0815 commented on #117
@drnikolaev
Is the 0.15 supports fp16 for python ?
Because the TX1 haven't supported the cuDNNv6, I can't try to us the 0.16.

Thanks !

[2017-07-08 04:47] jagmohan-nd commented on #117
thanks @drnikolaev

[2017-07-08 06:21] drnikolaev commented on #365
Could you try to set `engine: CAFFE` for convolution layers? Same observation?

[2017-07-08 06:23] drnikolaev commented on #364
@SantiGong could you upload complete logs please?

[2017-07-08 07:42] cliffwoolley commented on #364
Also, does this still reproduce with the latest cuBLAS patch 2 (8.0.61.2)
installed?

[2017-07-10 16:10] RSly commented on #365
hi @drnikolaev

difficult to say regarding engine: CAFFE and timing dependency to lr, etc. (I need to do more tests)

on the other hand, using engine: CAFFE for all convs , I noticed that
1. engine: CAFFE uses ~ 35% less GPU ram compared to not using this flag, should this be the case?
(I thought cudnn convs are memory optimized?)
2. also the mini-hang problem still exists with CAFFE engine  (see

[2017-07-11 15:11] SantiGong commented on #364
Folks,
Attach the log.
For the cuBLAS patch2, is it integrated in the CUDA 8.0.61 ?
Already verified with cuda 8.0.61, the behavior is same as the before.

[result_M40_adadelta_fp16_10000.txt](https://github.com/NVIDIA/caffe/files/1139336/result_M40_adadelta_fp16_10000.txt)
[result_P40_adadelta_fp16_10000.txt](https://github.com/NVIDIA/caffe/files/1139337/result_P40_adadelta_fp16_10000.txt)

[2017-07-11 15:17] cliffwoolley commented on #364
No, it's separate.

Please see https://developer.nvidia.com/cuda-downloads .

On Jul 11, 2017 8:11 AM, "SantiGong" <notifications@github.com> wrote:

[2017-07-12 13:00] TimoSaemann opened #367 "argmax calculation on the GPU?"
Hi,

I have found that the argmax calculation is a bottleneck. While the forward pass of my net needs just 18 ms, the argmax calculation needs about 40 ms (1024x544 px). I'm sure you could speed up this calculation if you calculate it on the GPU. Would it be possible for you to implement an argmax.cu? That would be really helpful! Thanks!

Best,
Timo

[2017-07-13 10:52] hit1001 opened #368 "Cannot compile with an error for NEON.h"
When i try compiling, it throws this error:

/usr/lib/gcc/aarch64-linux-gnu/5/include/arm_neon.h(38): error: identifier "__Int8x8_t" is undefined

/usr/lib/gcc/aarch64-linux-gnu/5/include/arm_neon.h(39): error: identifier "__Int16x4_t" is undefined

/usr/lib/gcc/aarch64-linux-gnu/5/include/arm_neon.h(40): error: identifier "__Int32x2_t" is undefined

/usr/lib/gcc/aarch64-linux-gnu/5/include/arm_ne

[2017-07-14 13:57] RSly opened #369 "cudnn algo selection on multiple gpus"
hi @drnikolaev,

I have a litte question:
does the caffe 0.16 cudnn algorithm selection guarantees that, at the end, the same algorithms are selected  for all the GPUs?
in other words, can it happen that on gpu0, we run a set of algos such as 6 4 3 for convx, and on gpu1 it decides to run 1 1 3 for convx?

[2017-07-16 07:50] bfreskura commented on #354
Hi @drnikolaev, can you give a rough estimate when will the back support be implemented?

[2017-07-19 07:28] #368 closed, assigned to nobody

[2017-07-19 08:50] hit1001 opened #370 "How to consider FP16 mode in inference ?"
How exactly the flags are being set?
Earlier branch had an executable as caffe_fp16, would be better if moved like that.

Thanks.

[2017-07-20 02:22] Agoniii opened #371 "cudnn_conv_layer.cpp internal compiler error"
NVCaffe: 0.16
CUDA: 8.0.61
cuDNN: 6.0.21
GPU: P40

The error is below:
CXX src/caffe/layers/cudnn_conv_layer.cpp
src/caffe/layers/cudnn_conv_layer.cpp: In member function ‘size_t caffe::CuDNNConvolutionLayer<Ftype, Btype>::ComputeFindExWorkspaceSize()’:
src/caffe/layers/cudnn_conv_layer.cpp:213:7: internal compiler error: in var_defined_without_dynamic_init, at cp/decl2.c:2811
   if (was_reduced_)

[2017-07-20 02:35] Agoniii commented on #371
gcc version: 4.8.3
It seems a bug about gcc, perhaps I need higher gcc version?
Please help me, thanks.

[2017-07-20 11:54] shahromil16 opened #372 "Trying to convert layers developed using FP32 caffe so as to support FP16"
Hi,
There are custom layers created using FP32 caffe:
[https://github.com/weiliu89/caffe/tree/ssd/include/caffe/layers](https://github.com/weiliu89/caffe/tree/ssd/include/caffe/layers)
[https://github.com/weiliu89/caffe/tree/ssd/include/caffe/util](https://github.com/weiliu89/caffe/tree/ssd/include/caffe/util)
example: normalize_layer.hpp, bbox_util.hpp

I am trying to use that in FP16 supporting

[2017-07-21 12:10] coolper commented on #363
@drnikolaev can you share some detail about how to fix it?
I need it in a hurry.
(I get this crash every time in my environment, it blocks me to contine.)
thx.

[2017-07-24 04:52] CFAndy opened #373 "confused shuffle in datalayer for 0.16.2 release"
The meaning of shuffle in datalayer (which can work under LMDB) is totally different from image layer's.
Can we use this shuffle parameter to do the per-epoech shuffle for LMDB?

[2017-07-24 05:24] #373 closed, assigned to nobody

[2017-07-25 06:12] Asad-Ismail opened #375 "Caffe Clasification using c++ crashes in qt creator while works fine in terminal"
The problem arises in to Caffe Clasification using c++ crashes in qt creator while works fine in terminal. The problem arises in net_.reset(new Net<float>(model_file, TEST)). I have build caffe using CPU only mode and also included that in my Cmake list for classification.

[2017-07-25 06:52] #375 closed, assigned to nobody

[2017-07-25 17:43] beng0d opened #376 ".caffemodel file backward compatibility with caffe/bvlc"
Deployment of trained .caffemodels files is now more complex due to a breaking change introduced in caffe.proto and blob`T`::ToProto(). All blob data seems to be saved in raw_data field. Backward compatibility with bvlc/caffe is one way.

It would be nice to have a way to save blob`float` to data and blob`double` to double_data so that trained models can be deployed in other caffe platforms.

I us

[2017-07-26 01:13] drnikolaev commented on #376
@beng0d In what direction do you want it to be compatible? Currently we support bvlc ---> NV only. We don't plan opposite way to be supported cause we need raw field for fp64/fp32/fp16 cross-compatibility.

[2017-07-26 01:19] drnikolaev commented on #363
Got back from vacation, now polishing this...

[2017-07-26 01:27] drnikolaev commented on #369
hi @RSly
There is no such guarantee.

[2017-07-26 06:36] gaqiness commented on #362
me too.
I test cifar10 in models/cifar10_nv/. add following lines:
default_forward_type:  FLOAT16
default_backward_type: FLOAT16
default_forward_math:  FLOAT
default_backward_math: FLOAT
to cifar10_nv_train_test.prototxt and train the cifar10 from scratch.
I'm using GTX1080 with caffe -test CMD to test the default dataset, but I don't see  a reduction in GPU memory usage,
and the caffe -time will

[2017-07-26 19:52] beng0d commented on #376
I was talking about exporting trained fp32 (or fp64) caffemodels from nvidia/caffe to be consumed by other forks of bvlc/caffe in the regular protobuf format. I understand the need for better support of alternate data types through raw_data. I am sure some export or conversion function would be welcomed for users who deploy trained models on other platforms. I personally was surprised when it stop

[2017-07-26 20:53] drnikolaev commented on #376
Got it. Yeah, seems like simple converter is the way to go.

[2017-07-27 08:41] RSly commented on #369
In this case, I have a feeling that the difference of algo sets for each gpus can cause sync problems and extend the training time due to this.

could you please check, I think the current way can have negative side effects?

[2017-07-27 11:08] drozdvadym commented on #376
So, should we wait for official converter  NV -> bvlc (just for deploying)?
The main idea is next:  I'm using nvidia-caffe and DIGITS to train new models on my GPU-cluster, but deploy all models on a  simple device which doesn't have any GPU on it, so I prefer to use customized version of caffe which is based on bvlc. After last update I cant' do that.

[2017-07-27 15:38] beng0d commented on #376
This should be better documented. It would be nice to have some converter part of the distribution and ideally available in DIGITS export functions for our non programmer users.

I share my python script with no dependencies to nvidia caffe. I first compiled the nvidia caffe.proto to nvcaffe_pb2.py using cproto.

[code]

[2017-07-27 19:13] drnikolaev commented on #376
@beng0d @drozdvadym Let's make it on demand thing: in your solver.prototxt you would be able to switch back to bvlc format. Would it work?

[2017-07-27 19:18] drnikolaev commented on #369
We did test it. If we train on identical GPUs, we observe almost no difference. And we sync after each bucket and each iteration.
Insisting on the same algo set would make negative impact for those customers having different GPUs.

[2017-07-27 21:03] beng0d commented on #376
Good idea on your part. You would still have to access this new parameter in blob::ToProto or convert after the fact.

There is still the problem of accessing those on DIGITS. (Issues [565](https://github.com/NVIDIA/DIGITS/issues/565) and [730](https://github.com/NVIDIA/DIGITS/issues/730)).

It would have to be a front end option in their solver parameters. If both changes are made, then we have a

[2017-07-28 04:50] SantiGong commented on #364
Quick update, with cuBLAS patch2, the issue cannot be fixed.
Will update the detail result later on.
Sorry for the slow response due to my vocation.

[2017-07-28 07:21] SantiGong commented on #364
The power consumption measured by nvidia-smi is not stable when running the benchmark on P40:

"_F_ri Jul 28 12:09:38 2017
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 375.26                 Driver Version: 375.26                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus

[2017-07-28 12:55] RSly commented on #369
Thanks @drnikolaev , I completely agree with the 'different GPU' argument.

But, why on same GPUs the algo selection can vary? I mean, if for the same GPUs, on gpu0 we have selected the optimal set of algos, why would this set not be optimal on gpu1?

Also, do you think it makes sens to first check the GPUs and if the GPUs are the same, we set the same set of algos for all of them?

[2017-07-28 18:16] drnikolaev commented on #369
Even in case of identical GPUs you might have different amount of memory available (for example, when one of GPUs have display connected). There are too many moving parts here. Besides that, there are things like CPU affinity...

[2017-07-28 23:50] jcAxe commented on #302
I downloaded it but I couldnt set it as the current version of caffe. How do I change the version? I followed a few tutorials but none solved it.
I installed my caffe while solving dependencies of Cuda using aptitude.

[2017-07-29 00:05] jcAxe opened #381 "How to change the Caffe's default version"
edit: I`m sorry. Just now I noticed about this being an issue for the caffe users-list.
Hi,
I installed my Caffe (0.15) while solving CUDA dependencies from aptitude.
I`ve downloaded and compiled a new version of Caffe (0.16) but it was not set as default.
How do I change the default version of Caffe?

[2017-07-29 00:30] #381 closed, assigned to nobody

[2017-07-30 06:51] drnikolaev commented on #376
Done, please update to 0.16.3. Just do `store_blobs_in_old_format: true` when you train.

[2017-07-30 06:51] #376 closed, assigned to nobody

[2017-07-30 06:52] drnikolaev commented on #372
Hi @rams16592 please try 0.16.3

[2017-07-30 06:54] drnikolaev commented on #371
Yeah, makes sense to update your gcc. You may also try 0.16.3 release.

[2017-07-30 06:58] drnikolaev commented on #370
Hi @hit1001 please have a look to caffe.proto:
[code]
Also, check models shipped with NVCaffe - there are plenty of 16 bit ones out there.

[2017-07-30 06:58] #370 closed, assigned to nobody

[2017-07-30 07:01] drnikolaev commented on #367
Hi Timo,
good idea, thank you!

[2017-07-30 07:03] drnikolaev commented on #364
Hi @SantiGong could you try 0.16.3 please?

[2017-07-30 07:03] drnikolaev commented on #363
Fixed in 0.16.3. Thanks for reporting this.

[2017-07-30 07:03] #363 closed, assigned to nobody

[2017-07-30 07:08] drnikolaev commented on #362
@benjaminklein for ResNet both Forward and Backward passes should be set to 16 bit. Please try that.
@gaqiness 1080 is not designed to bring enough FP16 compute capacity, sorry.

[2017-07-30 07:09] drnikolaev commented on #361
Hi @RSly please try v0.16.3

[2017-07-30 07:09] drnikolaev commented on #360
Fixed in 0.16.3

[2017-07-30 07:09] #360 closed, assigned to nobody

[2017-07-30 07:10] #356 closed, assigned to nobody

[2017-07-30 07:11] drnikolaev commented on #355
@tanjie860110 does v0.16.3 fail in the same way?

[2017-07-30 07:13] drnikolaev commented on #352
@shuyu0815 please use https://github.com/NVIDIA/caffe/tree/caffe-0.16

[2017-07-30 07:18] drnikolaev commented on #344
Hi @RSly
1. This is the way:

2. Test in fp16 brings same performance gain as Train
3. Have you tried `global_grad_scale: 1000`?

[2017-07-30 07:19] #341 closed, assigned to nobody

[2017-07-30 07:20] #335 closed, assigned to nobody

[2017-07-30 07:31] drnikolaev commented on #302
You should build it from the source code you downloaded.

[2017-07-30 08:04] shahromil16 commented on #372
HI @drnikolaev , thank you for replying. Yes I have been trying 0.16.3 and facing the error in that.

[2017-07-30 10:27] drozdvadym commented on #376
Thanks!

[2017-07-30 15:12] drnikolaev commented on #372
So, you code your own layers. You have to supply <Ftype, Btype> template everywhere then. F is forward, B is backward. Look how NVCaffe does that.

[2017-07-30 15:12] #372 closed, assigned to nobody

[2017-08-01 05:26] jcAxe commented on #302
I did, and it build successfully. But still could not set this one as default.

[2017-08-01 14:28] RSly commented on #369
Thanks @drnikolaev , If I run into a more concrete problem/crash, I will create a new issue.

[2017-08-01 14:28] #369 closed, assigned to nobody

[2017-08-01 17:35] drnikolaev commented on #302
May I have the exact command you run with model you try to deploy?

[2017-08-01 17:36] #371 closed, assigned to nobody

[2017-08-01 17:41] drnikolaev commented on #365
hi @RSly  `engine: CAFFE` actually means "no cuDNN". It might require less memory, correct.
As of hangs - do you observe them with 0.16.3? If you do, may I have all the files and commands exactly as you run them? I'm still having hard time to reproduce this issue.

[2017-08-01 17:43] #361 closed, assigned to nobody

[2017-08-01 17:44] #352 closed, assigned to nobody

[2017-08-01 17:47] drnikolaev commented on #348
Hi @jarvis-huang  Locking issue has been fixed in v0.16.3 release. Please try it.

[2017-08-01 17:47] #348 closed, assigned to nobody

[2017-08-01 17:50] drnikolaev commented on #345
@RSly you need to rebuild with CPU_ONLY=ON to run on CPU.

[2017-08-01 17:51] #344 closed, assigned to nobody

[2017-08-01 17:51] #230 closed, assigned to nobody

[2017-08-01 18:07] jcAxe commented on #302
This is the code using caffe.
[code]

[2017-08-01 18:29] jcAxe commented on #302
Not sure if it helps, but this is the bottom lines of the error.
[code]

[2017-08-01 20:42] jcAxe commented on #302
I solved this problem. I needed to cp the caffe-caffe0.16/python/caffe to python2.7/dist-packages/ and removing the previous caffe folder from there ( I renamed in order to backup) and check the folder permissions.
Thank you for the help and sorry for the trouble.

[2017-08-01 20:42] #302 closed, assigned to nobody

[2017-08-02 08:11] RSly commented on #365
thanks @drnikolaev , I will try 16.03
now I am puzzled :)
=> so in my setup, if I get better wall clock speed per dataset with engine: CAFFE (or even using conv_algos_override: "1,1,1"), is there any good reason to switch to the cudnn seeker FINDEX?

[2017-08-02 08:18] RSly commented on #345
yes, but that is not very efficient, we ended up having multiple sets of nv-caffe for test, train, etc... I think best could be to activate this CPU_ONLY=ON in the solver, or --gpu=-1 in the train to switch between CPU and GPU

* this aside, I strongly vote for being able to 'configure the test phase to perform on cpus or another free gpu'

[2017-08-02 18:16] drnikolaev commented on #365
I doubt that it's going to happen, but please try.

[2017-08-02 18:19] drnikolaev commented on #345
Got your point, we'll need to discuss&prioritize it. Marking and closing at this moment, thank you.

[2017-08-02 18:19] #345 closed, assigned to nobody

[2017-08-02 19:30] jcAxe commented on #302
Does Caffe 0.16 work on Windows?

[2017-08-02 19:39] drnikolaev commented on #302
No, it doesn't

[2017-08-03 06:46] cliffdean opened #384 "data_layer.cpp:148] Check failed: false"
Hi,
I used NVCaffe 0.16.3 to show the following error

I0803 14:06:56.940691 16017 base_data_layer.cpp:217] [0] Prefetch allocated.
I0803 14:06:56.941608 16017 internal_thread.cpp:40] Restarting 4 internal thread(s) on device 0
I0803 14:06:56.941833 16017 data_reader.cpp:52] Data Reader threads: 4, out queues: 16, depth: 5
I0803 14:06:56.941890 16017 internal_thread.cpp:19] Starting 4 internal thr

[2017-08-03 07:53] gaqiness opened #385 "I can't see much improment in jetson TX1"
I build nvcaffe 0.16 in jetson TX1(with **jetpack 3.1**, Host:ubuntu16.04), and follow this
https://leotam.github.io/general/2016/05/05/EmbeddedVision.html
to test the alexnet.
By use CMD : caffe time --model=models/bvlc_alexnet/deploy.prototxt -gpu 0 -iterations 300
"deploy,prototxt " just edit and add:
default_forward_type:  FLOAT16
default_backward_type: FLOAT16
default_forward_math:  FLOAT16
d

[2017-08-03 09:25] SantiGong commented on #364
Tried 0.16.3, issue still exists.

[2017-08-03 18:32] drnikolaev commented on #364
Hi @SantiGong thanks for confirming. I don't have the answer at this moment but I have a suggestion. Running pseudo fp16 on Maxwell GPUs doesn't make much sense at all. That fact that it runs faster than P40 means that there is a problem while running on P40. May I ask you to make pure fp32 run on M40 and pure fp16 run on P40? "Pure fp16" means the following:

Net:
[code]

Solver:
[code]

[2017-08-04 08:00] CFAndy opened #386 "cuDNN based implementation for Deconv (former: doing group in one call is needed)"
cuDNN supports Grouped Convolutions start from cuDNNv7.
Please enable this feature to boost the training of mobile net.

[2017-08-04 17:09] drnikolaev commented on #384
Hi @cliffdean , may I have the complete log attached please?
When I run the model attached to #363 it works perfectly fine:

[code]

[2017-08-04 17:22] drnikolaev commented on #385
Hi @gaqiness ,  I'd like to reproduce these timings. May I have complete log and all the steps taken to get it? Also, I'd suggest to train your model in FP16 to avoid 32->16 conversion.

[2017-08-05 17:14] drnikolaev commented on #384
Hi @cliffdean , I found and fixed a race condition in DataLayerSetUp. Most probably, it was the reason of all failures you observed. Please clone the latest code from the branch and give it a try. Feel free to reopen the issue if it still crashes. Thank you for reporting!

[2017-08-05 17:14] #384 closed, assigned to nobody

[2017-08-05 18:13] drnikolaev commented on #354
Hi @gangm , please try JetPak 3.1 https://developer.nvidia.com/embedded/jetpack

[2017-08-05 18:13] #354 closed, assigned to nobody

[2017-08-05 20:30] proCoderDude opened #389 "half_float/half.hpp"
I compiled NVcaffe using CMakelist. make all and make runtest compiles. But when I try to build a separate app, it fails giving me this error:
 "~/NVcaffe/build/install/include/caffe/util/float16.hpp:13: error: half_float/half.hpp: No such file or directory"

half_float/half.hpp is include 3rdParty folder inside ~/NVcaffe/ but it seems like it was not installed in the install folder.

[2017-08-06 01:49] seanbell opened #390 "The GIL isn't released when called from Python"
Are there any plans to allow for releasing the Python GIL?  When using Python data layers, this allows for multithreading inside the data layer.

A PR for this feature is on the Berkeley caffe project: https://github.com/BVLC/caffe/pull/2230

[2017-08-06 04:09] drnikolaev commented on #390
Hi @seanbell . Well, https://github.com/NVIDIA/caffe/blob/caffe-0.16/include/caffe/layers/python_layer.hpp#L23
Are there any specific failures?

[2017-08-06 05:46] drnikolaev commented on #389
Hi @proCoderDude , it's now fixed. Please clone the latest code and verify. Thanks for reporting.

[2017-08-06 10:50] gaqiness commented on #362
I know 1080 is not designed to bring much improvement in fp16. But TX1 ？

[2017-08-06 10:52] gaqiness commented on #362
Please give me more detail ……

[2017-08-06 17:01] drnikolaev commented on #362
Hi @gaqiness I'm profiling TX1...

[2017-08-06 18:54] seanbell commented on #390
Hey @drnikolaev -- I searched the repo but somehow didn't see that.  I'll try it out and let you know if I have any issues.  Thanks!!

[2017-08-07 01:45] gaqiness commented on #385
thanks @drnikolaev, I train cifar10_fp16 in nvcaffe/models/cifar10_nv by GTX1080.

Then, I test that models in Jetson TX1.

All log and file is here
[log_and_file.zip](https://github.com/NVIDIA/caffe/files/1203665/log_and_file.zip)

[2017-08-07 09:45] fengziyong commented on #386
I have try to use cuDNNv7 in original caffe, but I found it was slower than the original implementation in group mode.
@drnikolaev Do you have test this feature?

[2017-08-07 16:41] drnikolaev commented on #386
@fengziyong could you paste v6 and v7 logs here?

[2017-08-07 20:38] proCoderDude commented on #389
Thanks @drnikolaev, it did the trick. Can you also update the CMakelist.txt aswell.

Thank you.

[2017-08-07 23:08] seanbell opened #391 "Layers missing call to cudaStreamSynchronize?"
Hi, I am trying to port my code to version 0.16, and trying to understand `cudaStreamSynchronize`.  When is it needed?  The different layers seem to inconsistently use it.

For example, it is included here:
https://github.com/NVIDIA/caffe/blob/caffe-0.16/src/caffe/layers/relu_layer.cu#L54
https://github.com/NVIDIA/caffe/blob/caffe-0.16/src/caffe/layers/bias_layer.cu#L27
https://github.com/NVIDIA/c

[2017-08-07 23:47] seanbell commented on #391
I think it's also missing from these kernel calls in `math_functions`: https://github.com/NVIDIA/caffe/blob/caffe-0.16/include/caffe/util/math_functions.hpp#L333-L387 (unless I'm misunderstanding something)

[2017-08-08 01:07] drnikolaev commented on #391
Hi @seanbell Thank you. It's actually needed everywhere to make sure that compute on that stream is done because when you specify a non-zero stream for a kernel, then that kernel runs asynchronously. There are exclusions though:

- When you have chain of calls on the same stream, they do not overlap. Just put cSS after the last one.
- You run 2 kernels on 2 separate streams. If GPU can handle this

[2017-08-08 02:39] fengziyong commented on #386
This is the log of caffe time with cuDNNv7

I0808 10:10:09.390646 30966 caffe.cpp:406] Average time per layer:
I0808 10:10:09.390661 30966 caffe.cpp:409]      input	forward: 0.00277888 ms.
I0808 10:10:09.390683 30966 caffe.cpp:412]      input	backward: 0.00255168 ms.
I0808 10:10:09.390702 30966 caffe.cpp:409]      conv1	forward: 0.0715469 ms.
I0808 10:10:09.390719 30966 caffe.cpp:412]      conv1	b

[2017-08-08 02:47] drnikolaev commented on #386
Hi @fengziyong , I can't help with BVLC Caffe, sorry. Have you tried NVCaffe with v7? How are the timings?

[2017-08-08 03:08] fengziyong commented on #386
OK. I will try later.

[2017-08-08 07:19] CFAndy commented on #386
NVCaffe should have launched the conv of a group through for_loop. But it might dispatch all the call to one CUDA stream. @drnikolaev could you provide a quick fix for that.
Anyway, I need to fix the NVCaffe's accuracy issue first(existing start from 0.15) :(. Although it can converge on Resnet, it has problems on my customized topologies.

[2017-08-08 07:32] drnikolaev commented on #386
@ChenFengAndy I'm working on new grouping. Current implementation runs for_loop, correct (inherited from BVLC) but it does use different streams:
https://github.com/NVIDIA/caffe/blob/caffe-0.16/src/caffe/layers/cudnn_conv_layer.cu#L25
and then it syncs on them:
https://github.com/NVIDIA/caffe/blob/caffe-0.16/src/caffe/layers/cudnn_conv_layer.cu#L33
However, If both groups won't fit (usually due to

[2017-08-08 13:01] pratikds opened #392 "Nvidiacaffe with python3.5"
Hello,

Does Nvidiacaffe support python3.5 or it supports python2.7 only?

[2017-08-08 14:25] drnikolaev commented on #392
Hello @pratikds , yes it does.

[2017-08-08 17:10] shuyu0815 opened #393 "Make error on TX1"
I try to build nvcaffe 0.16 on jetson TX1 (with jetpack 3.1), but I got the error ## "/usr/bin/ld: cannot find -lnvidia-ml"

I saw someone has installed in TX1 successfully, I think I could make some mistakes in installation ！
Please give some suggestions!

Thanks for help !

[2017-08-08 22:48] drnikolaev commented on #393
Hi @shuyu0815 I got similar error but while running, not linking. Thanks for reporting.
While I'm working on the fix for this issue please use the following workaround (you might need to rebuild NVCaffe because `link` should succeed no matter what):
[code]

Then try to run tests:

[code]

[2017-08-09 09:23] shuyu0815 commented on #393
Thanks for your reply !

It runs OK but I got some error in runtest !
and there are OK ?

<img width="790" alt="2017-08-09 3 42 38" src="https://user-images.githubusercontent.com/20681245/29114541-3ea7693c-7d27-11e7-91c6-72ca48311785.png">

Thanks for help !

[2017-08-09 15:03] RSly commented on #390
hi @seanbell did you have any progress in multi-threaded python data layer?
I am interested to know what the steps are to achieve this?

maybe you have a public code to share with us?
thanks

[2017-08-09 21:38] drnikolaev commented on #393
@shuyu0815 you may safely ignore those failures. They are caused by OpenCV's double precision glitch. I'll remove them in next release.

[2017-08-10 05:27] shuyu0815 commented on #393
Thanks you !

[2017-08-10 08:08] gaqiness commented on #385
Hi @drnikolaev , can you reproduce the issue?

[2017-08-10 08:19] shuyu0815 opened #394 "Batchnorm layer with scale_bias: true"
I tried to implement inference with trained model (not trained with nvcaffe) in nvcaffe0.16.
I try to modify the prototxt to meet the prototxt used by nvcaffe=0.16

Because the trained model has the Scale layer and I set scale_bias: true
but I got an error:

I0810 08:07:56.287736 13150 net.cpp:405] Network initialization done.
I0810 08:07:56.329692 13150 net.cpp:1077] Copying source layer data Typ

[2017-08-11 01:28] MichaleWong opened #395 "How to turn off the CUDNN in the nvidia-docker"
I use the nvidia/caffe in my nvidia-docker, my video card cannot support cudnn (quadro 4000), the compute capability is 2.0.
So I want to use cuda and turn off the cudnn, how to do that using caffe commands, do I need to rebuild all my project?

[2017-08-11 02:33] drnikolaev commented on #395
hi @MichaleWong , please set in your model
[code]
for every layer having cuDNN implementation.

[2017-08-11 02:34] #392 closed, assigned to nobody

[2017-08-11 02:34] #365 closed, assigned to nobody

[2017-08-11 02:35] #364 closed, assigned to nobody

[2017-08-11 02:36] #355 closed, assigned to nobody

[2017-08-11 03:00] drnikolaev commented on #385
hi @gaqiness  , yes, thank you. NVML issue has been fixed, please pull the latest.

As of `caffe test` mode support on TX-1, it's fixed too.
These are diffs I made before train in FP16: [train.diff.txt](https://github.com/NVIDIA/caffe/files/1216844/train.diff.txt)
These are test results: [test.log.txt](https://github.com/NVIDIA/caffe/files/1216848/test.log.txt)

As of `caffe time` speed you report

[2017-08-11 03:00] #385 closed, assigned to nobody

[2017-08-11 03:01] drnikolaev commented on #362
#385

[2017-08-11 03:01] #362 closed, assigned to nobody

[2017-08-11 03:03] drnikolaev commented on #235
Fixed.

[2017-08-11 03:03] #235 closed, assigned to nobody

[2017-08-11 03:03] drnikolaev commented on #389
Fixed.

[2017-08-11 03:03] #389 closed, assigned to nobody

[2017-08-11 03:04] drnikolaev commented on #391
Fixed.

[2017-08-11 03:04] #391 closed, assigned to nobody

[2017-08-11 03:04] drnikolaev commented on #393
Fixed.

[2017-08-11 03:04] #393 closed, assigned to nobody

[2017-08-11 03:47] gaqiness commented on #385
Thanks very much @drnikolaev , I will pull the latest and test again.

[2017-08-11 06:40] MichaleWong commented on #395
@drnikolaev ，I got， I would try it，thank you very much

[2017-08-11 07:42] #395 closed, assigned to nobody

[2017-08-11 08:08] mathmanu opened #397 "Compilation error"
I get this compilation after I pulled the code today:

src/caffe/util/math_functions.cu(163): error: identifier "__hfma2" is undefined
src/caffe/util/math_functions.cu(184): error: identifier "__hfma2" is undefined

I am using CUDA 8

Please help. Thanks.

[2017-08-11 14:55] RSly opened #398 "pre trained weights from nv-caffe 0.16?"
Hi,

I wonder if the pre-trained weights (eg. imagenet) from nv-caffe 0.16 implementations of models in
https://github.com/NVIDIA/caffe/tree/caffe-0.16/models
are available somewhere?

**I am especially intrested in inception v3 and resnet**

thanks

[2017-08-11 15:29] drnikolaev commented on #397
@mathmanu is this make or CMake?

[2017-08-11 15:30] mathmanu commented on #397
I am using make.

[2017-08-11 17:00] drnikolaev commented on #397
Builds fine with CUDA 8.0.86. Could you run `nvcc --version` and paste the output here?

[2017-08-11 17:01] mathmanu commented on #397
The output is this:

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2016 NVIDIA Corporation
Built on Tue_Jan_10_13:22:03_CST_2017
Cuda compilation tools, release 8.0, V8.0.61

Thanks,

[2017-08-11 17:04] drnikolaev commented on #397
Ah, got it. Fix is coming soon. Thanks for reporting!

[2017-08-11 20:38] drnikolaev commented on #398
Hi @RSly , no plans to do this, sorry.

[2017-08-11 23:09] drnikolaev commented on #397
@mathmanu , done. Please verify.

[2017-08-11 23:09] #397 closed, assigned to nobody

[2017-08-14 03:52] buptlion opened #401 "Batch normalization seems not work in "FLOAT16" mode"
Hi,
we are training "resnet-101" on dgx-1 with nvidia-dokcer image "nvcr.io/nvidia/caffe:17.07", it works well with net parameter:
[code]
but get errors when its setting change to:
[code]
The errors are shown as following:

thanks for checking this issue or pointing out our mistakes!

[2017-08-14 04:03] mathmanu commented on #397
@drnikolaev I just verified that the compilation error is fixed. Thank you.

[2017-08-14 04:09] buptlion commented on #401
the prototxt files and scripts we use are attached here:
[res-101.zip](https://github.com/NVIDIA/caffe/files/1221255/res-101.zip)

[2017-08-14 04:30] drnikolaev commented on #401
Hi @buptlion thank you for reporting this. We already discovered and fixed this issue:
https://github.com/NVIDIA/caffe/pull/383/commits/3d02ab91c72e8cd75fe59709d4535be6dfe5ce01#diff-355522b16af9f9d14aefc15460d452a3R156
Please update to 17.08 (coming soon) and verify.

[2017-08-14 05:23] buptlion commented on #401
@drnikolaev thank you very much

[2017-08-14 11:15] RSly commented on #398
uh! we love caffe 0.16 and its models! :)
/cc @lukeyeager @gheinrich maybe these models are good candidates for the Model Store?

[2017-08-14 15:26] paninian opened #402 "Caffe 0.16 Compilation Error [blocking_queue.cpp] with USE_NCCL:=1 flag. NCCL v1.3.4-1"
###
I can confirm NCCL 1.3.4 is successfully compiled and has nccl.h file under /usr/local/library/ and
has other dependend files in /usr/local/lib.
--------------------------------------------------------------------------------------
libnccl-dev/now 1.3.4-1+cuda8.0 amd64 [installed,upgradable to: 2.0.4-1+cuda8.0]
libnccl1/now 1.3.4-1+cuda8.0 amd64 [installed,local]
------------------------------

[2017-08-14 16:56] paninian commented on #402
We are working on the AWS G3 Large Instance with Tesla M60 - Ubuntu 16.04

[2017-08-14 17:47] drnikolaev commented on #402
@paninian 1.3.4 is old, we strongly recommend 2.0.4: https://developer.nvidia.com/nccl
We agree that it must compile with 1.3.4 though and we'll fix it.

[2017-08-14 20:17] drnikolaev commented on #394
Hi @shuyu0815 we changed implementation so that if `scale_bias: true` then we have 2 extra blobs (thus total is 3+2=5). Please re-train in NVCaffe 0.16, this is the only way.

[2017-08-14 20:17] #394 closed, assigned to nobody

[2017-08-15 22:11] drnikolaev commented on #402
Hi @paninian I can't reproduce this. Looks like the problem is here:

That header is not supposed to be in `/usr/local/library/`. It should be in `/usr/include`. Please try to install NCCL from `deb` package (better 2.0.4 release). In case you need to build it from sources, try to execute `sudo make install`.

[2017-08-16 12:19] shuyu0815 commented on #385
Pull the latest means reboot the nvcaffe0.16 ?
Thanks !

[2017-08-16 14:40] RSly opened #404 "uncoherent pooling and conv behaviours"
Hi,

It has been known for some time that caffe pooling and conv layers should be changed to behave the same way.
see here:
https://github.com/BVLC/caffe/issues/1318

so I am not sure regarding the status of this in nv-caffe
tnx

[2017-08-16 18:12] drnikolaev commented on #385
`git pull` to update the code

[2017-08-17 11:58] mathmanu commented on #386
It will be quite helpful if the cases with large number of groups can be accelerated. Currently its too slow. I haven't completed the training, so I don't know if there is any accuracy issue.

Here is an example of mobilenet1.0:
[imagenet_mobilenet1x0_2017-08-17_14-27-05_v1.zip](https://github.com/NVIDIA/caffe/files/1231137/imagenet_mobilenet1x0_2017-08-17_14-27-05_v1.zip)

Since it takes too much

[2017-08-17 14:22] wiany11 opened #405 "examples/kitti/detectnet_train.sh Aborted (core dumped)"
If I do

$ cd ~/caffe
$ examples/kitti/detectnet_train.sh

I got `Aborted (core dumped)`.

Why is it aborted?

Should I pass additional parameters to the script?

[2017-08-17 17:15] drnikolaev commented on #386
Hi @mathmanu yes, it's my current project. And thanks for the model example!

[2017-08-17 21:21] drnikolaev commented on #405
Hi @wiany11 could you attach complete log please?

[2017-08-18 00:45] CFAndy commented on #386
So far I can not make sure it's a bug of NVCaffe or issue caused by float-point behaviour difference introduced by NVCaffe optimization.
One case I have now is for a same set of hyper parameters and topology, I can converge with bvlc caffe but failed for nvcaffe. I tried "1,-1,-1" to avoid issue from cuDNN.  The model is related to center_loss and face recog. I can repeat the issue constantly.
I08

[2017-08-18 03:03] wiany11 commented on #405
`nvidia@tegra-ubuntu:~/caffe$ ./examples/kitti/detectnet_train.sh
I0818 02:58:45.229274 19464 upgrade_proto.cpp:1044] Attempting to upgrade input file specified using deprecated 'solver_type' field (enum)': examples/kitti/detectnet_solver.prototxt
I0818 02:58:45.229799 19464 upgrade_proto.cpp:1051] Successfully upgraded file specified using deprecated 'solver_type' field (enum) to 'type' field (st

[2017-08-18 06:02] drnikolaev commented on #386
@ChenFengAndy to run non-cuDNN implementation please set `engine: CAFFE` in every convolution layer. Does it diverge?

[2017-08-18 06:50] RSly commented on #365
slower training with group conv: https://github.com/NVIDIA/caffe/issues/386#issuecomment-323137069

[2017-08-21 03:44] CFAndy commented on #386
@drnikolaev Sergi, it's not a cuDNN issue. BVLC.Caffe use cuDNN and the performance is still useable. The using of engine:Caffe will lost 10x perf.

[2017-08-21 05:16] drnikolaev commented on #386
Got it, thank you. Still working on this. Looks promising so far.

[2017-08-21 13:31] TimoSaemann commented on #367
Hi Nikolaev,
are there any new developments?
Can you foresee the date, when the argmax calculation is implemented on the GPU?
Thanks a lot,
Timo

[2017-08-22 08:18] CFAndy commented on #386
Hi Sergi, it might be an issue introduced start from 0.16. I tested 0.15.13+cuDNNv5 or cuDNNv6 and both fine. But start from the 0.16.1, the training loss issue exists. Shall I open a sperate issue and mark it as a bug? The learning rate is 0.01.

[2017-08-22 15:45] drnikolaev commented on #386
Hi Andy, please open a bug, thank you. Please also attach a model to reproduce this. And what particular dataset you use.

[2017-08-23 02:39] jadedfire opened #406 "faster r-cnn support"
please mark as enhancement request. i was curious if support for faster r-cnn can be added so that digits can support it? i also suspect tensorRT would need updated as well, but that's another story.

[2017-08-23 05:06] mathmanu commented on #386
@drnikolaev I have an interesting observation. If I add a few Crop layers to the mobilenet model, it becomes quite slow - almost 4x slower. I have a multi GPU setup. Is this happening because Crop layers are not CUDNN accelerated and there are overheads in data movement between GPUs? I can't think of any other reason.

[2017-08-23 06:11] CFAndy opened #407 "gradient behaviour changed in 0.16 under FP32 mode"

[2017-08-23 08:26] RSly commented on #386
@mathmanu @drnikolaev , I also confirm the problem with the crop layers.
in an example:
A. with no crop layer, it takes 2hours to train
B. with 4 crop layers it takes 3hours to train

that is 1.5x slower...

[2017-08-23 17:29] drnikolaev commented on #386
@RSly @mathmanu please try this:
[code]

[2017-08-23 17:57] mathmanu commented on #386
Setting that parameter for Crop layer had no impact on speed - its still slow.

[2017-08-23 18:33] drnikolaev commented on #386
@mathmanu actually yes, this setting has nothing to do with CropLayer. Could you please open a request for this? Thank you!

[2017-08-24 02:21] renganxu opened #408 "cuda 9 compilation error"
I am using CUDA 9, CUDNN 7 and NCCL 2.0.4 to compile the latest NV-Caffe (commit  5e106ce3062b65674ff4932f545a6a7f6cfffa93), but it has the following compilation error:

NVCC src/caffe/data_transformer.cu
In file included from /cm/shared/apps/cuda90/toolkit/9.0.103/include/common_functions.h:50:0,
                 from /cm/shared/apps/cuda90/toolkit/9.0.103/include/cuda_runtime.h:115,

[2017-08-24 04:18] mathmanu opened #409 "Adding few crop layers to an existing model makes it much slower"
I have an interesting observation. If I add a few Crop layers to the mobilenet model, it becomes quite slow - more than 3x slower. I have a multi GPU setup. Is this happening because Crop layers are not CUDNN accelerated and there are overheads in data movement between GPUs? I can't think of any other reason.

[2017-08-24 04:20] mathmanu commented on #409
Copying the previous conversation from issue #386
-----------------------------------------------------
mathmanu commented 23 hours ago
@drnikolaev I have an interesting observation. If I add a few Crop layers to the mobilenet model, it becomes quite slow - almost 4x slower. I have a multi GPU setup. Is this happening because Crop layers are not CUDNN accelerated and there are overheads in data mo

[2017-08-24 06:00] cliffwoolley commented on #408
Hi Rengan,

Can you please tell us which host compiler you are using?  GCC?  ICC?
Something else?

Thanks,
Cliff

On Wed, Aug 23, 2017 at 7:21 PM, hfutxrg <notifications@github.com> wrote:

[2017-08-24 06:04] cliffwoolley commented on #408
(Also which version of that host compiler.)

[2017-08-24 14:29] renganxu commented on #408
Hi Cliff,

I compiled NV-Caffe on Centos 7.3 with GCC 4.8.5.

An interesting finding is that after this issue, I also compiled the same NV-Caffe with CUDA 9, CUDNN 7, NCCL 2.0.4 and GCC 5.3.1 on Ubuntu 16.04 and it works.  So is it because of GCC version? I can try a higher version GCC later on Centos and see what will happen.

Regards,
Rengan

[2017-08-24 16:48] cliffwoolley commented on #408
Thanks.  Can you provide the complete build logs in the passing and failing cases, please?

[2017-08-25 02:31] #407 closed, assigned to nobody

[2017-08-25 07:41] drnikolaev commented on #357
@smuelpeng @mathmanu This was reproduced and fixed. Pre-release: https://github.com/drnikolaev/caffe/tree/caffe-0.16
Please verify. Thank you.

[2017-08-25 19:41] drnikolaev commented on #405
You need a dataset in lmdb format

[2017-08-25 19:41] #405 closed, assigned to nobody

[2017-08-26 20:59] drozdvadym commented on #398
at least main models

[2017-08-28 04:56] renganxu commented on #408
Hi @cliffwoolley ,

I found that without CUDNN 7 and NCCL 2.0.4, RHEL/Centos 7.3 still has the same compiling error and Ubuntu 16.04 does not have that error.  I attached the failing case rhel7.3_compile.txt and the passing case ubuntu16.04_compile.txt.

[rhel7.3_compile.txt](https://github.com/NVIDIA/caffe/files/1255141/rhel7.3_compile.txt)
[ubuntu16.04_compile.txt](https://github.com/NVIDIA/caff

[2017-08-28 05:01] cliffwoolley commented on #408
We attempted to reproduce this on our end with a fresh CentOS 7.3
installation and everything checked out fine.

Is there any chance you have multiple CUDA installations on the CentOS
machine and might be picking up a mixture of different versions' headers?

What versions of Boost do you have on the two systems?

Thanks,
Cliff

On Aug 27, 2017 9:56 PM, "hfutxrg" <notifications@github.com> wrote:

[2017-08-28 07:49] mathmanu commented on #357
@drnikolaev I can see that you have added a fix in DataLayer. But the layer that I am using is similar to ImageDataLayer. It derives directly from BasePrefetchingDataLayer

So the fix that you applied doesn't help me - it still hangs.

Shouldn't you be applying the fix to BasePrefetchingDataLayer since DataLayer and ImageDataLayer are derives from this class?

[2017-08-28 08:03] drnikolaev commented on #357
@mathmanu The hang I reproduced was fixed by this commit:

https://github.com/drnikolaev/caffe/commit/232d38b5cd720fb521f48d427aba0c316bc31e2d#diff-8c16c57bbe3538ff698add14cb67a7dd

Seems like there is something else. May I ask you to give me self-contained sample?

[2017-08-28 09:37] mathmanu commented on #357
[scripts_debug_nvcaffe_issue357_v1.zip](https://github.com/NVIDIA/caffe/files/1256157/scripts_debug_nvcaffe_issue357_v1.zip)

Attachment is a self contained example.

1) Unzip the attachment
2) copy the image_label_list_data_layer.cpp and image_label_list_data_layer.hpp into the respective folders in your caffe.
3) build
4) change directory into script_debug folder (of the unzipped attachment)
5)

[2017-08-28 09:49] mathmanu commented on #357
Please correct the path to your caffe.bin in the script
scripts_debug/training/cityscapes5_jsegnet21v2_2017-08-28_14-33-49/initial/run.sh
before running.

[2017-08-28 15:04] renganxu commented on #408
@cliffwoolley We indeed installed both cuda 8 and cuda 9 in our cluster, but we only used cuda 9 to compile NV-Caffe and the header was from cuda 9 based on the compilation log.

The boost version is 1.61.0 in RHEL/Centos 7.3 and 1.58.0 in Ubuntu 16.04.

Since the RHEL was installed by Bright Computing in our cluster, I will try to install a bare-metal Centos 7.3 in a standalone server and let you

[2017-08-29 01:36] drnikolaev commented on #357
Well, the code given is not complete:
[code]
The whole concept of auto_mode_ doesn't make any sense in file-based storage. This is why in my recent fix I added `virtual bool auto_mode();`. Please give it a try, i.e. replace the line
[code]
with the line
[code]

[2017-08-29 02:08] drnikolaev commented on #351
@choosehappy Fixed, you may try it here: https://github.com/drnikolaev/caffe/tree/caffe-0.16
FInal release is coming soon.

[2017-08-29 02:12] drnikolaev commented on #367
Hi @TimoSaemann
I looked through it and I can't estimate the time, sorry. I'll update this post when get some news.

[2017-08-29 02:13] #402 closed, assigned to nobody

[2017-08-29 05:00] mathmanu commented on #357
Sorry - my mistake. The following definition is required in caffe.proto to make the example compile.
message Slice {
  repeated uint32 dim = 1;
  repeated uint32 stride = 2;
  repeated uint32 offset = 3;
}

[2017-08-29 05:04] mathmanu commented on #357
I looked at how you did it in image_data_layer.hpp and I added the same definition for auto_mode in my image_label_list_data_layer.hpp header file as well:
  bool auto_mode() const override {
    return false;
  }

Now I can remove the overriding function InternalThreadEntryN() from my image_label_list_data_layer class. (That function was only added only to take care of this auto_mode issue by ove

[2017-08-29 06:26] drnikolaev commented on #398
@RSly @drozdvadym what would be the top 5 for you?

[2017-08-29 08:58] omaralvarez commented on #408
I am having this same issue on Ubuntu 17.04 (GCC 6.3.0, CUDA 9, CUDNN 7):

[code]

Config options:

[code]

[2017-08-29 16:19] RSly commented on #398
I vote for these :)
* Inception V4 and V3
* ResNets (50 / 101 / 152)
* RCNN (best would be Mask rcnn)

[2017-08-29 21:11] renganxu commented on #408
Hi @cliffwoolley, thanks for your reminder about the boost version. Just let you know that the error disappeared when I used boost 1.58.0 (the same version as in Ubuntu) in bare metal RHEL/Centos 7.3. So it seems NV-Caffe has some restrictions on boost library version if CUDA 9 is used.

@omaralvarez, you can also try a lower boost library version to see whether it works or not.

Regards,
Rengan

[2017-08-30 09:42] omaralvarez commented on #408
Indeed, this is boost related:

https://svn.boost.org/trac10/ticket/13152#no2

But in the previous RC was working fine, a variable should not be removed, it should be first deprecated and then removed.

[2017-08-30 12:32] drozdvadym commented on #398
If we should choose from list https://github.com/NVIDIA/caffe/tree/caffe-0.16/models then:

* inception_v3
* resnet18
*  resnet50
* alexnet_bn
* bvlc_reference_rcnn_ilsvrc13

[2017-08-31 15:27] drnikolaev commented on #408
@omaralvarez Similar issue in BOOST was fixed by adding
https://github.com/NVIDIA/caffe/blob/caffe-0.16/include/caffe/common.hpp#L10
Most probably, you need to do something like that.

[2017-08-31 15:27] #408 closed, assigned to nobody

[2017-09-01 02:10] Bidski opened #411 "Segmentation fault trying to import Python layer"
I have a modified version of the detectnet network that I am attempting to train, but when caffe tries to import the `caffe.layers.detectnet.clustering` Python module I get a segmentation fault. Here is an excerpt from the caffe output.

I made a quick C++ source file to try and load in the Python module using boost and this works successfully. Here is the source code for this program

    #includ

[2017-09-01 02:21] drnikolaev commented on #411
@Bidski thank you. Looks like not Caffe but LAPACK routine `dgetrf` executed under NumPy:
[code]
Could you try to print something from every member function of `clustering`? Also, Python 3 might do better job here.

[2017-09-01 04:05] Bidski commented on #411
@drnikolaev I have added print statements as you suggested, but none of them are getting printed to the console. Has caffe/boost done something to suppress the output or are they just not getting called?

[2017-09-01 23:05] drnikolaev commented on #411
They are just not called. Any way to try this on Ubuntu? Also, how do you build everything? Could you paste all commands you invoke and their outputs?

[2017-09-01 23:07] drnikolaev commented on #357
Excellent!

[2017-09-01 23:07] #357 closed, assigned to nobody

[2017-09-03 19:56] drnikolaev commented on #351
Fixed in 0.16.4

[2017-09-03 19:56] #351 closed, assigned to nobody

[2017-09-03 19:59] drnikolaev commented on #386
@CFAndy Supported since 0.16.4.
Andy, as of divergence you reported, I did try it and got it diverged in 0.15.13 as well. However, please try 0.16.4 - it has few accuracy related fixes

[2017-09-03 23:20] Bidski commented on #411
I pulled the caffe branch again. I am now running caffe 0.16.4.

This is a little difficult. I should be able to get access to a Jetson TX2, I will try on there as soon as I can, but apart from that I have no other Ubuntu machines that I have access to.

I assume you mean "How do I build caffe?" If so, I use cmake + ninja. The commands I execute are
1. `mkdir build && cd build`
1. `cmake .. -G Nin

[2017-09-04 03:15] Bidski commented on #411
Just ran it on the Jetson TX2, the layer loads fine and training starts (and the print statements that I added print out as well).

I shall look into my OpenBLAS installation and see if I can find anything interesting there

[2017-09-04 03:48] Bidski commented on #411
OK, I believe I have resolved this issue now.

For those who have a similar problem I did the following:
        **Note:** These instructions are specific to Arch Linux
1. Remove `cblas`, `blas`, or any other packages that provide blas functionality (the `openblas-lapack` install procedure will complain about any conflicting packages)
1. Remove `python2-numpy` and any of its dependencies (specific

[2017-09-04 03:48] #411 closed, assigned to nobody

[2017-09-05 05:25] mathmanu commented on #386
@drnikolaev looks like the CUDNN_GROUPING is only supported from cudnn7.0.2 on wards:

in include/caffe/layers/cudnn_conv_layer.hpp:
#if CUDNN_VERSION_MIN(7, 0, 2)
  #define CUDNN_GROUPING
#endif

However I can see only cudnn version 7.0.1 in the cudnn website. Is 7.0.2 going to be released soon?

[2017-09-05 06:15] drnikolaev commented on #386
Correct. Also, please note this:
https://github.com/NVIDIA/caffe/blob/caffe-0.16/include/caffe/layers/cudnn_conv_layer.hpp#L176-L183

[2017-09-05 10:16] mathmanu commented on #386
Waiting for CUDNN 7.0.2 to be available to try this out.

[2017-09-06 17:52] anilsathyan7 opened #412 "Caffe Import Error: ../ caffe/_caffe.so: undefined symbol: _ZN5caffe10PyErrFatalEv"
I'am facing an caffe import error problem similar to
"ImportError:caffe.so: undefined symbol: _ZN5caffe4mtx_E #3834"
(https://github.com/BVLC/caffe/issues/3834)
i.e
Caffe Import Error: ../ caffe/_caffe.so: undefined symbol: _ZN5caffe10PyErrFatalEv

I have tried Uncommenting the line:
WITH_PYTHON_LAYER := 1 and recompiled everything..
Still the problem persists.

Using CUDA 8,,NVIDIA Caffe 0.16,Ope

[2017-09-07 19:32] agnat opened #414 "Linux specific code in data_reader.cpp"
caca97af29750a8f8928beffa96028235933c0f9 introduces linux specific code unconditionally. In particular [`DataReader::DataCache::check_memory()`](https://github.com/NVIDIA/caffe/blob/cdb3d9a5d46774a3be3cc4c4ecc0bcd760901cc1/src/caffe/data_reader.cpp#L175-L226) in `data_reader.cpp` looks rather linux specific.

On Mac OS I see the following issues:

1. Checking swap memory does not apply since swap

[2017-09-07 20:45] #401 closed, assigned to nobody

[2017-09-08 04:24] yxliu-ntu opened #415 "It seems that the pre-trained model from nvidia-caffe can't be used in BVLC-caffe directly?"
We have pre-trained a res-50 model in nvidia-caffe for our SSD. But when loading the pretrained weights, it failed as below:
[code]

[2017-09-08 17:19] drnikolaev commented on #415
Hi @Mithril-NTU
When you train in NVCaffe, please do
[code]
in your solver's prototxt

[2017-09-08 20:32] smarttowel opened #417 "CUBLAS_STATUS_MAPPING_ERROR when train segmentation model"
https://github.com/NVIDIA/DIGITS/issues/1817

I try to train image segmentation neural network on my own dataset. My dataset contains only 1 class (and background, of course).
I change num_outputs from 21 to 2 in score_fr and upscore layers, also I change group=2. After that I rename score_fr to score_fr_ and upscore to upscore_.
When I try to train my network I see "ERROR: Check failed: status ==

[2017-09-08 20:44] drnikolaev commented on #417
Hi @smarttowel , could you attach complete NVCaffe log please?

[2017-09-09 10:18] smarttowel commented on #417
[caffe_output.log](https://github.com/NVIDIA/caffe/files/1289692/caffe_output.log.txt)

[2017-09-09 22:21] drnikolaev commented on #412
Hi @anilsathyan7 please paste here what commands do you run when you rebuild everything and what output they produce. Thank you.

[2017-09-10 06:55] anilsathyan7 commented on #412
As mentioned earlier, i have followed the github link for installation reference and after changing the WITH_PYTHON_LAYER := 1 , i ran

make all
make test
make runtest
make pycaffe      -should be finished already, so you can omit this one
make distribute
(as in instructions...)

Output in python ...

$import caffe
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/h

[2017-09-11 03:37] yxliu-ntu commented on #415
Thank you very much!

[2017-09-11 03:37] #415 closed, assigned to nobody

[2017-09-11 08:29] drnikolaev commented on #412
Thank you @anilsathyan7  Let me keep it open so far. Also, as a first step, please run
[code]
Sometimes it helps.

[2017-09-11 12:36] anilsathyan7 commented on #412
It did not work.Problem still persists ...

[2017-09-14 02:46] mathmanu commented on #386
@drnikolaev Is it possible to integrate this CUDNN_GROUPING mode for deconvolution as well? Doing channel wise separate deconvolution is a useful feature - typically used for upsampling.

[2017-09-14 02:54] mathmanu commented on #386
@drnikolaev Looking through the code, I found that CUDNN layer itself is missing for deconvolution. That might be an opportunity for enhancement.
Especially useful, since deconvolution layers are becoming increasingly popular these days - due to its use in full frame algorithms such as segmentation.

[2017-09-14 17:48] awan-10 opened #418 "cublasDestroy_v2 error in finalize"
I am trying to try out the latest version of NV-Caffe-0.16.4. (150109efec9631a4a2d02fbb2656c762bbbdf8fb) and I see the following error at the end of a training run.

My run command is as follows.
```./build/tools/caffe time -model examples/cifar10/cifar10_quick_train_test.prototxt -gpu 0```

I also tried with train but the same issue shows up at the end.

```./build/tools/caffe train -solver examp

[2017-09-15 02:26] RSly commented on #386
upvote for deconv layer!!

[2017-09-15 03:02] RSly commented on #386
fyi
https://github.com/BVLC/caffe/pull/5924

[2017-09-18 12:39] mathmanu opened #419 "The first GPU takes much more memory when dilated convolution is used"
When I use dilated convolution, the GPU 0 takes much more memory than the others. This limits my batch size and I am forced to use a lower batch size. I am using 3 GPUs.

The run time is also higher. I believe dilated convolutions are not paralleled across multiple GPUs and is constrained to one GPU.

The behavior is same when using CUDNN6 and CUDNN7. This is nv caffe version 0.16.4.

Thanks.

[2017-09-18 13:02] mathmanu commented on #419
Even if I set engine:CAFFE for these dilated convolution layers, the issue is still there. So looks like it is not specific to CUDNN.

[2017-09-18 18:44] drnikolaev commented on #419
Hi @mathmanu thanks. Interesting. May I have your model attached here to reproduce it?

[2017-09-18 18:58] drnikolaev commented on #386
Agreed. Reopened for visibility.

[2017-09-18 19:23] mathmanu commented on #419
I use some custom layers, so it won't work for you as it is. Kindly give me some time to make a working example for you.

I thought CUDNN supports dilated convolution since version 6. But CUDNN convolution is used only if there is no dilation. Below snippet is taken from layer_factory.cpp

  if (engine == ConvolutionParameter_Engine_DEFAULT) {
    engine = ConvolutionParameter_Engine_CAFFE;
#ifdef

[2017-09-20 23:12] renganxu opened #420 "How to use V100 Tensor cores?"
The NV-Caffe resnet50 model directory has the solver file for FP16. Now I want to know when running FP16 on V100, does it automatically use Tensor cores? Because P100 can also run FP16 solver but uses CUDA cores. So when V100 runs FP16 solver, does it use CUDA cores or Tensor cores? If it does not use Tensor cores by default, how to enable it?

Thanks,
Rengan

[2017-09-21 06:18] drnikolaev commented on #420
Hi @hfutxrg
Yes, it does. However, to get the top speed please use this parameter in your solver:
[code]
and these ones in your net:
[code]

[2017-09-21 18:52] renganxu commented on #420
Hi @drnikolaev,

Thanks for your reply. I have some other questions:
1. The original solver did not have "solver_data_type: FLOAT16", and the net file was using:
``default_forward_type:  FLOAT16``
``default_backward_type: FLOAT16``
``default_forward_math:  FLOAT``
``default_backward_math: FLOAT``

Does this mean it is using mixed precision training?

2. Generally how to use Tensor cores? Is it han

[2017-09-21 21:08] borisgin commented on #420
For GV-100  to use TensorOps set following setting:
     default_forward_type:   FLOAT16
     default_backward_type: FLOAT16
     global_grad_scale: 1000.   # this is needed for good accuracy

Caffe chooses the fastest cudnn implementation and prints which algorithm is choosen in the log. If a;gorithm use TensorOp it will be marked as T ( e.g. 1T)

There is a detailed tutorial on mixed precision t

[2017-09-21 23:26] renganxu commented on #420
Hi @borisgin , I have read through your presentation slides. Your setting is for mixed training with FP32 master weight while @drnikolaev 's setting is for FP16 training with FP16 master weight, right?  Can you verify that I understand the following parameters correctly:
"default_forward_type" and "default_backward_type" are used for "training values storage"
"default_forward_math" and "default_ba

[2017-09-22 00:01] borisgin commented on #420
"default_forward_type" and "default_backward_type" are used for "training values storage"
"default_forward_math" and "default_backward_math" are used for "matrix-mul accumulator"
"solver_data_type" is used for master weight storage?
RIGHT,

Master weights:  weights used for update. In caffe each GPU does Forward-Backward iteration with the same weights (except BN global mean and variance).  After

[2017-09-22 14:40] RSly opened #421 "recent solver parameters"
hi
I am interested to use different learning schemes with nv-caffe.
I could see these parameters that may help:

local_lr_auto: true
rampup_lr: 0.001
rampup_interval: 10000

I don't find any documentations, could you shed some lights to this?
thanks

[2017-09-26 18:15] micachen opened #422 "cifar10 example stalls when training on more than 1 P100 GPU."
We're in a dockerized environment.
When training on 1, 2, 3, or 4 M40 GPU's cifar10 quick successfully completes in seconds
When training on 1 P100 GPU cifar10 quick also successfully completes.
When training on more than 1 P100, cifar10 will get stuck on the first iteration.
The same behavior happens on multiple boxes, each has 4 X P100 GPU's.  the boxes with 4 X M40 GPU's are fine.

We've tested

[2017-09-26 22:07] drnikolaev commented on #422
Hi @micachen thanks for reporting. What NCCL version do you have installed?

[2017-09-26 22:12] micachen commented on #422
I am doing a git clone of https://github.com/NVIDIA/nccl.git and building that right before building caffe.  It should be the latest version.

[2017-09-26 22:21] drnikolaev commented on #422
readme on that page says:
[code]
Could you try NCCL2 please?

[2017-09-27 20:11] micachen commented on #422
I spent yesterday downloading and rebuilding the docker image with NCCL2, today I ran the same test again, 1 P100 passes, 2 or more P100 fails on the same line.  I put debug statements inside the P2PSync::on_start in parallel.cpp

[code]

the code would print mcc debug 1 for each thread, and that is it.

[2017-10-02 09:36] Wronskia opened #423 "AlexNet issue Batch Normalization fc6/bn"
Hello,

I am trying to finetune AlexNet. I get the following error which i don't get when running the same process in caffe :

I0929 15:28:49.480206 19322 net.cpp:184] Created Layer fc6/bn (22)
I0929 15:28:49.480216 19322 net.cpp:561] fc6/bn <- fc6
I0929 15:28:49.480231 19322 net.cpp:530] fc6/bn -> fc6/bn
F0929 15:28:49.480550 19322 blob.hpp:252] Check failed: axis_index < num_axes() (2 vs. 2) axi

[2017-10-02 17:34] drnikolaev commented on #423
hi @Wronskia
AlexNet with BN? Are you using https://github.com/NVIDIA/caffe/tree/caffe-0.16/models/alexnet_bn ?

[2017-10-03 06:34] Wronskia commented on #423
Hello @drnikolaev

Actually, I am using this one : https://github.com/cvjena/cnn-models/blob/master/AlexNet_cvgj/train.prototxt

Thank you,
Best

[2017-10-03 06:48] drnikolaev commented on #418
Hi @awan-10
thank you for reporting this issue. Could you verify the fix in my staging branch?
https://github.com/drnikolaev/caffe/tree/caffe-0.16

[2017-10-03 06:51] drnikolaev commented on #417
Hi @smarttowel
I couldn't reproduce this but I had similar issues which are now fixed in staging branch:
https://github.com/drnikolaev/caffe/tree/caffe-0.16
Could you be so kind to verify it?

[2017-10-03 06:53] drnikolaev commented on #412
Hi @anilsathyan7
reproduced and fixed. So far the fix is in my staging branch:
https://github.com/drnikolaev/caffe/tree/caffe-0.16
You are welcome to verify it.

[2017-10-03 21:54] awan-10 commented on #418
Hi @drnikolaev

Do I need to clone like this?
``` git clone https://github.com/drnikolaev/caffe.git ```

I did so and tried to build it. The build failed for me with this:
``` src/caffe/util/io.cpp:9:23: fatal error: turbojpeg.h: No such file or directory ```

[2017-10-04 02:48] drnikolaev commented on #418
Yes, please clone and also install new dependency:
[code]
Second line fixes packaging bug in `liblurbojpeg`

[2017-10-04 03:27] awan-10 commented on #418
Okay, I am on CentOS but I was able to install turbojpeg through yum.

I still get the same error

[code]

[2017-10-05 04:05] drnikolaev commented on #418
@awan-10 thank you for the help. One spot was missing and now it's fixed too. Could you do `git pull` and try one more time please?

[2017-10-05 15:48] awan-10 commented on #418
No problem. With the latest one, I see a different error now:

[code]

[2017-10-06 20:20] mathmanu opened #425 "Frequent crashes when training a model with large number of groups."
In the configuration that I am trying to train, there are a large number groups - in fact every group has a size of 4. I am observing frequent crashes. The iteration of crash is not fixed .The training abruptly stops without any warning or error.

The behavior is same with CUDNN6 and CUDNN7. The crash occurs even if I set:
default_cnv_algos_override: "1,1,1"

This lead me to believe that this coul

[2017-10-07 17:28] mathmanu commented on #419
My model won't work in NVIDIA/caffe as it uses several custom layers. Also this issue is not seen in a classification scenario which doesn't use those custom layers. Closing this for now as I am not able to give a simple test case to debug this scenario. Shall reopen this if I come across this issue in a scenario that doesn't use those custom layers. Thanks.

[2017-10-07 17:28] #419 closed, assigned to nobody

[2017-10-07 19:45] szm-R commented on #276
Hi, @borisgin did you merged your batch norm layer with nvcaffe? because I can't still use models trained with bvlc on NV and it's really annoying :(

[2017-10-07 20:29] borisgin commented on #276
Yes, it merged, Can you send a link on the Model which you use, please?

[2017-10-08 07:47] szm-R commented on #276
The version of NVcaffe I'm using is 0.15.14 and [this](https://github.com/lim0606/caffe-googlenet-bn) is one of the models I've tested which results in this error:
F1008 11:16:40.578579  5197 net.cpp:797] Check failed: target_blobs.size() == source_layer.blobs_size() (5 vs. 3) Incompatible number of blobs for layer conv1/7x7_s2/bn

[2017-10-08 17:16] mathmanu commented on #425
@drnikolaev wonder if you could look into this issue quickly. I get a crash in approximately about 30,000 iterations - sometimes less, sometimes more. Thanks.

[2017-10-08 20:37] borisgin commented on #276
This is very old  branch. Did you try the latest branch (caffe-0.16)?

On Sun, Oct 8, 2017 at 12:47 AM, szm2015 <notifications@github.com> wrote:

[2017-10-09 03:16] Agoniii commented on #371
@drnikolaev  Sorry for Late reply, I compiled successfully when I updated my gcc to 4.8.5. Thanks very much.

[2017-10-09 09:10] drnikolaev commented on #425
Hi @mathmanu while I'm looking to this, could you try my staging branch please? https://github.com/drnikolaev/caffe/tree/caffe-0.16
Also, logs in the zip appear to be truncated, no crash call stack in them.

[2017-10-09 09:12] mathmanu commented on #425
Sure I'll try that and let you know. The logs are as it is generated - there is no call stack generated - it just crashes silently.

[2017-10-09 09:21] zxx001 commented on #412
@drnikolaev hi,I meet the same problems as @anilsathyan7 ,and I still don't understand how to solve it ,can you help me ?thank you.

[2017-10-09 09:39] drnikolaev commented on #412
Hi @anilsathyan7 @zxx001
It's reproduced and fixed, new release is coming soon. You are welcome to try it here:
https://github.com/drnikolaev/caffe/tree/caffe-0.16

[2017-10-09 09:55] szm-R commented on #276
Well the first and most important reason I'm using this branch is that according to [BuildCaffe.md](https://github.com/NVIDIA/DIGITS/blob/master/docs/BuildCaffe.md) DIGITS is currently compatible with Caffe 0.15 and as I use DIGITS it seems like I don't have any other choice (do I?). The second reason is that I have also tried to build NVcaffe 0.16.4, but it gives me this error:

/usr/include/c++/

[2017-10-09 10:03] anilsathyan7 commented on #412
@zxx001 hi, an easy way is to use docker images..Instead!!
https://hub.docker.com/r/nvidia/caffe/
https://hub.docker.com/r/bvlc/caffe/
https://hub.docker.com/r/nvidia/digits/

I had actually spent couple of weeks for installation (previously.. due to compatibility and dependency issues) and configuration during my initial trial..

If you **just** want to get things done..docker is the easiest way

[2017-10-09 10:08] drnikolaev commented on #276
Hi @szm2015 - what Ubuntu and what GCC do you use? What particular command do you run to build NVCaffe?

[2017-10-09 12:47] szm-R commented on #276
I'm using Ubuntu 16.04.3 LTS and gcc 5.4 and after cloning the NVcaffe I use the following commands to build it:
       mkdir build && cd build
       cmake ..
       make

Here's the build summary:

-- ******************* Caffe Configuration Summary *******************
-- General:
--   Version           :   0.16.4
--   Git               :   v0.16.4-2-gcdb3d9a
--   System            :   Linux
--

[2017-10-09 14:14] cliffwoolley commented on #276
DIGITS 5 and 6 do work with NVCaffe 0.16, FWIW.  Sounds like that document
needs updating.

On Oct 9, 2017 5:47 AM, "szm2015" <notifications@github.com> wrote:

I'm using Ubuntu 16.04.3 LTS and gcc 5.4 and after cloning the NVcaffe I
use the following commands to build it:
mkdir build && cd build
cmake ..
make

Here's the build summary:
-- ******************* Caffe Configuration Summary **********

[2017-10-09 17:19] mathmanu commented on #425
While trying to compile https://github.com/drnikolaev/caffe/tree/caffe-0.16, I get the following compilation error.

CXX src/caffe/data_transformer2.cpp
src/caffe/data_transformer2.cpp:23:6: error: prototype for \u2018void caffe::DataTransformer<Dtype>::TransformGPU(const caffe::TBlob<Dtype>*, caffe::TBlob<Dtype>*, const std::array<unsigned int, 3ul>&, bool)\u2019 does not match any in class \u201

[2017-10-09 17:35] mathmanu commented on #425
I am able to build https://github.com/drnikolaev/caffe/tree/caffe-0.16. Will be trying out now.

More information:
Initially I got the following link error:
/usr/bin/ld: /usr/lib/gcc/x86_64-linux-gnu/4.8/../../../x86_64-linux-gnu/libturbojpeg.a(libturbojpeg_la-turbojpeg.o): relocation R_X86_64_32 against `.data' can not be used when making a shared object; recompile with -fPIC
/usr/lib/gcc/x86_64-

[2017-10-09 17:56] mathmanu commented on #425
As the training started, I observed that drnikolaev/caffe is about 15% faster compared to NVIDIA/caffe. Interesting.

[2017-10-09 18:28] szm-R commented on #276
If it's as @cliffwoolley  says, then I will be really grateful if someone helps me with the problem with NVcaffe 16, Because apart from batch norm layer problem, it's been a couple of days that I have been unable to train an object detection model with DIGITS, the error is the same as the one mentioned in #1833. arthurlobo who has asked the question seems to have been able to resolve it by switchi

[2017-10-09 19:56] drnikolaev commented on #425
Hi @mathmanu yes, I did some performance improvements (including groups support).
As of libturbojpeg, this is known packaging bug, CMake handles it properly, but regular Make can't. Creating missing softlink is the right way.
Are crashes gone?

[2017-10-10 00:12] seanbell opened #426 "Repeatedly calling Solver::Step(1) leads to a memory leak"
If learning step-by-step, calling `solver.step(1)` (from Python) each iteration, there is a GPU memory leak.

I think this is the thread that gets created:
https://github.com/NVIDIA/caffe/blob/caffe-0.16/src/caffe/solver.cpp#L237
and then `Solver::Reduce` calls `Caffe::set_mode` here:
https://github.com/NVIDIA/caffe/blob/caffe-0.16/src/caffe/solver.cpp#L370
which then allocates new memory and new

[2017-10-10 00:16] mathmanu commented on #425
drnikolaev/caffe also crashed. No call stack is dumped. It just silently crashes like NVIDIA/caffe.

[2017-10-10 00:23] seanbell commented on #426
Log output (printing `Caffe::thread_count_` each iteration):

[code]

Every iteration, the NVML struct gets initialized
(https://github.com/NVIDIA/caffe/blob/caffe-0.16/src/caffe/common.cpp#L576) and this is printed:
[code]
The thread ID is the same every iteration, as you can see above.

[2017-10-10 02:41] seanbell commented on #426
Update: I also get a memory leak (gradual increase in GPU usage) with NVML disabled.

[2017-10-10 02:48] seanbell commented on #426
It looks like streams are not cleaned up in `Caffe::~Caffe`?
https://github.com/NVIDIA/caffe/blob/caffe-0.16/src/caffe/common.cpp#L184-L197

[2017-10-10 03:00] seanbell commented on #426
It seems like the leak is inside `all_streams_`.

This is the output when I print the size of `all_streams_` each iteration (calling `step(1)`):
[code]

(NVML is disabled here)

[2017-10-10 04:07] seanbell commented on #426
Simply removing `all_streams_` seems to fix the memory leak, but leads to a different error when deleting the `caffe.Solver` Python instance.  A more nuanced solution is required.

[2017-10-10 04:16] seanbell commented on #426
@drnikolaev, what is the purpose of `all_streams_`?  Right now it seems to just accumulate more and more streams until GPU memory runs out.  Every `step(1)` creates a new thread which allocates new streams (which are never deallocated because of `all_streams_`).

(Sorry for all the comments -- I'm trying to help debug this issue with you)

[2017-10-10 04:23] drnikolaev commented on #276
Hi @szm2015
This error: `/usr/include/c++/5/bits/hashtable.h(1526): error: no instance of overloaded function "std::forward" matches the argument list` - could you paste it along with the rest including the `make` invocation? Also, may I ask you to try CUDA 9?

[2017-10-10 05:11] szm-R commented on #276
Hi @drnikolaev , you mean the whole error? I'm not sure what you mean by the "make invocation". This is the complete error list that stops make:

/usr/include/c++/5/bits/hashtable.h(1526): error: no instance of overloaded function "std::forward" matches the argument list
argument types are: (int)
detected during:
instantiation of "std::pair<std::_Hashtable<_Key, _Value, _Alloc, _ExtractKey, _Equal

[2017-10-10 05:39] szm-R commented on #276
Hi everyone,
As the error with building NVcaffe 16 was with cuDNN so I thought that I might try a CPU only version to see how that works. This CPU only version built without an obvious error, but I still can't train an object detection model with it. The error has changed a bit but it's still something about the clustering layer. Here are the last lines of caffe_output.log:

I1010 09:00:52.221909

[2017-10-10 07:15] seanbell commented on #426
I believe I fixed the memory leak -- see https://github.com/NVIDIA/caffe/pull/427

For NVML, I've just disabled it for now with `NO_NVML`.

[2017-10-10 07:37] drnikolaev commented on #276
Let's step back to GPU for a moment... :) I see the problem. Fix is coming soon.

[2017-10-10 08:07] seanbell opened #428 "BilinearFiller: fix from BVLC/caffe"
A fix for BilinearFiller was recently merged into BVLC/caffe:
See https://github.com/BVLC/caffe/pull/5713
See https://github.com/BVLC/caffe/commit/ef2eb4b9369e4c0db5cfc92cc9c8e4d4497d421e

[2017-10-10 08:42] drnikolaev commented on #276
@szm2015
This is a branch to verify the fix: https://github.com/drnikolaev/caffe/tree/caffe-0.16

[2017-10-10 08:49] drnikolaev commented on #425
Could you run `ldd` against your `caffe.so` please?

[2017-10-10 08:54] drnikolaev commented on #426
Hi @seanbell thank you. I did it too :) https://github.com/drnikolaev/caffe/tree/caffe-0.16
Could you do me a favor and check that branch?

[2017-10-10 08:59] mathmanu commented on #425
Attached the ldd outputs after running:
ldd libcaffe-nv.so

[NVIDIA_caffe_ldd(libcaffe-nv.so).txt](https://github.com/NVIDIA/caffe/files/1371203/NVIDIA_caffe_ldd.libcaffe-nv.so.txt)
[drnikolaev_caffe_ldd(libcaffe-nv.so).txt](https://github.com/NVIDIA/caffe/files/1371205/drnikolaev_caffe_ldd.libcaffe-nv.so.txt)

[2017-10-10 22:24] seanbell commented on #426
Hi @drnikolaev, I haven't directly tested your branch, but visually inspecting it, it looks like your solution should also work.  When do you think it will be merged into `NVIDIA/caffe`?

[2017-10-11 06:16] drnikolaev commented on #425
Well, our lists are pretty much different (see mine below). Is there any way to upgrade to boost 1.58 and CUDA 9?

[code]

[2017-10-11 13:42] mathmanu commented on #425
I am using Ubuntu 14.04. In the CUDA Toolkit download page, I don't see an option for Ubuntu 14.04. Until CUDA8, Ubuntu 14.04 was supported. Do you know any work around?

[2017-10-11 14:38] smarttowel commented on #417
Fixed
nvcaffe 0.16.4 not have this bug

[2017-10-11 14:38] #417 closed, assigned to nobody

[2017-10-11 18:02] kanakiyab opened #429 "Compilation error with OpenCV 3.3.0"
Hello,

I am currently installing the NVIDIA Caffe on Jetson TX2. I have built OpenCV 3.3.0 from source and not using OpenCV4Tegra because of the availability of CUDA optimizations in 3.3.

In the `Makefile.config` I have uncommented the line for OpenCV 3. However, I get the following error message when I compile using Make.

![error](https://user-images.githubusercontent.com/31668000/31458258-697

[2017-10-11 19:28] kanakiyab commented on #429
My OpenCV include dir was screwed up because of the installation of libopencv* using apt-get as one of the prerequisites in the steps I was following from Multimedia API.

[2017-10-11 19:28] #429 closed, assigned to nobody

[2017-10-11 22:02] vdel opened #430 "Caffe compiled with GPU support does not run on host without drivers"
When compiling Caffe with GPU support, it cannot be run on a host without drivers.

For example, running the latest nvidia/caffe docker image with docker (i.e. **without** accessible drivers) and running a `caffe time ...` command leads to:

[code]

Typically packaging an application that uses caffe in a Docker image is not straightforward. It involves distributing a CPU-only docker image or a GPU

[2017-10-12 06:00] mathmanu commented on #425
One observation, there is no crash if I set MAX_PARALLEL_GROUPS to 1. But then its slightly slower (about 10% or so).
  static constexpr int MAX_PARALLEL_GROUPS = 1; //2;

Does this give any clue?

[2017-10-12 08:11] drnikolaev commented on #425
@mathmanu thanks!
I'm using 14.04 with CUDA 9 perfectly fine.

Your new model worked ok until I started training in 16 bit mode. It crashed right away because of misaligned address. It means that 32-bit mode is most probably corrupted too. I'm working on the fix...

[2017-10-12 09:11] mathmanu commented on #425
I have attached a picture of the latest CUDA download page. There is no link for Ubuntu14.04 currently.

<img width="822" alt="cuda9_download_page" src="https://user-images.githubusercontent.com/2990503/31488393-2207caa4-af5b-11e7-81da-c95a7bf21953.png">

Kindly let me know where to download CUDA9 for 14.04.

[2017-10-13 05:38] mathmanu commented on #425
I got reply that CUDA 9 is not supported on Ubuntu 14.04
https://devtalk.nvidia.com/default/topic/1025050/cuda-setup-and-installation/is-cuda-9-available-for-ubuntu-14-04-for-x86_64-platform-/

I wonder how you managed to install it. Did you install the 16.04 deb file in 14.04 (it works some times) or is it a 14.04 installer that is not publicly released?

[2017-10-13 05:44] drnikolaev commented on #425
hi @mathmanu I simply took the package and install it on my own risk. But seems like you can stay with 8.0. The corruption mentioned above has been fixed. Could you try it please?

[2017-10-13 05:45] mathmanu commented on #425
Is it in drnikolaev/caffe?

[2017-10-13 06:12] drnikolaev commented on #425
yep

[2017-10-13 08:41] mathmanu commented on #425
@drnikolaev Tried it. It didn't help. The crash is still there.

[2017-10-13 14:42] drnikolaev commented on #425
When it crashes, do you observe high temperature on your GPUs? Out of host memory? Anything else out of normal values?

[2017-10-13 18:25] szm-R commented on #276
Hi @drnikolaev
I tried to build the Caffe in the link you mentioned but it gives me this error (along with so many others!):

/home/szm/Work/Caffe/nv-caffe_0.16.4_testVersion/src/caffe/layers/cudnn_conv_layer.cpp: In member function ‘void caffe::CuDNNConvolutionLayer<Ftype, Btype>::FindExConvAlgo(const std::vector<caffe::Blob*>&, const std::vector<caffe::Blob*>&)’:
/home/szm/Work/Caffe/nv-caffe_0.

[2017-10-13 19:24] drnikolaev commented on #276
It's already fixed, please pull again

[2017-10-14 18:06] szm-R commented on #276
I did and was able to build it successfully but I have trouble getting it to work. When I try to deploy a model with BVLCcaffe type BN layers (via a cpp code I have written and use for deploying Caffe models) the program crashes when trying to load the model, more specifically at this line:
CNet.reset(new caffe::Net(deploy_file, caffe::TEST));

whereas the same model can run without a problem usin

[2017-10-14 18:29] drnikolaev commented on #276
Hi @szm2015 , crash stack might help here but before getting there please consider adjusting this test to your net:
[code]

[2017-10-15 05:42] szm-R commented on #276
HI @drnikolaev , I tested the code via the following command:

python test_classification.py /home/gpuserver/Moosavi/Test/Models/googlenet_bn_stepsize_6400_iter_1200000/googlenet_bn_stepsize_6400_iter_1200000.caffemodel /home/gpuserver/Moosavi/Test/Models/googlenet_bn_stepsize_6400_iter_1200000/deploy.prototxt /home/gpuserver/Moosavi/Test/Input/ImageNet_val/FullPathFileList.txt --mean_file /home/g

[2017-10-16 00:49] drnikolaev commented on #276
@szm2015
Please add this code to the very beginning of your main.cpp
[code]

As of the python script - you need to adjust it to your model.

[2017-10-16 06:07] szm-R commented on #276
I did and the model is now running without a problem. Thank you!

On Mon, Oct 16, 2017 at 4:19 AM, Sergei Nikolaev <notifications@github.com>
wrote:

[2017-10-16 09:25] mathmanu commented on #425
@drnikolaev This occurs at an unpredictable iteration, so I have not been able to observe the system at the time of crash. However there is one thing - I am connecting to the machine remotely. When this crash occurs, I lose the connection.  When I log back in the program would have crashed. But the system behaves fine after that.

[2017-10-16 10:04] szm-R commented on #276
Well, I tested a little more and there still seems to be two problems. The code runs without crashing but the forward time required to process a 244x244 image is twice the one for the same model and the same image size running on BVLCcaffe. The second and most important problem is that the results are always the same for all of the images, the same top-5 predictions, whereas the one running on BVL

[2017-10-16 13:10] MartinHahner opened #432 "undeterministic behavior with cuDNN and equal random seed"
### When I build caffe with cuDNN (Feb2017 release) I cannot reproduce training results.

Screenshot from DIGITS:
![2017-10-13_15 26 20](https://user-images.githubusercontent.com/14181188/31610034-d79d54c4-b276-11e7-97ad-ca17c549440a.jpg)

All experiments named "_AlexNet Xp_" have the same random seed:
![2017-10-16_13 39 05](https://user-images.githubusercontent.com/14181188/31610194-754b504a-b277

[2017-10-16 15:05] mathmanu commented on #425
CUDA 9 was not installing in my 14.04 and I don't have enough knowledge and confidence to force it through. Hence I updated to the latest CUDA 8 and nvidia-375 with the following.

sudo apt-get purge nvidia*
sudo apt-get autoremove
sudo -E add-apt-repository ppa:graphics-drivers/ppa
sudo apt-get update
sudo apt-get install cuda
#now reboot the machine

I am running the training now, will let you k

[2017-10-16 17:15] drnikolaev commented on #432
Hi @MartinHahner88 thank you. Not all cuDNN implementations of Convolution and Pooling algorithms are deterministic.

[2017-10-16 17:16] drnikolaev commented on #276
May I have your code to try?

[2017-10-16 17:40] MartinHahner commented on #432
Thank you @drnikolaev for your reply.
Do you have a reference to more details about the non-deterministic behaviour of cuDNN
or do you know more details about it by yourself? For example why?

Is there a way to force determinism using cuDNN?

I found significant speed boosts using cuDNN.
I did not measure it, but I would say I roughly had 5x faster training times using cuDNN.

[2017-10-16 18:22] mathmanu commented on #425
@drnikolaev is there some setting or some command to reduce the GPU utilization? Alternately how can I control the max GPU temperature at which the performance throttles? I want to try these if I still get a crash.

[2017-10-16 20:48] drnikolaev commented on #425
Forgot to ask. Could you try to run caffe under `cuda-memcheck`?

[2017-10-16 20:54] drnikolaev commented on #432
The reason why is simple: performance. If you need pure determinism you have to use deterministic algorithms which might be slower. For that you need to tweak your model but I'm not sure that DIGITS supports that.

[2017-10-17 00:55] mathmanu commented on #425
No crash observed after the driver update. But I'll let it run more and see.

Will run cuda-memcheck if I still get a crash.

Thank you.

[2017-10-17 16:47] micachen commented on #422
Wanted to update everyone on the solution:  After engaging with NVIDIA, we discovered that the ASC settings in the bios was incorrect causing P2P communication to hang.  When the bios setting was changed, all the tests works as expected.  We will be closing this as it's not related to code, but BIOS settings.

[2017-10-17 16:47] #422 closed, assigned to nobody

[2017-10-17 17:14] Wronskia opened #433 "Resnet wrong results with Nvidia/caffe"
Hello,

I am trying to reproduce the results of https://github.com/cvjena/cnn-models/tree/master/ResNet_preact/ResNet50_cvgj for resnet50 architecture. However I get poor results on inference  (i.e 0%) while getting the stated results in caffe (Around 74% for the top1 Acc).

do you have an idea from where the problem could arise?

Thank you,
Best

[2017-10-17 18:06] drnikolaev commented on #433
Hi @Wronskia
to answer this question we need at least to see what you do exactly.

[2017-10-18 02:45] mathmanu commented on #425
There was a program hang this time. I also tried running with cuda-memcheck, but even one iteration did not complete even after a long time.

With no other option left, I decided to again try the setting that I mentioned earlier:
**static constexpr int MAX_PARALLEL_GROUPS = 1; //2;**
There is no issue when I do this - there is no crash or hang.

**And surprisingly in drnikolaev/caffe the speed is

[2017-10-18 06:52] Wronskia commented on #433
Hello @drnikolaev,
Sorry for the lack of details.

Here is what I did :
I used the test.prototxt of : https://github.com/cvjena/cnn-models/tree/master/ResNet_preact/ResNet50_cvgj  with the pretrain weights that they provide which are available here : https://drive.google.com/open?id=0B6VgjAr4t_oTTDh2SVJIa2VkZVU

The test.prototxt I am using :  [test.prototxt.docx](https://github.com/NVIDIA/caffe/f

[2017-10-18 07:59] szm-R commented on #276
Hi everyone, sorry for the delay! I attached a modified version of my code (the original one is part of a bigger project written in Qt and has some irrelevant parts).
[CaffeClassifcation.txt](https://github.com/NVIDIA/caffe/files/1393757/CaffeClassifcation.txt)

I build this code using Caffe makefile (by copying the code to tool directory). It's executed by the following command:
./CaffeClassifcat

[2017-10-18 08:13] drnikolaev commented on #276
I'm not sure I follow this. Could you paste output of both runs (bvlc vs nv)?

[2017-10-18 08:59] szm-R commented on #276
Well, this is the BVLCcaffe version of the code (there are some minor differences like declaring a template type for caffe::Net and things like that):
[CaffeClassifcation.txt](https://github.com/NVIDIA/caffe/files/1393987/CaffeClassifcation.txt)

Using the BVLCcaffe code, the output of running googlenet_bn model is this (for 30 first images):
[CaffeClassification_BVLC.txt](https://github.com/NVIDI

[2017-10-19 14:36] Wronskia commented on #433
Hello @drnikolaev ,

I performed inference for a single image using deploy.prototxt given here :  https://github.com/cvjena/cnn-models/tree/master/ResNet_preact/ResNet50_cvgj along with pycaffe.
I then extracted the numpy arrays of each layer after inference on that image and calculated the L2 norm to see the difference between caffe and Nvidia/caffe.

| Layers   |      L2 norm Nvidia/caffe

[2017-10-20 01:04] sergey-serebryakov commented on #420
@drnikolaev, @borisgin
I was going through the source code of NVIDIA Caffe and could not find any function calls that enable tensor core operations. As I understand, due to slightly different numerical results, tensor ops are not used by default in cuBLAS and cuDNN. Specifically, I was looking for something like  `cudnnSetConvolutionMathType`, `cublasSetMathMode` and `CUBLAS_TENSOR_OP_MATH `.  Cou

[2017-10-23 06:04] seanbell commented on #390
Hi @drnikolaev -- I don't think that this actually allows for multithreading in Python.  In particular, when you call functions like `net.forward()` or `solver.step()` from Python (in `python/caffe/_caffe.cpp`), the C++ backend code should release the GIL and later re-acquire it inside the Python layer just before jumping into Python.  While it seems to be doing something related to the GIL inside

[2017-10-23 06:28] drnikolaev commented on #390
Got it, thanks. Little bit busy these days but I'll have a look. Thank you.

[2017-10-23 07:12] drnikolaev commented on #390
BTW, @seanbell - may I have some good code snippet and what perf do you expect from it? Would help me as a reference.

[2017-10-23 07:27] seanbell commented on #390
Sure, I'll work on getting something together soon.

The main thing that I expect to be able to do is run a background thread inside a Python data layer (e.g. a prefetching thread) that runs in parallel with the GPU to get the next minibatch ready, communicating with a queue.

[2017-10-23 07:34] seanbell commented on #390
@drnikolaev If I make a PR against some branch, what should I use?

[2017-10-23 14:20] drnikolaev commented on #390
@seanbell please use https://github.com/NVIDIA/caffe/tree/caffe-0.16

[2017-10-23 23:29] seanbell commented on #390
Hi @drnikolaev -- here is the patch that I used on a different private branch:
[seanbell-GIL-based-on-BVLC-2230.patch.txt](https://github.com/NVIDIA/caffe/files/1409047/seanbell-GIL-based-on-BVLC-2230.patch.txt)

This was applied to an earlier version of nv-caffe (a version also called 0.16, but when it was still experimental, which later got overwritten by a new 0.16).  It won't work as-is, but s

[2017-10-24 11:58] Wronskia commented on #433
Hello @drnikolaev ,

I put the files which I used to get these results with a small description in this repo https://github.com/Wronskia/inference-results-NVcaffe

would it be possible to provide the .caffemodel of your resnet50 that is compatible with NVcaffe so that I can use it as pretrain model ?

Thank you very much,
Best

[2017-10-24 21:39] drnikolaev commented on #433
hi @Wronskia we can't distribute models due to copyright concerns

[2017-10-25 00:02] drnikolaev commented on #433
@Wronskia thank you for reporting this. We have reproduced the issue and now working on the fix

[2017-10-25 06:31] xuzhuoran0106 opened #434 "docker clone from BVLC. is it correct?"
in https://github.com/NVIDIA/caffe/blob/caffe-0.16/docker/standalone/gpu/Dockerfile#L32
The code clone from BVLC/caffe.git, is it correct?
I think it should clone from NVIDIA/caffe.git.

[2017-10-25 12:23] cliffwoolley commented on #434
Good point, though a better solution is to simply `COPY . .` in from the
docker context -- getting rid of the `git  clone` completely -- since
someone presumably already has cloned the version they want before they do
`docker build`.

On Oct 24, 2017 11:31 PM, "xuzhuoran0106" <notifications@github.com> wrote:

[2017-10-26 20:29] seanbell commented on #390
@drnikolaev let me know how I can help.  This is a major bottleneck for us.

[2017-10-26 23:34] drnikolaev commented on #390
Same thing here. Working on it...

[2017-10-27 08:08] gcp commented on #420
Those are used, see for example: https://github.com/NVIDIA/caffe/blob/caffe-0.16/src/caffe/layers/cudnn_conv_layer.cpp#L556

[2017-10-27 08:19] mxs30443 opened #435 "Check failed: status == CUDNN_STATUS_SUCCESS (3 vs. 0) CUDNN_STATUS_BAD_PARAM, device 1"
Hi,
I cann't run nvcaffe with GPU mode.
I am trying to verify the nvcaffe:
`data/mnist/get_mnist.sh`
`examples/mnist/create_mnist.sh`
`examples/mnist/train_lenet.sh`
then I meet this peoblem:

F1027 14:53:21.139894  3050 common.cpp:498] Check failed: status == CUDNN_STATUS_SUCCESS (3 vs. 0)  CUDNN_STATUS_BAD_PARAM, device 1
*** Check failure stack trace: ***
    @     0x7fa902ca6daa  (unknown)

[2017-10-28 07:42] yxliu-ntu opened #436 "Bug with batch norm"
If we use "store_blobs_in_old_format:True" to store weights trained by nvidia-caffe and read these weights in BVLC-caffe, it will cause some problem and output wrong values.
After parsing the source code, I find that it is because Nvidia-Caffe implement the BatchNorm layer in a different way. It stores the real batch norm 'variance' and 'mean' value in the first 2 blobs in weight file and store '0

[2017-10-29 05:31] whria78 commented on #433
I had a similar problem.

When I tried to fine-tuning ResNet-152,
it always showed 0 accuracy. It failed to finetune.

ResNet-152 pretrained model =from  https://github.com/KaimingHe/deep-residual-networks

solver.prototxt and trainval.prototxt =
[resnet-152.zip](https://github.com/NVIDIA/caffe/files/1424803/resnet-152.zip)

nvcaffe - ResNet-152 finetuning -> Fail
BVLC - ResNet-152 finetuning -> O

[2017-10-30 05:13] drnikolaev commented on #436
Hi @Mithril-NTU thank you. We noticed this too and fix is coming in next release

[2017-10-31 11:09] zn845639326 commented on #412
@anilsathyan7 Hi, I meet the same problems.
Besides does with docker images, is there any other solution to solve the problem?

[2017-10-31 19:14] yxliu-ntu commented on #436
Thank you very much!

[2017-11-03 08:05] mxs30443 opened #437 "Matcaffe memory leak"

[2017-11-03 08:05] #437 closed, assigned to nobody

[2017-11-03 08:42] mxs30443 opened #438 "Matcaffe memory leak！"
Hi, I test VGG-16 net using matcaffe，I meet some problems。
My matlab code：

caffe.reset_all();
caffe.set_mode_gpu();
caffe.set_device(1);
solver = caffe.Solver('./models/vgg16/solver.prototxt');
batch_im = rand(224,224,3,24);
for i =1 :100
  solver.net.forward({single(batch_im)});
end

if I using float16 type：

When net type is float32，I found that each iteration gpu memory usage is growing。

My c

[2017-11-03 10:41] Wronskia opened #439 "Compatibility with caffe"
Hello,

After retraining a BVLC/caffe model (googlenet BVLC) with NVcaffe I noticed that the size of the retrained caffemodel was half the size of the original caffe and when trying inference of the finetuned caffemodel from NVcaffe in caffe I get that : Check failed: count_ == proto.data_size() (9408 vs 0)
Is it possible to use an NVcaffe model in BVLC/caffe ??
Thanks,
Best

[2017-11-03 18:02] drnikolaev commented on #439
When you train in NVCaffe please use:
[code]
More details:
[code]

[2017-11-03 20:34] drnikolaev commented on #433
hi @Wronskia I'd like to clarify what images were used to train. All I see is this:
[code]
So, _scaled_ how? Keeping aspect ratio? To square? When I train&test RN50 I see correct results. I suspect that in your case something don't match. Please clarify.

[2017-11-06 10:28] Wronskia commented on #433
hello @drnikolaev

the scripts I use for rescaling are available here : https://github.com/Wronskia/inference-results-NVcaffe (I rescale while keeping the aspect ratio). I also have reasonable results while finetuning RN50 with imagenet however when I just perform inference without training I get 0%.

with the test.prototxt I provide on top
../../../opt/caffe/caffe/build/tools/caffe test
--model="

[2017-11-06 10:46] Wronskia commented on #439
Thank you @drnikolaev

[2017-11-08 03:39] Soledad89 commented on #436
Hi, @Mithril-NTU, I run into the same error. Can you share your modified codes to solve this issue? Thanks so much.

[2017-11-13 23:51] seanbell commented on #390
Hi @drnikolaev -- any updates?  I understand that you're busy, but we'd love to get the most out of our GPUs, and right now they're running at only ~50-60% utilization.

[2017-11-14 08:12] drnikolaev commented on #390
would beta work for you?

[2017-11-14 08:15] seanbell commented on #390
Sure, happy to take a look at a beta version.

[2017-11-15 02:31] seanbell opened #440 "Python function net.clear_param_diffs() from Net is missing"
Can this line be added to `_caffe.cpp` for the Python `Net`, to expose the `clear_param_diffs` method?
[code]

See corresponding line in BVLC/caffe: https://github.com/BVLC/caffe/blob/effcdb0b62410b2a6a54f18f23cf90733a115673/python/caffe/_caffe.cpp#L417

[2017-11-15 05:48] stormanger opened #441 "Issue about multiple GPUs"
Cann't train with multiple GPUs, but it works fine with single GPU
I use the build way to install Digits
Version:
Digits6.0  Nvidia/Caffe 0.15.14 CUDA 8 and cudnn 5.1
Error report like that: ERROR: USE_NCCL := 1 must be specified for multi-GPU

[2017-11-15 06:12] #441 closed, assigned to nobody

[2017-11-16 01:55] bonseyes-admin commented on #436
@drnikolaev Do you have an ETA on the next release date?

[2017-11-17 05:51] jsmlay opened #442 "[dead silence] NVcaffe Digit Object Detection With TensorRT GoogleNet dead silence"
Centos 7.2 + Conda 2.7.9 + Digits 6.0.0 + NVcaffe 0.16.4 + 4 X P40
All goes well with last line in caffe_oupt.log
#####################################################################
I1117 11:02:59.804045 15357 caffe.cpp:226] Starting Optimization
I1117 11:02:59.804064 15357 solver.cpp:386] Solving
I1117 11:02:59.804067 15357 solver.cpp:387] Learning Rate Policy: exp
I1117 11:02:59.822211 15357 n

[2017-11-17 21:24] drnikolaev commented on #442
Hi @jsmlay - is this on P40 only?

[2017-11-18 00:03] bparaj commented on #226
I encountered this problem in the following scenario:

I had `1623` training tensors in total spread across `14` hdf5 files with each containing 120 tensors except the 14'th. The 14'th hdf5 file was created to hold 120 but had only 63 tensors. The `illegal memory access` error occurred at the 400'th iteration.

I excluded the 14'th hdf5 file from the training set and the error was gone.

[2017-11-20 03:43] jsmlay commented on #442
@drnikolaev
Thank you for your reply.
I recomplie the nvcaffe (several times, adjusting the dependencies) and it finally worked, both on nvcaffe 0.15.13 and 0.16.4. The problem comes from dependency conflicts.
While there is another interesting phenomenon:
Some caffe scripts use #!/usr/bin, which linked to system default python. That usually leads to problem when the program started with miniconda

[2017-11-20 03:43] #442 closed, assigned to nobody

[2017-11-22 05:32] abrams90 opened #443 "nvcaffe speed issue"
I am trying to make nvcaffe support ssd.when testing the modified ssd-nvcaffe,I found the speed was even slower than caffe master branch when dealing with detection task.But in classificaftion ,the speed is really faster.Does anyone have the same problem?

[2017-11-23 17:58] legolas123 opened #444 "Training time error in multi gpu"
Installed the latest caffe-0.16 with cuda 8, cudnn 7 and nccl-1.3.4-1. With ImageData layer as follows:
[code]
The command run is
[code]
This results in following error message
[code]
With the option -gpu=all, it randomly gets stuck without any error message.
And the last snippet of output where it gets stuck is
[code]
The issue #357 seems to suggest that this type of deadlock is already solved wi

[2017-11-29 03:13] babiking commented on #435
I install 2 GPUs on my PC, i.e. one GTX 650 for graphic display and one GTX 1080Ti for computation.
When I run a classification model, I was confronted with similar problem as above mentioned.

'caffe:Check failed: status == CUDNN_STATUS_SUCCESS (3 vs. 0) CUDNN_STATUS_BAD_PARAM'

Then I re-make caffe by comment USE__CUDNN := 1 in Makefile.config. But the computation speed seems being very negative

[2017-11-30 03:11] scottyyih opened #447 "Failed to compile im2col.cu"
CXX src/caffe/blob.cpp
CXX src/caffe/data_transformer.cpp
CXX src/caffe/common.cpp
CXX src/caffe/internal_thread.cpp
CXX src/caffe/syncedmem.cpp
CXX src/caffe/solver.cpp
NVCC src/caffe/util/im2col.cu
In file included from /usr/local/cuda/include/common_functions.h:50:0,
                 from /usr/local/cuda/include/cuda_runtime.h:115,
                 from <command-line>:0:
/usr/local/cuda/include

[2017-11-30 11:43] TimoSaemann commented on #367
Hi @drnikolaev
I just want to mention, that I am still interested in an implementation of the argmax.cu layer. I would really be happy to hear some information about the current status.
Thanks,
Timo

[2017-12-01 20:02] AdamKisgergely opened #448 "CUDA is not detected by cmake. Building without it."
Hi
I am trying to build caffe version 0.15 with CUDA v9.0 and cudnn v7.0.4.
I have set the path to cuda with the following way:
export PATH=/usr/local/cuda-9.0/bin${PATH:+:${PATH}}
export LD_LIBRARY_PATH=/usr/local/cuda-9.0/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
export CUDA_HOME=/usr/local/cuda-9.0
And nvcc --version list it the right way:
Cuda compilation tools, release 9.0, V9.0.176
cmake

[2017-12-02 00:02] drnikolaev commented on #448
Hi @AdamKisgergely have you tried 0.16?

[2017-12-02 06:16] AdamKisgergely commented on #448
Hi @drnikolaev I haven't, i would like to use the same setup on bouth pc.

[2017-12-02 08:37] AdamKisgergely commented on #448
I have mannaged to find by installing the cuda tool kit with
sudo apt install nvidia-cuda-toolkit
It installed the 7.5 version, but somehow the caffe with it found the 9.0.

[2017-12-02 08:37] #448 closed, assigned to nobody

[2017-12-05 14:08] RSly opened #449 "Documentation 16.4"
Hi @drnikolaev
I see in the release note it says for 16.4, new augmentations:
https://github.com/NVIDIA/caffe/releases/tag/v0.16.4

Could you please direct me to the documentation for those new functions?
thanks!

[2017-12-06 14:27] Jingwei-Liao commented on #435
Hello,I have solved this problem by adding
engine: CAFFE
in the convolution_param
hope can help you ~

[2017-12-06 15:52] Jeffery4000 opened #450 "Getting error while runtest [result == ncclSuccess (1 vs. 0)]"
Hi, while I am trying to install nvidia/caffe with Cmaka got no issue at all which show all the correct parameter. If you need to look at the caffe configuration summary do let me know.

CUDA Version: CUDA 8.0
NCCL Version: NCCL 2.1
GPU: 4x GTX Titan X 12GB (Maxwell)
OS: Ubuntu 16.04

This is the error message I am getting while running thorough [make runtest]:

•	[----------] 8 tests from RMSProp

[2017-12-06 23:13] cliffwoolley commented on #450
Can you please try running with the following environment variable set and post the relevant bits from the tail end of the NCCL debug output?
[code]
Thanks,
Cliff

[2017-12-06 23:13] drnikolaev commented on #450
hi @Jeffery4000 please try with `export NCCL_DEBUG=WARN` and paste the output here.

[2017-12-06 23:14] cliffwoolley commented on #450
Heh, jinx, @drnikolaev .  :)  `=INFO` is just a bit more verbose than `=WARN` but you can go either route, @Jeffery4000 .

[2017-12-06 23:18] drnikolaev commented on #435
Hi @mxs30443 @babiking @woshiljw  --- have you tried to upgrade CuDNN?

[2017-12-06 23:21] drnikolaev commented on #367
Hi @TimoSaemann it's on my plate but there are few urgent bugs to fix before the next release, sorry about this.

[2017-12-07 00:24] Jingwei-Liao commented on #435
@drnikolaev
i use cuda7.5 cudnn 5.1
but if you miss the problem
Check failed: status == CUDNN_STATUS_SUCCESS (3 vs. 0) CUDNN_STATUS_BAD_PARAM
maybe you should change you discription file of the net
i add
engine: CAFFE
in the convolution_param of Convolution layer to solve the problem

[2017-12-07 00:56] Jeffery4000 commented on #450
Hi @drnikolaev @cliffwoolley ,

Im getting the error message shown below, it might be i had install the wrong NCCL library (cuda8.0 instead of 9.0). Its there a way i can delete the nccl library and install nccl 2.1 (compatible with cuda 8.0)?

[ RUN      ] AdamSolverTest/3.TestAdamLeastSquaresUpdate
lrkow-caffe:10705:10705 [0] INFO NET : Using interface eth0:172.17.0.5<0>
lrkow-caffe:10705:10705

[2017-12-07 01:14] Jeffery4000 commented on #450
I solved this by replacing the correct NCCL library.

Thanks for all your help. @drnikolaev @cliffwoolley

sudo apt-get install libnccl2=2.1.2-1+cuda8.0 libnccl-dev=2.1.2-1+cuda8.0

[2017-12-07 01:16] cliffwoolley commented on #450
Glad to help!

[2017-12-07 01:16] #450 closed, assigned to nobody

[2017-12-07 08:32] mxs30443 commented on #435
@woshiljw @drnikolaev thank you very much

[2017-12-07 08:32] #435 closed, assigned to nobody

[2017-12-12 13:43] seanbell commented on #390
Ping?

[2017-12-12 13:43] seanbell commented on #390
@drnikolaev Ping?

[2017-12-14 12:36] jellyDL opened #451 "set_mode(Caffe::GPU) failed in version 0.16"
complie caffe as dynamic lib(-lcaffe）, using set_mode(Caffe::GPU) before calling the dynamic lib， found the mode_(GPU/CPU)  can not be set in the dynamic library。 I guess it caused by "static thread_local unique_ptr<Caffe> thread_instance_" , Is there a good solution?

cudnn:6021
cuda 8000
cuda driver 9000

[2017-12-15 15:58] xzheng4 commented on #10
how much performance downgrade do you observed? we have similar issue. @lukeyeager

[2017-12-18 03:40] blueardour commented on #443
@abrams90
Is there any estimation or practical data about how slower of the nvcaffe versus the caffe master one for ssd network and classification network.

For example, it cost xx times time compared with the origin caffe master branch for ssd/resenet?

[2017-12-19 07:41] mathmanu commented on #443
SSD uses a lot of data augmentations and these are in CPU. Writing equivalent GPU layer/code for these should make it faster.

I hope you have seen the SSD pull request that I have submitted: https://github.com/NVIDIA/caffe/pull/446
Are you interested in improving it so that it can be integrated into NVCaffe?

[2017-12-19 08:49] abrams90 commented on #443
I think maybe the speed is relative to the caculate capbility of fp16 in GPU,In 1080ti the fp16 ability is about 1/64  of fp32.

[2017-12-19 15:12] mathmanu commented on #443
@abrams90
Are you implying that you have SSD ported to nvcaffe with fp16 support? Would you be interested in publishing your fork or submitting a pull request for it to help the community?

[2017-12-19 17:00] drnikolaev commented on #443
@abrams90 @mathmanu new release is coming soon - cpu-based augmentation is a little bit faster out there

[2017-12-20 13:54] RSly commented on #449
Hi any news on this?
tnx

[2017-12-21 02:07] gittigxuy commented on #213
@keryar did you solved this question,I meet the same question.Please help me

[2017-12-21 09:24] Smorodov commented on #213
Resolved by moving to branch 0.16, later versions seems have no such problem.

[2017-12-21 16:56] BalintMagyar4 opened #452 "Error during make"
I get the following errors if I try to make Caffe by `make -j"$(nproc)"`
...
[100%] Linking CXX executable caffe
CMakeFiles/caffe.bin.dir/caffe.cpp.o: In function `_GLOBAL__sub_I_caffe.cpp':
caffe.cpp:(.text.startup+0x4ce): undefined reference to `google::FlagRegisterer::FlagRegisterer<std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > >(char const*, char const*, char

[2017-12-22 08:27] aazz44ss opened #453 "close"

[2017-12-22 09:15] #453 closed, assigned to nobody

[2017-12-22 10:00] aazz44ss opened #454 "multi GPU performance decade."
When I use 1,2,4,8 GPU in nvcaffe 0.15, it's about 1.7X performance scaling when I double my GPU.
However when I use nvCaffe 0.16, when in 1,2,4 GPU, it have really good performance scaling about 1.95X when doubling GPU.
But when GPU number increase from 4 to 8, the performance become only half of 4 GPU. and even lower than 8 GPU with caffe 0.15.
a lot of time was waste on solver::step::iteration_

[2017-12-24 15:23] winnerineast opened #455 "data_reader.cpp is new to BLVC/caffe and caused build failed in MacOS"
As titled. I'm not sure if it is conscious to focus caffe in linux or not. If so, I could close the issue directly. Otherwise, this file indeed caused the problem to build caffe in macos due to sys/sysinfo.h.

[2017-12-25 22:37] drnikolaev commented on #455
Hi @winnerineast this is not BVLC Caffe and you are right, we currently focus on Linux.

[2017-12-25 22:37] #455 closed, assigned to nobody

[2017-12-31 06:09] drnikolaev commented on #452
Please try
[code]

[2017-12-31 06:09] #452 closed, assigned to nobody

[2017-12-31 06:22] drnikolaev commented on #451
Hi @xiaoxiongguilai
Do you link using `ldd` or load so dynamically?
In upcoming release please do this in your main()
[code]

[2017-12-31 06:22] #451 closed, assigned to nobody

[2017-12-31 06:28] #439 closed, assigned to nobody

[2017-12-31 06:31] #434 closed, assigned to nobody

[2017-12-31 06:32] #432 closed, assigned to nobody

[2017-12-31 07:23] #420 closed, assigned to nobody

[2018-01-01 09:31] drnikolaev commented on #454
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:31] #454 closed, assigned to nobody

[2018-01-01 09:31] drnikolaev commented on #447
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:31] #447 closed, assigned to nobody

[2018-01-01 09:31] drnikolaev commented on #444
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:31] #444 closed, assigned to nobody

[2018-01-01 09:32] drnikolaev commented on #443
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:32] #443 closed, assigned to nobody

[2018-01-01 09:32] drnikolaev commented on #440
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:32] #440 closed, assigned to nobody

[2018-01-01 09:33] drnikolaev commented on #438
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:33] #438 closed, assigned to nobody

[2018-01-01 09:33] drnikolaev commented on #436
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:33] #436 closed, assigned to nobody

[2018-01-01 09:34] drnikolaev commented on #433
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:34] #433 closed, assigned to nobody

[2018-01-01 09:34] drnikolaev commented on #430
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:34] #430 closed, assigned to nobody

[2018-01-01 09:35] drnikolaev commented on #426
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:35] #426 closed, assigned to nobody

[2018-01-01 09:35] drnikolaev commented on #425
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:35] #425 closed, assigned to nobody

[2018-01-01 09:35] drnikolaev commented on #423
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:35] #423 closed, assigned to nobody

[2018-01-01 09:37] drnikolaev commented on #421
Please check v0.16.5 and new LARC feature in examples provided

[2018-01-01 09:37] #421 closed, assigned to nobody

[2018-01-01 09:37] drnikolaev commented on #418
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:37] #418 closed, assigned to nobody

[2018-01-01 09:38] drnikolaev commented on #414
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:38] #414 closed, assigned to nobody

[2018-01-01 09:38] drnikolaev commented on #412
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:38] #412 closed, assigned to nobody

[2018-01-01 09:39] drnikolaev commented on #404
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:39] #404 closed, assigned to nobody

[2018-01-01 09:39] drnikolaev commented on #390
Hi @seanbell
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:39] #390 closed, assigned to nobody

[2018-01-01 09:40] drnikolaev commented on #276
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:40] #276 closed, assigned to nobody

[2018-01-01 09:41] drnikolaev commented on #234
Please check v0.16.5 and reopen the issue if the problem still exists.

[2018-01-01 09:41] #234 closed, assigned to nobody

[2018-01-02 11:12] aazz44ss commented on #454
problem still exists.

batch:32 | total(sec) | forward | backward | iteration_wait
1GPU  | 763   | 248 | 514 | 1
2GPU  | 774   | 247 | 499 | 28
4GPU  | 817   | 262 | 516 | 39
8GPU  | 1533 | 448 | 517 | 568

[2018-01-02 11:17] aazz44ss opened #457 "multi GPU performance decade"
When I use 1,2,4,8 GPU in nvcaffe 0.15, it's about 1.7X performance scaling when I double my GPU.
However when I use nvCaffe 0.16, when in 1,2,4 GPU, it have really good performance scaling about 1.95X when doubling GPU.
But when GPU number increase from 4 to 8, the performance become only half of 4 GPU. and even lower than 8 GPU with caffe 0.15.
a lot of time was waste on solver::step::iteration_

[2018-01-02 17:03] drnikolaev commented on #457
Hi @aazz44ss
we'd strongly suggest to step up to NCCL 2.1, CuDNN 7 and CUDA 9.
Also, please compare two runs: `--gpu 0,1,2,3` and `--gpu 4,5,6,7`. Are they identical?
One more question: do you use NVLink?

[2018-01-03 02:32] aazz44ss commented on #457
--gpu 4,5,6,7 is the same as --gpu 0,1,2,3 very good performance.
Yes, I have use NVLink. my test sample is bvlc_googlenet. I will try NCCL2.1, CuDNN 7 and Cuda 9

1. iteration_wait have increase a lot of time cost when using 8 GPU, may owing to NCCL reduce function?
2. and forward also increase a lot of time, may owing to LOG message "waiting for datum" ?
how to solve waiting for datum? I try to

[2018-01-03 02:33] nViso commented on #457
Maybe it would be good to update the README.md that suggests NCCL 1.34 and CuDNN 6 are the recommended configuration. BTW are the optimized FP16 instructions in CuDNN 7 being leveraged?

[2018-01-03 04:16] aazz44ss commented on #457
I haven't change any setting, so I am not sure optimized FP16 instructions in CuDNN 7 being leveraged.

[2018-01-03 06:42] drnikolaev commented on #457
@aazz44ss could you upload log files for 4 and 8 GPUs please?
"Waiting for datum" means that your disk reads data slower than Caffe computes.
If your system is capable to store your data set as a whole in RAM, you may do so. Just add
[code]
in DataLayer. After reading whole dataset Caffe will use RAM. Shuffle is optional but it helps to improve accuracy.

[2018-01-03 06:44] drnikolaev commented on #457
@nViso yes, CuDNN 7 does use FP16 and runs fast on Volta boards

[2018-01-03 07:36] nViso commented on #457
@drnikolaev Great we will try it out. It might be worth updating the README.md for the latest CuDNN version supported and NCCL version as currently it mentioned CuDNN v6 and NCCL v1.3.4.

Having NVIDIA Caffe support FP16, multi-GPU and the new Volta boards is definitely a big plus to accelerate and improve training.

[2018-01-03 08:22] aazz44ss commented on #457
When I try to use NCCL2,
I0103 16:20:48.981690  6024 net.cpp:1492] [4] Reserving 53516544 bytes of shared learnable space for type FLOAT
I0103 16:20:48.981690  6021 net.cpp:1492] [1] Reserving 53516544 bytes of shared learnable space for type FLOAT
I0103 16:20:48.981789  6026 net.cpp:1492] [6] Reserving 53516544 bytes of shared learnable space for type FLOAT
I0103 16:20:48.981765  6025 net.cpp:149

[2018-01-03 12:00] whria78 commented on #433
Thank you for releasing v0.16.5.

I had an error (.... libturbojpeg.a: error adding symbols: Bad value ....) when compiling v0.16.5, but I could solve it by

sudo ln -s /usr/lib/x86_64-linux-gnu/libturbojpeg.so.0.0.0 /usr/lib/x86_64-linux-gnu/libturbojpeg.so

Anyway, I am now in fine-tuning the ResNet-152.

Until now, it works well. It showed a normal Test net output and Accuracy.

Thank you again

[2018-01-04 00:31] seanbell opened #459 "Repeatedly calling Solver::Step(1) leads to a memory leak (0.17)"
I'm trying out 0.16.5, and while it seems to work great in terms of memory/speed, there is still a memory leak when training by repeatedly calling `solver.step(1)` (i.e.`Solver::Step(1)`) in a loop.  When training using a Python framework, this is the only way to train and also get per-iteration statistics.  Memory usage slowly increases by around 1-2MB per iteration.

In a previous release, I det

[2018-01-04 00:38] seanbell commented on #426
Thanks!  Unfortunately I still get a leak with the new version (though it seems to be different?).  I filed a new issue #459.

[2018-01-04 01:34] aazz44ss commented on #457
@drnikolaev  Thanks, I'll try cache.
Here is my bvlc_googlenet 4GPU and 8GPU log running on centos7,
there are some additional information in log, which i used it to benchmark.
the batch size is 32/GPU.
[4GPU_googlenet.log](https://github.com/NVIDIA/caffe/files/1602198/4GPU_googlenet.log)
[8GPU_googlenet.log](https://github.com/NVIDIA/caffe/files/1602199/8GPU_googlenet.log)

[2018-01-04 02:00] drnikolaev commented on #457
@aazz44ss seems like you hit the limit of your disk when you do 8GPU train. Please try `cache: true` and run few epochs to see the difference.

[2018-01-04 02:07] aazz44ss commented on #457
@drnikolaev
I have try cache: true, but the 8GPU performance is still much lower than 4GPU.
maybe my RAM (64G) is not large enough to include my train set (240G)?
but the performance may not only affected by waiting for datum, because 8GPU takes 10 times time than 4 GPU on computing reduce function.

[2018-01-04 02:58] drnikolaev commented on #457
@aazz44ss 64G won't work.
10 times? Your logs say:
[code]
vs.
[code]
So, 8 GPU is "better". Why 10 times?

[2018-01-04 03:06] aazz44ss commented on #457
@drnikolaev
8GPU is better but not linear scaling,
1 GPU performance 400 img/sec
2 GPU performance 790 img/sec
4 GPU performance 1580 img/sec
8 GPU performance 1790 img/sec

10 times which means I record the time of program use NCCL reduce function.
in 2 GPU it takes 56 sec.
in 4 GPU it takes 78 sec.
in 8 GPU it takes 813 sec.
which increase a lot of time on solver::step iteration_wait(), it affec

[2018-01-04 03:19] drnikolaev commented on #457
@aazz44ss
I see. Too much traffic. Could you run the same in float 16 mode please? Just add to your train*.prototxt this:
[code]
And to your solver*.prototxt this:
[code]

[2018-01-04 03:40] aazz44ss commented on #457
@drnikolaev
[8GPU_float16_googlenet.log](https://github.com/NVIDIA/caffe/files/1602366/8GPU_float16_googlenet.log)
I use FLOAT16 won't help improve performance

[2018-01-04 04:14] drnikolaev commented on #457
@aazz44ss
Could you run the following:
[code]
and
[code]
Also, what is `disk2` throughput? Is it local?

[2018-01-04 04:16] aazz44ss commented on #457
GPU0    GPU1    GPU2    GPU3    GPU4    GPU5    GPU6    GPU7    CPU Affinity
GPU0     X      NV1     NV1     NV1     NV1     SOC     SOC     SOC     0-15,32-47
GPU1    NV1      X      NV1     NV1     SOC     NV1     SOC     SOC     0-15,32-47
GPU2    NV1     NV1      X      NV1     SOC     SOC     NV1     SOC     0-15,32-47
GPU3    NV1     NV1     NV1      X      SOC     SOC     SOC     NV1     0-

[2018-01-04 04:16] aazz44ss commented on #457
root@DGX-1:/disk2/gin/caffe-0.16.4# nvidia-smi topo -p2p n
        GPU0    GPU1    GPU2    GPU3    GPU4    GPU5    GPU6    GPU7
 GPU0   X       OK      OK      OK      OK      NS      NS      NS
 GPU1   OK      X       OK      OK      NS      OK      NS      NS
 GPU2   OK      OK      X       OK      NS      NS      OK      NS
 GPU3   OK      OK      OK      X       NS      NS      NS      OK
 GPU

[2018-01-04 04:21] aazz44ss commented on #457
@drnikolaev
disk2 is hard disk

root@DGX-1:/disk2/gin/caffe-0.16.4# sudo hdparm -Tt /dev/sda
/dev/sda:
 Timing cached reads:   17236 MB in  2.00 seconds = 8626.76 MB/sec
 Timing buffered disk reads: 2754 MB in  3.00 seconds = 917.89 MB/sec

[2018-01-04 04:33] drnikolaev commented on #457
@aazz44ss 917MB is way too slow. Do you have raid array?

[2018-01-04 04:42] aazz44ss commented on #457
@drnikolaev
I'll try other disk. what level do you recommend the Timing buffered disk reads throughput?
and how this affect performance ? is this only affect waiting for datum ? or it will also affect NCCL::reduce?

[2018-01-04 08:06] drnikolaev commented on #457
@aazz44ss Actually you are ok in terms of disk perf, sorry. This is not AlexNet... :)
So, there might be something with NVLink. Is this DGX-1 box?

[2018-01-04 08:11] drnikolaev commented on #459
Hi @seanbell
Seems like this issue is Python-related only. Valgrind is happy. Would you mind to send small isolated script reproducing the leak?

[2018-01-04 12:22] nalan210 commented on #459
@drnikolaev @seanbell  Excuse me, I am a newcomer for the nvidia/caffe. Now I want to install this latest caffe version(0.16), how could I achieve the setup and tune the inference process to support FP16 instead of FP32?

[2018-01-04 12:25] nalan210 opened #460 "How to install the caffe verison?"
Excuse me, I am a newcomer for the nvidia/caffe. There isn't any installation guides for me to do the setup work. Now I want to install this latest caffe version(0.16), how could I achieve the setup process and tune the inference process to support FP16 instead of FP32? Thank you very much for your help!

[2018-01-04 20:08] drnikolaev commented on #460
@nalan210 This guide should be a good start:
http://caffe.berkeleyvision.org/installation.html

[2018-01-05 02:42] leon-liangwu opened #461 "memory leak while training Mobilenet model"
Memory usage is arising while traing Mobilenet model, and the process will be killed due to memory leak.
I find memory leak exists when training models with group channels.
Does anyone have come across the same problem, and how do you solve it?
@drnikolaev

[2018-01-05 02:59] constroy opened #462 "ClipGradients() behavior diverges from BVLC caffe"
In BVLC caffe, ClipGradients() rescales the gradients based on their L2 norm.
But in Nvidia caffe, a gradient is cleared once updated. Thus the gradients are all zeros except the currently updating one. L2 norm degenerates into absolute value of that only gradient. As a result, ClipGradients() rescales gradients element-wise.

[2018-01-05 03:11] drnikolaev commented on #462
@constroy thanks.
Could you set solver's `snapshot_diff: true` and verify that clipping works as it's supposed to?

[2018-01-05 03:12] drnikolaev commented on #461
@DreamHorse0301 thanks
May I have the log please?

[2018-01-05 03:15] drnikolaev commented on #459
@seanbell I can't reproduce this. When I add this test to `python/caffe/test/test_solver.py`:
[code]
it prints identical memory usage 100 times.

[2018-01-05 03:41] aazz44ss commented on #457
Yes, I am using DGX-1 box.
and I have test every NVLink, seems like NVLink is fine.

from | to | bandwidth
0 | 1 | 14.5
0 | 2 | 14.5
0 | 3 | 14.5
0 | 4 | 14.5
0 | 5 | 5.5
0 | 6 | 5.5
0 | 7 | 5.5
1 | 2 | 14.5
1 | 3 | 14.5
1 | 4 | 5.5
1 | 5 | 14.5
1 | 6 | 5.5
1 | 7 | 5.5
2 | 3 | 14.5
2 | 4 | 5.5
2 | 5 | 5.5
2 | 6 | 14.5
2 | 7 | 5.5
3 | 4 | 5.5
3 | 5 | 5.5
3 | 6 | 5.5
3 | 7 | 14.5
4 | 5 | 14.5
4 | 6

[2018-01-05 04:06] leon-liangwu commented on #461
I have only got the training log, and I found that when training the memory usage of this process increased to 100% and the process got killed.
@drnikolaev
By the way, I got this issue in the previous tag, 0.16.4. If the issue has not been specifically fixed, it may still exists.
I am testing with 0.16.5.

![screenshot from 2018-01-05 11-57-56](https://user-images.githubusercontent.com/7507360/345

[2018-01-05 06:01] twmht opened #463 "Missing libturbojpeg.so"
Hi,

I am using ubuntu 16.04 and have installed both `libjpeg-turbo8-dev` and  `libjpeg-turbo8`.

However, I can not find libturbojpeg.so as in https://github.com/NVIDIA/caffe/blob/caffe-0.16/cmake/Modules/FindJPEGTurbo.cmake

there is only one static library `libturbojpeg.a` in `/usr/lib/x86_64-linux-gnu/`.

If I link to the static file, it will throw the errors when make

[code]

was something i

[2018-01-05 06:22] twmht commented on #463
after installing `libturbojpeg`, the problem can be solved.

[2018-01-05 06:22] #463 closed, assigned to nobody

[2018-01-05 08:39] drnikolaev commented on #461
@DreamHorse0301 the log above was not generated by v0.16.5, look:
https://github.com/NVIDIA/caffe/blob/caffe-0.16/src/caffe/solvers/sgd_solver.cpp#L136
Line 136 does not print Iteration. Also:
https://github.com/NVIDIA/caffe/blob/caffe-0.15/src/caffe/solver.cpp#L309
https://github.com/NVIDIA/caffe/blob/caffe-0.15/src/caffe/solver.cpp#L331

[2018-01-05 08:59] leon-liangwu commented on #461
@drnikolaev
yes, it's generated by v0.16.4. I wonder if the problem has been fixed in the latest version, v0.16.5?
I am testing this, and until now it looks ok.
![2222](https://user-images.githubusercontent.com/7507360/34602121-99a8f9b8-f239-11e7-89bd-f396a803f29b.png)

[2018-01-05 09:04] constroy commented on #462
@drnikolaev thanks for your reply
If `snapshot_diff: true` is set, some gradients become lastest values (already reduced from all solvres), but others still remain zeros since ClearParamDiffs() (not back-proped and reduced yet). So the L2 norm is not calculated correctly.

[2018-01-05 10:19] leon-liangwu commented on #461
@drnikolaev

But unfortunately, it was still killed by the system.
![3333](https://user-images.githubusercontent.com/7507360/34605049-e745cb6e-f244-11e7-9057-03c44ff333ba.png)

[2018-01-05 15:35] anilsathyan7 commented on #412
Confirmed working!!!
There seems  to be no errors, now.
I'am able to import caffe-v0.16.5 in python 2.7 ..
Also digits is working fine with this latest version !!!
Thanks ...

[2018-01-05 18:41] drnikolaev commented on #461
@DreamHorse0301 may I have complete log attached please? And your model's prototxt files?

[2018-01-05 18:45] drnikolaev commented on #457
@aazz44ss have you upgraded to NCCL2.1, CuDNN 7 and Cuda 9?

[2018-01-05 20:36] drnikolaev commented on #412
@anilsathyan7 thanks for confirming

[2018-01-05 21:03] seanbell commented on #459
Hi @drnikolaev -- thank you for running the tests and looking into this, confirming that `solver.step(1)` works as expected.  We currently suspect that this may in fact be an issue with our code, and not `NVIDIA/caffe`, so I am going to close this for now, and will re-open if we discover other issues.

[2018-01-05 22:59] drnikolaev commented on #459
@seanbell thanks. There is always room for improvement though: 1000 Step(1) calls created 1000 instances of Caffe class. Fixed here: https://github.com/drnikolaev/caffe/tree/caffe-0.16
Release coming soon.

[2018-01-06 15:34] leon-liangwu opened #464 "add new SolverParameter bug"
When add new solver parameter in message SolverParameter ,
like repeated int32 param_iter = 55;
in caffe.proto.

Error will occur when run training.

![444](https://user-images.githubusercontent.com/7507360/34641283-8c0efa24-f33c-11e7-9b60-ae46f51b949e.png)

[2018-01-06 15:57] leon-liangwu commented on #461
@drnikolaev
[log.mb-reg-0.75-test.txt](https://github.com/NVIDIA/caffe/files/1608955/log.mb-reg-0.75-test.txt)

[2018-01-06 16:02] leon-liangwu commented on #464
[log.txt](https://github.com/NVIDIA/caffe/files/1608958/log.txt)
@drnikolaev

You can try to add a new repeated parameter in message SolverParameter of the caffe.proto, and train a model. You will get an error like the above.

Could you please solve this problem?

[2018-01-07 00:54] drnikolaev commented on #464
@DreamHorse0301 I can't reproduce this. I'd suggest to rebuild the whole world when you touch `caffe.proto`. Begin with `make superclean`.

[2018-01-07 04:14] leon-liangwu commented on #464
@drnikolaev
Thanks very much. It really helps.

[2018-01-07 04:16] #464 closed, assigned to nobody

[2018-01-08 10:19] drnikolaev commented on #461
@DreamHorse0301 thanks
I couldn't reproduce the crash itself but I did find and fixed some leaks. Release candidate with the fix is here: https://github.com/drnikolaev/caffe/tree/caffe-0.16
Could you please verify it?
One note: you may comment out these parameters to speed up training:
[code]
Also, Massif report (looks better now):
![screenshot from 2018-01-07 21-47-15](https://user-images.githubu

[2018-01-09 04:05] leon-liangwu commented on #461
@drnikolaev
Thanks very much. I will try to verify it and tell you the results later.
Thanks again for your recommendation.

[2018-01-09 21:14] gomlgs opened #466 "Python 0.16.5: Deleting net invalidates all previous GPU memory allocations?"
We're using pycaffe, and are running into an issue with using multiple nets in the same process. When an existing net is gc'ed from Python, it seems to make other previously created nets stop working.

Specifically, the crash is (with DEBUG), in convolutional layers:
[code]

This appears to be because of a call to `GPUMemory::Finalize()` in src/caffe/layers/cudnn_conv_layer.cpp:~CuDNNConvolutionLa

[2018-01-09 23:23] drnikolaev commented on #466
Hi @gomlgs thank you. This Finalize call is redundant, you can remove it. It's just a leftover missed to be cleaned.

[2018-01-09 23:30] gomlgs commented on #466
@drnikolaev Thanks, I created https://github.com/NVIDIA/caffe/pull/467 .

[2018-01-11 01:50] leon-liangwu commented on #461
Dear @drnikolaev, the leak still exists.

[2018-01-11 02:05] drnikolaev commented on #461
@DreamHorse0301 thanks. Could you estimate how much memory gets leaked per iteration?
And please run `ldd build/lib/libcaffe-nv.so` and paste its payload here.

[2018-01-11 02:13] leon-liangwu commented on #461
@drnikolaev  the memory leak increase  linearly. At the beginning, it increases faster.
The result of `ldd build/lib/libcaffe-nv.so`  is in the following file.
[ldd_so.txt](https://github.com/NVIDIA/caffe/files/1620992/ldd_so.txt)

[2018-01-11 02:36] drnikolaev commented on #461
@DreamHorse0301 but how much? Let say, on 0th iteration it takes 2G but on 50000th it's about 62G. Then we have (62-2)/50000=1.2BM lost per iteration.
No one reported any leaks yet, this is interesting.
Also, these things don't look good:
[code]
Here are mine:
[code]
Makes sense to upgrade.

[2018-01-11 02:36] leon-liangwu commented on #461
@drnikolaev  I trained mobilenet on 4 Tiatan X GPUs with batch size 256.
The max iteration is 500,000.
Maybe you can try to reproduce it
My server machine has 128GB memory, and the memory will be fully consummed during the training.

[2018-01-11 02:40] leon-liangwu commented on #461
@drnikolaev  Thanks. I will update these libraries and try to rerun the process.

[2018-01-11 03:07] drnikolaev commented on #461
@DreamHorse0301 I did try and I did use Titans. No leak. See picture above.

[2018-01-11 03:12] leon-liangwu commented on #461
@drnikolaev  Fine. Let me replace the 3 libraries, and let you know later.

[2018-01-11 04:23] leon-liangwu commented on #461
Dear @drnikolaev.  Only 1.6GB memory was consumed on your cpu memory ?
Gpu memory used is stable.

[2018-01-11 04:39] drnikolaev commented on #461
@DreamHorse0301 yes but I had to reduce dataset size due to Valgrind limitations.

[2018-01-11 13:39] zhouyongxiu opened #468 "How can I know if my GPU support float16?"
Hi, does anyone can tell me how to check my GPU if support float16, or which GPU can support it.

[2018-01-12 07:22] leon-liangwu commented on #461
@drnikolaev  in io.cpp , line 107, The shape_only condition block should be inserted in one line .

[2018-01-12 07:37] zhouyongxiu opened #469 "How to add layers from the private version?"
Hi, I try to add the margin_inner_product_layer(https://github.com/wy1iu/sphereface/blob/master/tools/caffe-sphereface/include/caffe/layers/margin_inner_product_layer.hpp) from the sphereface(https://github.com/wy1iu/sphereface/tree/master/tools/caffe-sphereface), but there are errors when I make the files. I find it is lead by the layer and blob is redefined in NVIDIA caffe  version. Is there any

[2018-01-12 08:03] drnikolaev commented on #461
@DreamHorse0301 this? https://github.com/drnikolaev/caffe/blob/caffe-0.16/src/caffe/util/io.cpp#L107-L110

I'm not sure I follow...

[2018-01-12 08:06] drnikolaev commented on #469
@zhouyongxiu the only method is to redefine margin_inner_product_layer.

[2018-01-12 09:23] leon-liangwu commented on #461
@drnikolaev  Yes, your repo is right.
I know this is not the reason the process got killed, because my lmdb is not encoded.
I replaced nccl v1 with nccl v2, and it has been running 8 hours without being killed.

[2018-01-12 19:23] drnikolaev commented on #449
Hi @RSly it's coming soon here: http://docs.nvidia.com/deeplearning/dgx/caffe-user-guide/index.html
Please stay tuned.

[2018-01-12 19:23] #449 closed, assigned to nobody

[2018-01-12 19:24] #469 closed, assigned to nobody

[2018-01-13 09:59] drnikolaev commented on #468
@zhouyongxiu this article might be useful: https://devblogs.nvidia.com/parallelforall/mixed-precision-programming-cuda-8/

[2018-01-13 09:59] #468 closed, assigned to nobody

[2018-01-13 10:00] #460 closed, assigned to nobody

[2018-01-14 21:39] drnikolaev commented on #462
@constroy it's fixed. Fix is coming in the next release. For early access please use https://github.com/drnikolaev/caffe/tree/caffe-0.17

[2018-01-14 21:39] #462 closed, assigned to nobody

[2018-01-14 21:42] drnikolaev commented on #466
Done here: https://github.com/drnikolaev/caffe/tree/caffe-0.17
Coming soon in next release.

[2018-01-14 21:42] #466 closed, assigned to nobody

[2018-01-14 21:44] drnikolaev commented on #461
@DreamHorse0301
Please also try  https://github.com/drnikolaev/caffe/tree/caffe-0.17

[2018-01-15 02:40] #457 closed, assigned to nobody

[2018-01-15 02:55] zhouyongxiu commented on #386
@CFAndy Hi, Andy, I want to use center_loss in nvcaffe, but the version 0.16 doesn't have this layer, could you please tell me haw to add center_loss layer in nvcaffe, or share the version you use?

[2018-01-15 03:14] zhouyongxiu commented on #468
@drnikolaev Thx

[2018-01-15 03:15] zhouyongxiu commented on #469
@drnikolaev thank you!

[2018-01-15 07:27] leon-liangwu commented on #461
@drnikolaev  Thanks very much.
Even the valgrind can not find any leek. The memory arising is mainly caused by the data cache.
The training still can be killed by the system after a long time running, maybe 12 hours.
By the way, my gpus are Titan X pascal.

[2018-01-15 07:33] drnikolaev commented on #461
@DreamHorse0301 did you try other models? ResNet-50 may be? Also, could you switch to OpenCV 3.4?

[2018-01-17 01:50] zhouyongxiu opened #470 "Initialize GPU memory have a high peak with float16"
Hi, when I try to float16 with resnet 50, I find that when I set train batch size is 32, test batch size is 1, the GPU memory usage will rise to 11000MB in initialize stage, and then drop to 6800MB in train stage, so I cannot set the train batch size more then 32. My GPU is 1080ti, CUDA=8.0, cudnn=7.0, nvcaffe=0.16.5.

[2018-01-17 09:42] drnikolaev commented on #470
@zhouyongxiu  Initial usage is Algo Finder, it's trying to take everything even for small batches. In pure fp16 mode v0.16.5 fits batch of 128 cropped images (224x224) on a GPU with 16GB of memory. 1080ti should handle 96. Please post here your RN-50 prototxt files, we might help.

[2018-01-17 11:32] zhouyongxiu commented on #470
@drnikolaev  there is my prototxt file, please check.
[resnet50_solver.txt](https://github.com/NVIDIA/caffe/files/1638761/resnet50_solver.txt)
[ResNet_50_train_val.txt](https://github.com/NVIDIA/caffe/files/1638762/ResNet_50_train_val.txt)

[2018-01-18 05:15] haruky opened #471 "make: *** [.build_release/tools/caffe.bin] Error 1"
Hi, I need some help to make nvcaffe. There is some problems, did i any mistakes?
The caffe make is stopped with below error message.

CXX/LD -o .build_release/tools/caffe.bin
.build_release/lib/libcaffe-nv.so: undefined reference to `boost::match_results<__gnu_cxx::__normal_iterator<char const*, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > >, std::allocator<boos

[2018-01-18 14:42] thomas-riccardi opened #472 "Don't install django 2: it requires python >= 3.4"
# Some context
- Commit https://github.com/NVIDIA/caffe/commit/4ab7348cc0a9a0e306dc97f06925bab0de7cb778 added `image` and `django` to `python/requirements.txt`.
- It's not clear why `django` was needed: the commit message only talks about `image`, and a grep in `python/` reveals no `django` usage.
- `image` usage was removed by commit https://github.com/NVIDIA/caffe/commit/5eab61dc7b3a5852529bea71

[2018-01-19 05:38] drnikolaev commented on #471
Hi @haruky what Linux do you use? How do you run the build? Could you try CMake please?

[2018-01-19 05:56] haruky commented on #471
Hi, thanks comment. I use ubuntu 16.04.3 LTS,
I solve this Make problems by https://github.com/rbgirshick/fast-rcnn/issues/52 .
I add a definition in Makefile.
263 LIBRARIES += boost_thread stdc++ boost_regex
Then, i got better result.
Thank you.

[2018-01-19 10:13] psyhtest commented on #463
To confirm, this did the trick for me to:
[code]

[2018-01-19 11:38] haruky opened #473 "Failed to parse SolverParameter file: models/resnet50/solver.prototxt in example"
Hi, I attempted to train resnet50, but it does not work. Some solver parameter fields are not matched to definition.

~/caffe$ ./models/resnet50/train_resnet50.sh
I0119 20:04:23.812739 32156 caffe.cpp:472] This is NVCaffe 0.16.5
I0119 20:04:23.812930 32156 caffe.cpp:475] CuDNN version: 7005
I0119 20:04:23.812935 32156 caffe.cpp:476] CuBLAS version: 9010
I0119 20:04:23.812937 32156 caffe.cpp:477] C

[2018-01-19 19:14] drnikolaev commented on #473
Hi @haruky it's a leftover, sorry. We'll clean this in next release. Please use:
[code]

[2018-01-20 04:11] haruky commented on #473
Hi Thanks! I want t train resnet50 with lars LR option in model examples.
I think a local_lr_auto is used to enable a layer basis LR adaptation by lars function, is it collect?
But, how to correct those definition to enable a lars function. (i'm looking at solver_lars.prototxt. )
Thanks!

[2018-01-21 09:17] drnikolaev commented on #473
Hi @haruky local_lr_auto was experimental feature. It' now replaced by `larc`. See my comment above

[2018-01-21 09:17] #473 closed, assigned to nobody

[2018-01-29 02:01] leon-liangwu commented on #461
Dear @drnikolaev,

Finally, I find the true reason why the training can be killed through time.
It is due to the GPU type and its driver. If I use TITAN X (Pascal) with driver version 375.39, the process will definetely be killed.  When I train on new GPUs whose type is TITAN Xp, the killing will not happen. And the training has been OK for more than 48 hours. I believe the reason is this.

Thanks

[2018-01-30 00:17] drnikolaev commented on #461
Thanks @DreamHorse0301 for the update!

[2018-01-30 00:17] #461 closed, assigned to nobody

[2018-01-30 00:20] drnikolaev commented on #472
Hi @thomas-riccardi thanks. This pre-release has the fix, could you give it a try?
https://github.com/drnikolaev/caffe/tree/caffe-0.17

[2018-01-30 00:20] #472 closed, assigned to nobody

[2018-01-30 00:21] #471 closed, assigned to nobody

[2018-01-30 00:22] drnikolaev commented on #470
Hi @zhouyongxiu we did some improvements after your report, thank you. This is pre-release, could you give it a try?
https://github.com/drnikolaev/caffe/tree/caffe-0.17

[2018-01-30 03:35] zhouyongxiu commented on #470
@drnikolaev thanks for your work, the new version solve the problem, and it has better performance on multi GPU compare with old version, thank you!

[2018-01-30 09:38] thomas-riccardi commented on #472
Hi @drnikolaev , your branch indeed removes the django dependency, fixing my initial issue.

However, it does not address the other points:
- I believe `image` could also be removed
- what about `docker/` ?
- ~~pillow python3~~ pillow is installed via python3-pil, so it's OK